{% extends "common/base_private.html" %}

{% block content  %}
	<div class="main">
		<div class="panel">
			<h3>Alertes</h3>
			<table class="display nowrap" id="datatable">
				<thead>
					<tr>
						<th></th>
						<th>Entité</th>
						<th>Lot</th>
						<th>Alerte</th>
						<th>Date création</th>
						<th>Masquer</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
						<th>Producteur 1</th>
						<th>FRXXX - Biogaz - Blé</th>
						<th>BC / MP Incohérent</th>
						<th>2020-05-05</th>
						<th></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
