{% extends "common/base_private.html" %}

{% block content  %}
	<div class="main">
		<div class="panel">
			<h3>Alertes</h3>
			<table class="display nowrap" id="datatable">
				<thead>
					<tr>
						<th></th>
						<th>Entité</th>
						<th>Lot</th>
						<th>Alerte</th>
						<th>Détails</th>
					</tr>
				</thead>
				<tbody>
					{% for alerte in alertes %}
					<tr>
						<th></th>
						<th>{{alerte.lot.added_by}}</th>
						<th>{{alerte.lot.carbure_id}}</th>
						<th>{{alerte.rule_triggered}}</th>
						<th>{{alerte.details}}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
