{% extends "administrators/index.html" %}

{% block administrator  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h1>Annuaire</h1>
		<table class="table">
			<thead>
				<th>Société</th>
				<th>Catégorie</th>
				<th>Siège social </th>
				<th>Contact</th>
			</thead>
			<tbody>
				<tr>
					<td>Ministère de la Transition Écologique et Solidaire - Direction Générale Énergie et Climat</td>
					<td>Administrateur</td>
					<td>Grande Arche de La Défense - paroi sud / Tour Sequoia, 92055 La Défense, France</td>
					<td>Guillaume Caillou +33145247000 guillaume.caillou@beta.gouv.fr</td>
				</tr>
				<tr>
					<td>BioRaffinerie Lambda</td>
					<td>Producteur Biocarburants</td>
					<td>Dunkerque</td>
					<td>Données non disponibles</td>
				</tr>
				<tr>
					<td>BioRaffinerie Beta</td>
					<td>Producteur Biocarburants</td>
					<td>1 Avenue de la République, 63000 Clermont Ferrand, France</td>
					<td>Mathilde Blanchart +33473000000 m.blanchart@bioraf63.fr</td>
				</tr>
				<tr>
					<td>PetroMax France SAS</td>
					<td>Opérateur Pétrolier</td>
					<td>201 Rue Lecourbe, 75015 Paris, France</td>
					<td>Darren Woods +331000000 darren.woods@petromax-france.com</td>
				</tr>																		
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
