{% extends "administrators/index.html" %}

{% block administrator  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Attestations de Durabilité</h3>
		<table class="table">
			<thead>
				<tr><th class="descending">Période</th>
					<th>Lots</th>
					<th>Producteur</th>
					<th>À Assigner</th>
					<th>Deadline</th>
				</tr>
			</thead>
			<tbody>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2020-01</td>
					<td>50</td>
					<td>BioRaffinerie Lambda</td>
					<td>17</td>
					<td>29 Jours</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2020-01</td>
					<td>32</td>
					<td>BioRaffinerie Beta</td>
					<td>4</td>
					<td>29 Jours</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2020-01</td>
					<td>50</td>
					<td>BioRaffinerie Y</td>
					<td>17</td>
					<td>29 Jours</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2020-01</td>
					<td>75</td>
					<td>Bonduelle Leftovers SAS</td>
					<td>17</td>
					<td>29 Jours</td>
				</tr>		
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2019-12</td>
					<td>50</td>
					<td>BioRaffinerie Lambda</td>
					<td>0</td>
					<td>Terminé</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2019-12</td>
					<td>32</td>
					<td>BioRaffinerie Beta</td>
					<td>0</td>
					<td>Terminé</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2019-12</td>
					<td>50</td>
					<td>BioRaffinerie Y</td>
					<td>0</td>
					<td>Terminé</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2019-12</td>
					<td>75</td>
					<td>Bonduelle Leftovers SAS</td>
					<td>1</td>
					<td>Terminé</td>
				</tr>															
			</tbody>
		</table>
		<nav class="pagination">
				<div class="pagination__display-group">
					<label for="pagination__display" class="pagination__display-label">Rows per page</label>
					<select class="pagination__display" id="pagination__display">
						<option>5</option>
						<option>10</option>
						<option>50</option>
						<option>100</option>
					</select>
				</div>
				<div class="pagination__count"><strong>3</strong> sur <strong>112</strong></div>
				<ul class="pagination__pages">
					<li class="disabled">
						<a>❮&nbsp;Précédent</a>
					</li>
					<li class="active">
						<a>1</a>
					</li>
					<li>
						<a>2</a>
					</li>
					<li>
						<a>3</a>
					</li>
					<li>
						<a>4</a>
					</li>
					<li class="disabled">
						<a>5</a>
					</li>
					<li>
						<a>Suivant&nbsp;❯</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}