{% extends "common/base_private.html" %}

{% block content  %}
	<div class="main">
		<div class="panel">
		    <div class="panel__header">
		      <h3>{{certificate.producer.name}} - {{certificate.production_site.name}} - Certificat</h3>
		      <small class="panel__header-extra"><a href="{{ certificate.certificate.url }}" target="_blank">{{ certificate.certificate.name }}</a></small>
		    </div>					
			<h3>Matières Premières</h3>
			<table class="display nowrap" id="datatable_mp">
				<thead>
					<tr>
						<th>Matiere Premiere</th>
						<th>Statut</th>
						<th>Valider</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for input in mps %}
					<tr>
						<td>{{input.matiere_premiere.name}}</td>
						<td>{{input.get_status_display}}</td>
						<td><a href="{% url 'administrators-validate-input' crtid=certificate.id inputid=input.id %}" class="button primary">Valider</a></td>
						<td><a href="{% url 'administrators-delete-input' crtid=certificate.id inputid=input.id %}" class="button secondary">Supprimer</a></td>
					</tr>					
		            {% empty %}
		              <tr>
		                <td colspan="4">Aucune matière première enregistrée à ce jour.</td>
		              </tr>
		            {% endfor %}					
			</table>
		</div>
		<div class="panel">
			<h3>Biocarburants</h3>
			<table class="display nowrap" id="datatable_c">
				<thead>
					<tr>
						<th>Biocarburant</th>
						<th>Statut</th>
						<th>Valider</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for output in biocarburants %}
					<tr>
						<td>{{output.biocarburant.name}}</td>
						<td>{{output.get_status_display}}</td>
						<td><a href="{% url 'administrators-validate-output' crtid=certificate.id outputid=output.id %}" class="button primary">Valider</a></td>
						<td><a href="{% url 'administrators-delete-output' crtid=certificate.id outputid=output.id %}" class="button secondary">Supprimer</a></td>
					</tr>
		            {% empty %}
		              <tr>
		                <td colspan="4">Aucun biocarburant enregistré à ce jour.</td>
		              </tr>
		            {% endfor %}					
			</table>
		</div>
		<div class="panel">
			<h3>Certificat</h3>
			<iframe title="Embedded Certificate" width="100%" min-height="800px" src="{{ certificate.certificate.url }}">
			</iframe>
		</div>					
	</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
	var table = $('#datatable_mp').DataTable({
		paging: false,
		searching: false,
		info: false,
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],				
	});

	var table_c = $('#datatable_c').DataTable({
		paging: false,
		searching: false,
		info: false,
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],				
	});	
});
</script>
{% endblock %}