{% extends "common/base_private.html" %}

{% block content  %}
	<div class="main">
		<div class="panel">
			<div class="panel__header">
            <h3>Settings</h3>
            <small class="panel__header-extra">Créé le 31 février</small>
          </div>
    <section class="form__group"> 
      <h3>Sociétés</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Classification</th>
                <th>Date de création</th>
              </tr>
            </thead>
            <tbody>
              {% for entity in entities %}
              <tr>
                <td>{{entity.name}}</td>
                <td>{{entity.entity_type}}</td>
                <td>{{entity.date_added}}</td>
              </tr>          
              {% empty %}
              <tr>
                <td colspan="3">Aucune société enregistrée à ce jour.</td>
              </tr>                    
              {% endfor %}   
            </tbody>
          </table>
          <div class="flex-container-right">
            <a class="button primary" id="btn_open_modal_entity">Ajouter Société</a>
          </div>   
    </section>

    <section class="form__group"> 
      <h3>Utilisateurs</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Réinitialisation de mot de passe</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><a class="button primary" href="{% url 'administrators-reset-user-password' uid=user.id %}">Reset</a></td>
              </tr>          
              {% empty %}
              <tr>
                <td colspan="3">Aucun compte utilisateur enregistré à ce jour.</td>
              </tr>                    
              {% endfor %}   
            </tbody>
          </table>
          <div class="flex-container-right">
            <a class="button primary" id="btn_open_modal_user">Ajouter Utilisateur</a>
          </div>   
    </section>

    <section class="form__group"> 
      <h3>Droits</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Utilisateur</th>
                <th>Société</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for right in user_rights %}
              <tr>
                <td>{{right.user.name}} - {{right.user.email}}</td>
                <td>{{right.entity.name}}</td>
                <td><a class="button primary">Supprimer</a></td>
              </tr>          
              {% empty %}
              <tr>
                <td colspan="3">Aucun droit enregistré à ce jour.</td>
              </tr>                    
              {% endfor %}   
            </tbody>
          </table>
          <div class="flex-container-right">
            <a class="button primary" id="btn_open_modal_right">Ajouter Droit</a>
          </div>   
    </section>
		</div>
	</div>


<div class="modal__backdrop" id="modal_entity">
  <div class="modal">
    <span id="modal_entity_form_err_message" style="color: red;"></span>
    <form id="modal_entity_form" method="POST" data-url="{% url 'administrators-add-entity' %}">
      {% csrf_token %}
      <label for="modal_entity_name">Nom</label>
      <input type="text" id="modal_entity_name" name="name" placeholder="BioRaffinage SA">
      <label for="modal_entity_cat">Catégorie</label>
      <select id="modal_entity_cat" name="category">
        {% for cat in entity_categories %}
        <option value="{{cat.0}}">{{cat.1}}</option>
        {% endfor %}
      </select>
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_entity">Annuler</a>
        <button type="submit" class="button">Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_user">
  <div class="modal">
    <span id="modal_user_form_err_message" style="color: red;"></span>
    <form id="modal_user_form" method="POST" data-url="{% url 'administrators-add-user' %}">
      {% csrf_token %}
      <label for="modal_user_name">Nom</label>
      <input type="text" id="modal_user_name" name="name" placeholder="Jean-Claure Bertelot">
      <label for="modal_user_email">Email</label>
      <input type="text" id="modal_user_email" name="email" placeholder="jean-claude.bertelot@grainedetournesol.fr">

      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_user">Annuler</a>
        <button type="submit" class="button">Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_right">
  <div class="modal">
    <span id="modal_right_err_message" style="color: red;"></span>
    <form id="modal_right_form" method="POST">
      {% csrf_token %}
      <label for="modal_right_user">Utilisateur</label>
      <div class="input__group">
        <input type="text" id="modal_right_user" class="autocomplete_users" name="user">
      </div>       
      <label for="modal_right_entity">Société</label>
      <div class="input__group">
        <input type="text" id="modal_right_entity" class="autocomplete_entities" name="entity">
      </div>      
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_right">Annuler</a>
        <button type="submit" class="button">Ajouter</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var modals = ["modal_entity", "modal_user", "modal_right"]

for (let i = 0, len = modals.length; i < len; i++) {
  let modalid = modals[i]
  let modal = document.getElementById(modalid)
  let btn_open_modal = document.getElementById("btn_open_" + modalid)
  let btn_close_modal = document.getElementById("btn_close_" + modalid)
  btn_open_modal.onclick = function() {
    modal.style.display = "flex";
  }
  btn_close_modal.onclick = function() {
    modal.style.display = "none"
  }
}

// clicking outside of the modal window will close it
window.onclick = function(event) {
  for (let i = 0, len = modals.length; i < len; i++) {
    let modalid = modals[i]
    let modal = document.getElementById(modalid)
    if (event.target == modal) {
      modal.style.display = "none"
    }
  }
}

// escape key
document.addEventListener('keydown', function(event) {
    if (event.keyCode === 27) {
      for (let i = 0, len = modals.length; i < len; i++) {
        let modalid = modals[i]
        let modal = document.getElementById(modalid)
        modal.style.display = "none"
      }
    }
});

$(".autocomplete_entities").autocomplete({
  serviceUrl: "{% url 'admin-api-entities-autocomplete' %}",
  dataType: 'json'
})

$(".autocomplete_users").autocomplete({
  serviceUrl: "{% url 'admin-api-users-autocomplete' %}",
  dataType: 'json'
})


</script>
{% endblock %}