{% extends "common/base_private.html" %}

{% block content  %}
	<div class="main">
		<div class="panel">
			<div class="panel__header">
        <h3>Settings</h3>
      </div>
      <ul class="tabs__tab-list">
        <li id="tab_entities_title" class="tabs__tab tabs__tab--selected" data-dst="tab_entities">Sociétés</li>
        <li id="tab_users_title" class="tabs__tab" data-dst="tab_users">Utilisateurs</li>
        <li id="tab_rights_title" class="tabs__tab" data-dst="tab_rights">Droits</li>
      </ul>


    <div id="tab_entities" class="tabcontent">
      <h3>Sociétés</h3>
      <table class="table" id="datatable_entities">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Classification</th>
            <th>Date de création</th>
          </tr>
        </thead>
        <tbody>
          {% for entity in all_entities %}
          <tr>
            <td>{{entity.name}}</td>
            <td>{{entity.entity_type}}</td>
            <td>{{entity.date_added}}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">Aucune société enregistrée à ce jour.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="flex-container-right">
        <a class="button primary" id="btn_open_modal_entity">Ajouter Société</a>
      </div>
    </div>

    <div id="tab_users" class="tabcontent">
      <h3>Utilisateurs</h3>
          <table class="table" id="datatable_users">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Réinitialisation de mot de passe</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><a class="button primary" href="{% url 'administrators-reset-user-password' uid=user.id %}">Reset</a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Aucun compte utilisateur enregistré à ce jour.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="flex-container-right">
            <a class="button primary" id="btn_open_modal_user">Ajouter Utilisateur</a>
          </div>
    </div>

    <div id="tab_rights" class="tabcontent">
      <h3>Droits</h3>
          <table class="table" id="datatable_rights">
            <thead>
              <tr>
                <th>Utilisateur</th>
                <th>Société</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for right in user_rights %}
              <tr>
                <td>{{right.user.name}} - {{right.user.email}}</td>
                <td>{{right.entity.name}}</td>
                <td><a class="button primary btn_open_modal_right_delete" data-rightid="{{right.id}}" data-user="{{right.user.name}}" data-entity="{{right.entity.name}}">Supprimer</a></td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">Aucun droit enregistré à ce jour.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="flex-container-right">
            <a class="button primary" id="btn_open_modal_right">Ajouter Droit</a>
          </div>
    </div>
		</div>
	</div>


<div class="modal__backdrop" id="modal_entity">
  <div class="modal">
    <span id="modal_entity_form_err_message" style="color: red;"></span>
    <form id="modal_entity_form" method="POST" data-url="{% url 'administrators-add-entity' %}">
      {% csrf_token %}
      <label for="modal_entity_name">Nom</label>
      <input type="text" id="modal_entity_name" name="name" placeholder="BioRaffinage SA">
      <label for="modal_entity_cat">Catégorie</label>
      <select id="modal_entity_cat" name="category">
        {% for cat in entity_categories %}
        <option value="{{cat.0}}">{{cat.1}}</option>
        {% endfor %}
      </select>
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_entity">Annuler</a>
        <button type="submit" class="button">Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_user">
  <div class="modal">
    <span id="modal_user_form_err_message" style="color: red;"></span>
    <form id="modal_user_form" method="POST" data-url="{% url 'administrators-add-user' %}">
      {% csrf_token %}
      <label for="modal_user_name">Nom</label>
      <input type="text" id="modal_user_name" name="name" placeholder="Jean-Claure Bertelot">
      <label for="modal_user_email">Email</label>
      <input type="text" id="modal_user_email" name="email" placeholder="jean-claude.bertelot@grainedetournesol.fr">

      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_user">Annuler</a>
        <button type="submit" class="button">Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_right">
  <div class="modal">
    <span id="modal_right_err_message" style="color: red;"></span>
    <form id="modal_right_form" method="POST" data-url="{% url 'administrators-add-right' %}">
      {% csrf_token %}
      <label for="modal_right_user">Utilisateur</label>
      <div class="input__group">
        <input type="text" id="modal_right_user" class="autocomplete_users">
        <input type="hidden" id="modal_right_user_id" name="user">
      </div>
      <label for="modal_right_entity">Société</label>
      <div class="input__group">
        <input type="text" id="modal_right_entity" class="autocomplete_entities">
        <input type="hidden" id="modal_right_entity_id" name="entity">
      </div>
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_right">Annuler</a>
        <button type="submit" class="button">Ajouter</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_right_delete">
  <div class="modal">
    <span id="modal_right_delete_form_err_message" style="color: red;"></span>
    <form id="modal_right_delete_form" method="POST" data-url="{% url 'administrators-delete-right' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir supprimer ce droit ?</p>
      <dl>
        <dt>Utilisateur</dt>
        <dd id="modal_right_delete_user"></dd>
        <dt>Société</dt>
        <dd id="modal_right_delete_entity"></dd>
      </dl>
      <input type="hidden" id="modal_right_delete_id" name="right_id">
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_right_delete">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

$(document).ready(function() {
  // show drafts tab
  tabcontent = document.getElementById("tab_users")
  tabcontent.style.display = "block";
  init_tab_generic("tab_users")
})

$(".autocomplete_entities").autocomplete({
  serviceUrl: "{% url 'admin-api-entities-autocomplete' %}",
  dataType: 'json',
  onSelect: function(suggestion) {
    $("#modal_right_entity_id").val(suggestion.data)
  }
})

$(".autocomplete_users").autocomplete({
  serviceUrl: "{% url 'admin-api-users-autocomplete' %}",
  dataType: 'json',
  onSelect: function(suggestion) {
    $("#modal_right_user_id").val(suggestion.data)
  }
})


</script>
{% endblock %}