{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Lots</h3>
	    <div class="flex-container">
	      <a id="btn_open_modal_columns" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
	        <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
	      </a>
	      <a class="button modal-button" href="{% url 'admin-api-lots-export' %}" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
	        <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
	      </a>
        <select id="pagelength_lots_admin" style="margin-top: auto;">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>



	      <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
	      <input type="text" id="input_search_datatable" style="width: 200px; height: 2em; margin-top: auto; margin-bottom: auto;" />

	    </div>
	    <table class="display nowrap" id="datatable">
	      <!-- dynamically generated in js -->
	      <thead></thead>
	      <tfoot></tfoot>
	      <tbody></tbody>
	    </table>
	</div>
</div>

<div class="modal__backdrop" id="modal_columns_admin">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_admin_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_admin_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_admin">Fermer</a>
    </div>
  </div>
</div>

{% include "common/modal_lot_ro.html" %}


{% endblock %}

{% block extra_js %}
<script type="text/javascript">
window.api_get_out = "{% url 'api-v2-admin-get-out' %}"
$(document).ready(function() {
  init_tab_generic("tab_lots")
})
</script>
{% endblock %}
