{% extends "administrators/index.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.css"/>
{% endblock %}

{% block administrator  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Lots</h3>
		<table class="display nowrap bluehover" id="datatable">
			<thead>
				<tr>
					<th>Dépôt</th>
					<th>N°DAE ou DAA</th>
					<th>Date d'entrée</th>
					<th>Volume</th>
					<th>Types</th>
					<th>Filière de production</th>
					<th>Catégorie</th>
					<th>Système fournisseur</th>
					<th>Pays d'origine</th>
					<th>Respect des critères de durabilité</th>
					<th>GES transport et distribution</th>
					<th>Total émissions de GES</th>
					<th>GES du carburant fossile</th>
					<th>% de réduction totale</th>
					<th>Éligible double-comptage</th>
					<th>Pays d'implantation</th>
					<th>Date de mise en service</th>
					<th>Status du Lot</th>
					<th>Affiliation</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>SAIPOL</td>
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Betterave</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>--</td>
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>--</td>
				</tr>							
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>	
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>																													
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>1/10/2019</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Blé</td>
					<td>CONV</td>
					<td>SV-2BS010010</td>
					<td>FR</td>
					<td>Oui</td>
					<td>1.00</td>
					<td>34.12</td>
					<td>83.80</td>
					<td>59.28%</td>
					<td>N/A</td>
					<td>FR</td>
					<td>1/7/2007</td>
					<td>Validé</td>
					<td>Export</td>					
				</tr>																																
			</tbody>
			<tfoot>
				<tr>
					<th>Dépôt</th>
					<th>N°DAE ou DAA</th>
					<th>Date d'entrée</th>
					<th>Volume</th>
					<th>Types</th>
					<th>Filière de production</th>
					<th>Catégorie</th>
					<th>Système fournisseur</th>
					<th>Pays d'origine</th>
					<th>Respect des critères de durabilité</th>
					<th>GES transport et distribution</th>
					<th>Total émissions de GES</th>
					<th>GES du carburant fossile</th>
					<th>% de réduction totale</th>
					<th>Éligible double-comptage</th>
					<th>Pays d'implantation</th>
					<th>Date de mise en service</th>
					<th>Status du Lot</th>
					<th>Affiliation</th>
				</tr>				
			</tfoot>
		</table>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var table = $('#datatable').DataTable({
		paging: true,
		scrollX: true,
		autoWidth: false,
		scrollCollapse: true,
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],				
		initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex($(this).val());
                        column.search(val ? '^'+val+'$' : '', true, false).draw();
                    } );
 
                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="'+d+'">'+d+'</option>')
                } );
            } );
        }

	})
})
</script>
{% endblock %}