	<aside class="side-menu" role="navigation" style="max-width: 170px;">
		<ul>
			<li><a {% if current_url_name == 'administrators-index' %}class="active"{% endif %} href="{% url 'administrators-index' %}">Lots</a></li>
			<li><a {% if current_url_name == 'administrators-export' %}class="active"{% endif %} href="{% url 'administrators-export' %}">Export</a></li>
			<li><a {% if current_url_name == 'administrators-controles' %}class="active"{% endif %} href="{% url 'administrators-controles' %}">Suivi Contrôles<span class="badge badge-red">2</span></a></li>
			<li><a {% if current_url_name == 'administrators-notifications' %}class="active"{% endif %} href="{% url 'administrators-notifications' %}">Notifications<span class="badge badge-green">12</span></a></li>
			<li><a {% if current_url_name == 'administrators-suivi-corrections' %}class="active"{% endif %} href="{% url 'administrators-suivi-corrections' %}">Suivi Corrections<span class="badge badge-green">4</span></a></li>
			<li><a {% if current_url_name == 'annuaire' %}class="active"{% endif %} href="{% url 'annuaire' %}">Annuaire</a></li>
			<li><a {% if current_url_name == 'administrators-settings' %}class="active"{% endif %} href="{% url 'administrators-settings' %}">Paramètres</a></li>
		</ul>
	</aside>
