{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Statistiques 2020 - {{biocarburant}}</h3>
	    <div class="flex-container">
        <table class="table">
          <thead>
            <tr>
              <th>Producteur</th>
              <th>Volume produit</th>
            </tr>
          </thead>
          <tbody>
            {% for s in stats %}
            <tr>
              <td>{{s.producer}}</td>
              <td>{{s.vol}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
	    </div>
	</div>
</div>
{% endblock %}

