{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Statistiques 2020</h3>
	    <div class="flex-container">
        <table class="table">
          <thead>
            <tr>
              <th>Type de Biocarburant</th>
              <th>Volume produit en France</th>
              <th>Volume Importé</th>
              <th>Tonnes de CO2 économisées</th>
            </tr>
          </thead>
          <tbody>
            {% for s in stats %}
            <tr>
              <td><a href="{% url 'administrators-stats-details' bc_code=s.bc_code mp_code=s.mp_code  %}">{{s.title}}</a></td>
              <td>{{s.vol_fr}}</td>
              <td>{{s.vol_nfr}}</td>
              <td>{{s.eco_co2}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
	    </div>
	</div>
</div>
{% endblock %}

