{% extends "administrators/index.html" %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.css"/>
{% endblock %}

{% block administrator  %}
	<div class="main">
		<div class="panel">
			<h3>Suivi Corrections</h3>
			<table class="display nowrap" id="datatable">
				<thead>
					<tr><th>Période</th>
						<th>Lot</th>
						<th>Producteur</th>
						<th>Date affiliation</th>
						<th>Opérateur</th>
						<th>Date demande correction</th>
						<th>Date modification</th>
						<th>Message opérateur</th>
						<th>Réponse producteur</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2020-01</td>
						<td>19FRG0432000482724020</td>
						<td>Bioraffinerie Lambda</td>
						<td>2020/01/15</td>
						<td>SAIPOL</td>
						<td>2020/02/08</td>
						<td>2020/02/12</td>
						<td>Bonjour, GES Total correct?</td>
						<td>Corrigé. La valeur totale n'était pas...</td>
					</tr>
					<tr>
						<td>2020-01</td>
						<td>19FRG0432000482724020</td>
						<td>Bioraffinerie Lambda</td>
						<td>2020/01/15</td>
						<td>SAIPOL</td>
						<td>2020/02/08</td>
						<td>2020/02/12</td>
						<td>Bonjour, GES Total correct?</td>
						<td>Corrigé. La valeur totale n'était pas...</td>
					</tr>
					<tr>
						<td>2020-01</td>
						<td>19FRG0432000482724020</td>
						<td>Bioraffinerie Lambda</td>
						<td>2020/01/15</td>
						<td>SAIPOL</td>
						<td>2020/02/08</td>
						<td>2020/02/12</td>
						<td>Bonjour, GES Total correct?</td>
						<td>Corrigé. La valeur totale n'était pas...</td>
					</tr>
					<tr>
						<td>2020-01</td>
						<td>19FRG0432000482724020</td>
						<td>Bioraffinerie Lambda</td>
						<td>2020/01/15</td>
						<td>SAIPOL</td>
						<td>2020/02/08</td>
						<td>2020/02/12</td>
						<td>Bonjour, GES Total correct?</td>
						<td>Corrigé. La valeur totale n'était pas...</td>
					</tr>
					<tr>
						<td>2020-01</td>
						<td>19FRG0432000482724020</td>
						<td>Bioraffinerie Lambda</td>
						<td>2020/01/15</td>
						<td>SAIPOL</td>
						<td>2020/02/08</td>
						<td>2020/02/12</td>
						<td>Bonjour, GES Total correct?</td>
						<td>Corrigé. La valeur totale n'était pas...</td>
					</tr>																				
				</tbody>
			</table>
		</div>
	</div>

<div class="modal__backdrop" id="modal_controle">
	<div class="modal modal-big">
		<section class="flex-container">
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Informations Générales</h2>
					<label for="ml_depot">Dépôt</label>
					<input type="text" value="" id="ml_depot">
					<label for="ml_dae">N°DAE ou DAA</label>
					<input type="text" value="" id="ml_dae">
					<label for="ml_volume">Volume</label>
					<input type="text" value="" id="ml_volume">
					<label for="ml_date_entree">Date d'entrée en EFS ou UER</label>
					<input type="text" value="" id="ml_date_entree">
					<label for="ml_pays">Pays d'implantation</label>
					<input type="text" value="" id="ml_pays">
					<label for="ml_date_mise_en_service">Date de mise en service</label>
					<input type="text" value="" id="ml_date_mise_en_service">
				</div>
			</div>
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Durabilité</h2>
					<label for="ml_filiere">Filière de production</label>
					<select id="ml_filiere">
						<option>Choisissez...</option>
						<option>Colza</option>
						<option>Maïs</option>
						<option>Navet</option>
						<option>Fenouil</option>
					</select>
					<label for="ml_type">Types</label>
					<input type="text" value="" id="ml_type">
					<label for="ml_cat">Catégorie</label>
					<input type="text" value="" id="ml_cat">
					<label for="ml_systeme_fournisseur">Système fournisseur</label>
					<input type="text" value="" id="ml_systeme_fournisseur">
					<label for="ml_pays_origine">Pays d'origine</label>
					<input type="text" value="" id="ml_pays_origine">
					<label for="ml_respect_crit_durabilite">Respect des critères de durabilité</label>
					<input type="text" value="" id="ml_respect_crit_durabilite">
					<label for="ml_num_double_comptage">Numéro d'enregistrement double-comptage</label>
					<input type="text" value="" id="ml_num_double_comptage">
				</div>
			</div>
		</section>
		<section class="flex-container">
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Émissions GES</h2>
					<table>
						<thead>
							<th>GES transport et distribution</th>
							<th>Total émissions de GES</th>
							<th>GES du carburant fossile</th>
							<th>% de réduction totale</th>
						</thead>
						<tbody>
							<td><input type="text" id="ml_ges_transport_distribution" /></td>
							<td><input type="text" id="ml_ges_total" /></td>
							<td><input type="text" id="ml_ges_fossile" /></td>
							<td><input type="text" id="ml_ges_reduction" /></td>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section class="flex-container">
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Correction</h2>
					<table>
						<thead>
							<th>Date</th>
							<th>Source</th>
							<th>Message</th>
						</thead>
						<tbody>
							<tr>
								<td>27/01/2020</td>
								<td>Total</td>
								<td>Bonjour, pouvez-vous vérifier les valeurs transport GES? Elles me paraissent trop élevées pour du Colza</td>
							</tr>
							<tr>
								<td><input type="text" id="ml_date_correction" value="03/02/2020"/></td>
								<td><input type="text" id="ml_source_correction" value="BioRaffinerie Lambda"/></td>
								<td><input type="text" id="ml_message_correction" value="Corrigé! Merci"/></td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</section>		
		<section class="flex-container-right">
			<div class="form__group button__group">
				<a class="button secondary close" href="#">Corriger</a>
				<a class="button secondary close" href="#">Ok</a>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var table_controles = $('#datatable').DataTable({
		paging: false,
		searching: false,
		info: false,
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],				
	});

	/* click on datatable row */
	var modal_controle = document.getElementById("modal_controle")
	$('#datatable tbody').on('click', 'tr', function() {
        var data = table_controles.row(this).data();
        // add data to modal
        for (let i = 0, len = data.length; i < len; i++) {
        	let col_data = data[i]
        	//let destination_element = col2field[i]
        	//$(`#${destination_element}`).val(col_data)
        }
		// show modal
		modal_controle.style.display = "flex";
	});

	/* modal close events */
	window.onclick = function(event) {
	  if (event.target == modal_controle) {
	    modal_controle.style.display = "none"
	  }
	}
	// escape key
	$(document).keydown(function(event) {
	  if (event.keyCode == 27) {
	    modal_controle.style.display = "none"
	  }
	});
});
</script>
{% endblock %}