{% extends "common/base_private.html" %}

{% block content  %}
	<div class="main">
		<div class="panel">
			<h3>Certificats Producteurs</h3>
			<table class="display nowrap" id="datatable">
				<thead>
					<tr>
						<th>Producteur</th>
						<th>Site de production</th>
						<th>Certificat</th>
						<th>PDF</th>
						<th>Date création</th>
						<th>Date expiration</th>
						<th>MP (à valider)</th>
						<th>Biocarburants (à valider)</th>
						<th>Statut</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
		            {% for crt in certificates %}
		              <tr onclick="window.location='{% url 'administrators-certificate-details' id=crt.id %}'">
		                <td>{{ crt.producer }}</td>
		                <td>{{ crt.production_site }}</td>
		                <td>{{ crt.certificate_id }}</td>
		                <td><a href="{{ crt.certificate.url }}" target="_blank">{{ crt.certificate.name }}</a></td>
		                <td>{{ crt.date_added }}</td>
		                <td>{{ crt.expiration }}</td>
		                <td>4 (1)</td>
		                <td>1 (0)</td>
		                <td>{{ crt.get_status_display }}</td>
		                <td><a class="button primary" href="{% url 'administrators-validate-certificate' id=crt.id %}">Valider</a></td>
		              </tr>
		            {% empty %}
		              <tr>
		                <td colspan="7">Aucun certificat enregistré à ce jour.</td>
		              </tr>
		            {% endfor %}					
		        <tfoot>
					<tr>
						<th>Producteur</th>
						<th>Site de production</th>
						<th>Certificat</th>
						<th>PDF</th>
						<th>Date création</th>
						<th>Date expiration</th>
						<th>MP (à valider)</th>
						<th>Biocarburants (à valider)</th>						
						<th>Statut</th>
						<th></th>						
					</tr>					
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
	COLUMN_FILTER = [0, 1, 7]
	var table_controles = $('#datatable').DataTable({
		paging: false,
		searching: false,
		info: false,
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],				
		initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                if (COLUMN_FILTER.includes(column.index())) {
	                var select = $('<select><option value=""></option></select>')
	                    .appendTo( $(column.footer()).empty() )
	                    .on( 'change', function () {
	                        var val = $.fn.dataTable.util.escapeRegex($(this).val());
	                        column.search(val ? '^'+val+'$' : '', true, false).draw();
	                    } );
	 
	                column.data().unique().sort().each(function (d, j) {
	                    select.append('<option value="'+d+'">'+d+'</option>')
	                } );
	            }
            } );
        }      		
	});
});
</script>
{% endblock %}
