.custom-stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.custom-stepper__step {
  max-width: 50px;
  width: 100%;
  height: 0.5rem;
  background-color: var(--background-contrast-grey);
}

.custom-stepper__step--current {
  background-color: var(--background-active-blue-france);
}
