.settingsTop {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-light);
  padding: 24px 120px;
  margin-top: 1px;
  box-shadow: 0px 1px 2px var(--gray-medium);
}

.settingsHeader {
  display: flex;
  justify-content: space-between;
}

.settingsBody {
  padding: 24px 120px;
}

.settingsBody h1 {
  font-size: 1.25em;
}

.settingsCheckbox {
  align-self: flex-start;
  height: auto;
  margin: 8px 0;
}

div > .settingsSelect {
  margin-top: 16px;
  margin-bottom: 0;
}

.settingsTable {
  margin-top: 8px;
}

.settingsForm a {
  margin: 16px 0;
}

.settingsForm > div > label {
  flex: 1;
}

.settingsForm > div > label:first-child {
  margin-right: 16px;
}

.settingsFormColumns > div:first-child {
  margin-right: 16px;
}

.settingsForm hr {
  width: 100%;
  background: transparent;
  border: none;
  margin: 16px 0;
}

.settingsLink {
  color: var(--blue-medium);
  text-decoration: underline;
  margin: 0 6px;
  flex-shrink: 0;
}

.expiredRow {
  opacity: 0.5;
}

.expirationDate {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.expirationDate.expired {
  color: var(--orange-dark);
}

.expirationDate.expired button {
  font-size: 0.87em;
  margin-left: 12px;
  padding: 4px 8px;
}

.expirationDate.expired button :global(.icon) {
  width: 14px;
}

.settingsText {
  margin: 16px 0;
}

.settingsPrompt {
  width: 600px;
}

.settingsFormButton {
  margin-bottom: 24px;
}

.modalTableContainer {
  width: auto;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 16px;
}

.modalTableAddRow {
  display: inline-block;
  margin-left: 24px;
  margin-top: 12px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.settingsStatus {
  margin-right: 12px;
}
