{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Erreur</h2>
        <div class="form-group">
          <div class="col"></div>
          <div class="col">
          	<p>Votre compte a bien été créé, mais il n'a pas encore été assigné à une organisation. Veuillez contacter votre référent auprès du Ministère de la Transition Écologique et Solidaire.</p>
          </div>
          <div class="col"></div>
        </div>
    </div>
  </section>
</main>
{% endblock %}