{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="App">
    <section class="section">
      <div class="container">
        <h2 class="text-center">Nombre de lots enregistrés sur Carbure</h2>
        <div class="row" style="margin-top: 2em; display: flex; justify-content: space-around; align-items: center;">
          <iframe title="question1" src="https://metabase.trackdechets.beta.gouv.fr/public/question/82437964-44ee-43ae-8267-a5b521e815b4" frameborder="0" width="800" height="400"></iframe>
        </div>
        <div class="row">
          <iframe title="question2" src="https://metabase.trackdechets.beta.gouv.fr/public/question/fa7e2315-bbae-4cf6-ae0f-34cf4821c226" frameborder="0" width="350" height="250"></iframe>
          <iframe title="question3" src="https://metabase.trackdechets.beta.gouv.fr/public/question/f72b7a7a-3f75-4a46-839d-bffce3b87409" frameborder="0" width="350" height="250"></iframe>
          <iframe title="question4" src="https://metabase.trackdechets.beta.gouv.fr/public/question/657c9d7f-404f-40a2-9a74-fc808ceae95f" frameborder="0" width="350" height="250"></iframe>
        </div>
      </div>
    </section>
    <hr>
    <section class="section">
      <div class="container">
        <h2 class="text-center">Les utilisateurs et partenaires de Trackdéchets</h2>
        <div class="row">
          <iframe title="question5" src="https://metabase.trackdechets.beta.gouv.fr/public/question/fc1df57e-d1c8-4150-a113-1f7bba5c1764" frameborder="0" width="700" height="400"></iframe>
          <iframe title="question6" src="https://metabase.trackdechets.beta.gouv.fr/public/question/d0ac5b40-b35e-4fa6-94f5-3b586ad8e349" frameborder="0" width="350" height="400"></iframe>
        </div>
      </div>
    </section>
    <hr>
    <section class="section">
      <div class="container">
        <h2 class="text-center">Sécurisation écosystème déchets dangeureux</h2>
        <div class="row">
          <iframe title="question7" src="https://metabase.trackdechets.beta.gouv.fr/public/question/15cf54b7-28a4-4099-b033-111341937d77" frameborder="0" width="350" height="250"></iframe>
          <iframe title="question8" src="https://metabase.trackdechets.beta.gouv.fr/public/question/774a988a-039c-4bd0-b74a-54f5dcf251cc" frameborder="0" width="350" height="250"></iframe>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}

