{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="App">
    <section class="section">
      <div class="container">
        <h2 class="text-center">Carbure - Statistiques de la plateforme</h2>
        <div class="row" style="margin-top: 2em; display: flex; justify-content: space-around; align-items: center;">
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/6fe98f7b-e5b6-4888-8477-bda3697e2770" frameborder="0" width="800" height="400" allowtransparency></iframe>
        </div>
        <div class="row">
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/8d8ec3f1-7911-4db3-ad78-91fca4c5db87" frameborder="0" width="350" height="250" allowtransparency></iframe>
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/c55509bd-7ec1-418b-aeae-a30cb2e1ebb0" frameborder="0" width="350" height="250"  allowtransparency></iframe>
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/1cbf88d0-e804-49b5-aca2-1f93db68ff10" frameborder="0" width="350" height="250" allowtransparency></iframe>
        </div>
      </div>
    </section>
    <hr>
    <section class="section">
      <div class="container">
        <h2 class="text-center">Provenance & Durabilité</h2>
        <div class="row">
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/22e21908-2909-40b6-8294-04c015e6f321" frameborder="0" width="700" height="400" allowtransparency></iframe>
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/065cd86a-b950-48fd-ae70-a83534870394" frameborder="0" width="350" height="400" allowtransparency></iframe>
        </div>
      </div>
    </section>
    <hr>
    <section class="section">
      <div class="container">
        <h2 class="text-center">Production</h2>
        <div class="row">
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/e2b39332-a042-47b3-9044-93f0646305d8" frameborder="0" width="700" height="400" allowtransparency></iframe>
          <iframe src="http://carbure.beta.gouv.fr:3000/public/question/4ef766fd-8ff6-4e39-a882-3e043c74dd35" frameborder="0" width="350" height="400" allowtransparency></iframe>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}

