version: '3.5'
services:
  carbure-mariadb:
    image: mariadb:latest
    restart: always
    container_name: carbure_mariadb
    environment:
      ENV: ${IMAGE_TAG}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DJANGO_DATABASE}
      MYSQL_USER: ${DJANGO_DB_USER}
      MYSQL_PASSWORD: ${DJANGO_DB_PASSWORD}
    volumes:
    - carburedb:/var/lib/mysql
    networks:
    - carbure

  carbure-django:
    build:
      context: ${CARBURE_HOME}
      dockerfile: docker/Dockerfile.django
    command: bash /app/web/run.sh
    restart: always
    container_name: carbure_app
    image: carbure_app:local
    environment:
      IMAGE_TAG: ${IMAGE_TAG}
      DJANGO_DATABASE: ${DJANGO_DATABASE}
      DJANGO_DB_USER: ${DJANGO_DB_USER}
      DJANGO_DB_PASSWORD: ${DJANGO_DB_PASSWORD}
      DJANGO_DB_HOST: ${DJANGO_DB_HOST}
      DJANGO_DB_PORT: 3306
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      DEBUG: ${DEBUG}
      CARBURE_HOME: /app
      SENTRY_DSN: ${SENTRY_DSN}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      PYTHONPATH: /app:/app/web
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_STORAGE_BUCKET_NAME: ${AWS_STORAGE_BUCKET_NAME}
      AWS_S3_REGION_NAME:  ${AWS_S3_REGION_NAME}
      AWS_S3_ENDPOINT_URL: ${AWS_S3_ENDPOINT_URL}
      AWS_S3_USE_SSL: ${AWS_S3_USE_SSL}
    volumes:
    - ${CARBURE_HOME}:/app #for dev only, allows for auto-refresh of files
    depends_on:
    - carbure-mariadb
    networks:
    - carbure

  carbure-web-proxy:
    build:
      context: ${CARBURE_HOME}
      dockerfile: docker/Dockerfile.web
    restart: always
    container_name: carbure_web
    image: carbure_web:local
    environment:
      NGINX_HOSTS: ${NGINX_HOSTS}
      IMAGE_TAG: ${IMAGE_TAG}
    command: /bin/bash -c "envsubst < /etc/nginx/conf.d/web.dev.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
    depends_on:
    - carbure-django
    volumes:
    # dev: mount static directory
    - ${CARBURE_HOME}/web/static:/var/www/html
    ports:
    - 8090:80
    networks:
    - carbure

  carbure-metabase:
    restart: always
    container_name: carbure_metabase
    image: metabase/metabase
    depends_on:
    - carbure-mariadb
    ports:
    - 127.0.0.1:3000:3000
    volumes:
    - metabase-data:/metabase-data
    environment:
    - MB_DB_FILE: "/metabase-data/metabase.db"
    networks:
    - carbure

volumes:
  metabase-data:
    name: carbure_metabasedb
  carburedb:
    name: carbure_carburedb

networks:
  carbure:
    name: carbure_default

