services:
  carbure-mariadb:
    image: mysql:8.0.39
    container_name: carbure_mariadb
    environment:
      ENV: ${IMAGE_TAG}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - carburedb:/var/lib/mysql
    networks:
      - carbure
    ports:
      - 3306:3306
      - 33060:33060

  carbure-redis:
    image: redis:latest
    container_name: carbure_redis
    volumes:
      - carbureredis:/data
    networks:
      - carbure
    ports:
      - 6379:6379

  carbure-frontend:
    image: carbure_frontend:local
    container_name: carbure_frontend
    environment:
      VITE_SENTRY_DSN: ${SENTRY_DSN}
      VITE_APP_ENV: ${IMAGE_TAG}
      CHROMATIC_PROJECT_TOKEN: ${CHROMATIC_PROJECT_TOKEN}
      SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
    build:
      context: ./front
    volumes:
      - ./front:/app
      - /app/node_modules
    networks:
      - carbure

  carbure-django:
    image: carbure_app:local
    container_name: carbure_app
    depends_on:
      - carbure-mariadb
      - carbure-redis
    build:
      context: .
      dockerfile: ./web/Dockerfile
    environment:
      IMAGE_TAG: ${IMAGE_TAG}
      DATABASE_URL: mysql://root:$MYSQL_ROOT_PASSWORD@carbure-mariadb:3306/$MYSQL_DATABASE
      REDIS_URL: redis://carbure-redis:6379
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
      DEBUG: ${DEBUG}
      CARBURE_HOME: /app
      PYTHONPATH: /app:/app/web
      SENTRY_DSN: ${SENTRY_DSN}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_STORAGE_BUCKET_NAME: ${AWS_STORAGE_BUCKET_NAME}
      AWS_ENV_FOLDER_NAME: ${AWS_ENV_FOLDER_NAME}
      AWS_S3_REGION_NAME: ${AWS_S3_REGION_NAME}
      AWS_S3_ENDPOINT_URL: ${AWS_S3_ENDPOINT_URL}
      SCALINGO_TOKEN: ${SCALINGO_TOKEN}
      SCALINGO_MYSQL_UUID: ${SCALINGO_MYSQL_UUID}
      METABASE_SECRET_KEY: ${METABASE_SECRET_KEY}
    volumes:
      - ./web:/app/web
      - ./scripts:/app/scripts
      - ./cron:/app/cron
      - ./front:/app/front
      - uploadedfiles:/app/files
    networks:
      - carbure

  carbure-web-proxy:
    image: nginx:latest
    container_name: carbure_web
    depends_on:
      - carbure-frontend
      - carbure-django
    volumes:
      - ./gateway:/etc/nginx/conf.d
    networks:
      - carbure
    ports:
      - 8090:80

volumes:
  carburedb:
    name: carbure_carburedb
  carbureredis:
    name: carbure_carbureredis
  uploadedfiles:
    name: carbure_uploadedfiles

networks:
  carbure:
    name: carbure_default
