[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
bs4 = "*"
dictdiffer = "*"
django = "*"
django-admin-list-filter-dropdown = "*"
django-authtools = "*"
django-environ = "*"
django-otp = "*"
django-query-profiler = "*"
djangorestframework = "*"
folium = "*"
matplotlib = "*"
mysqlclient = "*"
openpyxl = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
sentry-sdk = "*"
tqdm = "*"
whitenoise = "*"
xlsxwriter = "*"
django-storages = "*"
gunicorn = "*"
tzdata = "*"
coverage = "*"
huey = "*"
lxml = "*"

[dev-packages]
black = "*"
django-stubs = "*"
mypy = "*"
types-python-dateutil = "*"
types-pytz = "*"

[requires]
python_version = "3.10"
