[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
bs4 = "*"
coverage = "*"
dictdiffer = "*"
django = "*"
django-admin-list-filter-dropdown = "*"
django-authtools = "*"
django-csp = "*"
django-environ = "*"
django-otp = "*"
django-silk = "*"
django-storages = "*"
djangorestframework = "*"
factory-boy = "*"
folium = "*"
gunicorn = "*"
huey = "*"
lxml = "*"
matplotlib = "*"
mysqlclient = "*"
openpyxl = "*"
pandas = "*"
pyjwt = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests = "*"
sentry-sdk = "*"
tqdm = "*"
tzdata = "*"
whitenoise = "*"
xlsxwriter = "*"

[dev-packages]
black = "*"
django-stubs = "*"
types-python-dateutil = "*"
types-pytz = "*"
types-requests = "*"
pandas-stubs = "*"
openpyxl-stubs = "*"
types-factory-boy = "*"
types-pyjwt = "*"
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
types-six = "*"

[requires]
python_version = "3"
