ansible==2.9.3
asgiref==3.2.3
certifi==2019.11.28
cffi==1.13.2
cryptography==2.8
Django==3.0.3
django-environ==0.4.5
entrypoints==0.3
flake8==3.7.9
Jinja2==2.10.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.4.6
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pytz==2019.3
PyYAML==5.3
sentry-sdk==0.14.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.7
