{% extends "common/base_private.html" %}

{% block content %}
<div class="main">
  <div class="panel">
    <div class="panel__header">
      <h3>Nouveau Mot de Passe</h3>
    </div>
        <div class="form-group">
          <div class='col'></div>
          <div class='col'>
            <span>Mot de passe mis à jour. Vous allez être redirigé vers la page d'accueil</span>
          </div>
          <div class='col'></div>
        </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(){
  setTimeout(5000, function() {
  window.location = '{% url 'index' %}'
  })
  });
</script>

{% endblock %}
