.comments {
  padding: 8px 16px;
  margin: 16px 0;
}

.commentsList {
  margin-bottom: 8px;
}

.dialogButtons {
  margin-top: 16px;
  justify-content: flex-end;
}

.dialogButtons button {
  margin-left: 8px;
}
