.importPrompt {
  max-width: 480px;
}

.importFileInput {
  display: none;
}

.importExplanation {
  margin-bottom: 24px;
}

.downloadLink {
  color: var(--blue-medium);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 8px;
}
