/* SELECT COMPONENT */
.selectWrapper {
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  border-radius: 5px;
  font-weight: bold;
}

.select {
  flex: 1;
  align-self: stretch;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Source Sans Pro, Arial, sans-serif;
  padding: 12px;
  padding-right: 36px;
  font-weight: 600;
  z-index: 1;
}

.selectArrow {
  position: absolute;
  right: 8px;
  pointer-events: none;
  margin-top: 5px;
}

.selectWrapper:hover {
  border-color: var(--blue-medium);
}

.selectWrapper:hover .select {
  color: var(--blue-medium);
}

.selectWrapper:hover .selectArrow {
  stroke: var(--blue-medium);
}

/* MENU COMPONENT */
.menu {
  border: none;
  background-color: transparent;
}

.menu .select {
  font-size: 18px;
  font-weight: normal;
  text-align: right;
}

/* BUTTON COMPONENT */
.button {
  display: flex;
  align-items: center;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  border-radius: 4px;
  font-weight: 600;
  padding: 8px;
  padding-right: 16px;
  cursor: pointer;
}

.button:active {
  background-color: var(--gray-medium);
}

.button svg {
  margin-right: 8px;
}

.buttonPrimary {
  color: var(--white);
  background-color: var(--blue-medium);
  border-color: var(--blue-medium);
}

.buttonPrimary:active {
  background-color: var(--blue-dark);
}

/* STATUS BUTTON */
.statusButton {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* height: 95px; */
  font-family: Evolventa;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  padding: 20px 24px;
  padding-bottom: 24px;
}

.activeStatusButton {
  border-bottom: 4px solid var(--blue-medium);
  padding-bottom: 21px;
}

.statusButtonLabel {
  text-align: left;
  font-weight: 800;
  margin-top: 4px;
}

.activeStatusButton .statusButtonLabel {
  color: var(--blue-medium);
}

/* ALERT COMPONENT */
.alert {
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--gray-medium);
  background-color: var(--gray-light);
  border-radius: 5px;
  padding: 8px 16px;
}

.alertHide {
  color: var(--blue-dark);
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
}

.alertWarning {
  border-color: var(--orange-medium);
  background-color: var(--orange-light);
}

.alertError {
  border-color: var(--red-medium);
  background-color: var(--red-light);
}

/* TITLE COMPONENT */
.title {
  font-size: 24px;
  font-family: Evolventa;
  margin: 0;
}
