.transactionList {
  position: relative;
  padding: 32px 120px;
}

.transactionRow {
  cursor: pointer;
}

.transactionList tr.transactionRow:hover {
  background-color: var(--gray-highlight);
  z-index: 1;
}

/* v  ugly forcing of column width so the table stays stable */

/* 1st column (checkbox) */
tr.transactionRow td:nth-child(1) {
  min-width: 40px;
  max-width: 40px;
}

/* 2nd column (status) */
tr.transactionRow td:nth-child(2) {
  min-width: 80px;
  max-width: 80px;
}

/* 3rd column (periode) */
tr.transactionRow td:nth-child(3 + 1) {
  min-width: 104px;
  max-width: 104px;
}

/* 4th-9th column (periode) */
tr.transactionRow td:nth-child(n + 4) {
  min-width: 128px;
  max-width: 128px;
}

/* 10th column (GES) */
tr.transactionRow td:nth-child(10) {
  min-width: 40px;
  max-width: 40px;
}

/* 11th column (icons) */
tr.transactionRow td:nth-child(11) {
  min-width: 82px;
  max-width: 82px;
}

.status {
  color: var(--gray-dark);
  background-color: var(--gray-light);
  border-radius: 50px;
  font-size: 11px;
  text-transform: capitalize;
  padding: 4px 8px;
}

.statusValidated {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.statusToFix {
  color: var(--orange-dark);
  background-color: var(--orange-light);
}

.statusAccepted {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.alertDrafts {
  padding: 8px 16px;
}

.alertHide {
  color: var(--blue-dark);
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
}

.alertWarning {
  border-color: var(--orange-medium);
  background-color: var(--orange-light);
}

.alertError {
  border-color: var(--red-medium);
  background-color: var(--red-light);
}

.dualRow {
  display: flex;
  flex-direction: column;
}

.rowLine {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.extraInfo {
  font-size: 12px;
  color: var(--gray-dark);
  font-style: italic;
}

.actionColumn {
  width: 82px;
  text-align: center;
  color: var(--gray-dark);
}

.transactionActions {
  display: none;
}

.transactionRow:hover .transactionArrow {
  display: none;
}
.transactionRow:hover .transactionActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactionActions :global(.icon):hover {
  stroke: var(--blue-medium);
}
