.dualRow {
  display: flex;
  flex-direction: column;
}

.rowLine {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.extraInfo {
  font-size: 12px;
  color: var(--gray-dark);
  font-style: italic;
}

.status {
  color: var(--gray-dark);
  background-color: var(--gray-light);
  border-radius: 50px;
  border: 1px solid var(--gray-highlight);
  font-size: 11px;
  padding: 4px 8px;
}

.statusWaiting {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.statusToFix {
  color: var(--orange-dark);
  background-color: var(--orange-light);
}

.statusAccepted {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.checkboxColumn {
  width: 40px;
  text-align: center;
}

.narrowColumn {
  width: 88px;
}

.dateColumn {
  width: 108px;
}

.actionColumn {
  width: 88px;
  text-align: center;
  color: var(--gray-dark);
}

.actionColumn :global(.icon) {
  width: 20px;
}

.actionColumn :global(.icon):hover {
  stroke: var(--blue-medium);
}

.actionList,
tr:hover .actionArrow {
  display: none;
}

tr:hover .actionList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
