.transactionSnapshot {
  background-color: var(--gray-light);
  padding: 32px 120px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.buttonRow button {
  margin: 0 12px;
}

.buttonRow button:first-child {
  margin-left: 0;
}

.buttonRow button:last-child {
  margin-right: 0;
}
