.transactionForm {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.transactionFields {
  display: flex;
}

.transactionFields > div {
  flex: 1;
}

.middleColumn {
  margin: 0 32px;
}

.transactionGES {
  display: flex;
}

.transactionGES > div:first-child {
  margin-right: 8px;
}

.transactionMAC {
  margin: auto;
}

.transactionFormButtons {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  padding-top: 32px;
}
