.transactionSnapshot {
  display: flex;
  flex-direction: column;
}

.transactionSummary {
  background-color: var(--gray-light);
  padding: 32px 120px;
  margin-top: 1px;
}

.transactionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.transactionStatus {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.transactionStatus button {
  margin: 0 12px;
}

.transactionStatus button:first-child {
  margin-left: 0;
}

.transactionStatus button:last-child {
  margin-right: 0;
}

.transactionFilters {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  background-color: var(--white);
  box-shadow: 0px 1px 2px var(--gray-medium);
}

.filterGroup {
  display: flex;
}

.filterGroup > div {
  margin-right: 8px;
}

.filterGroup > div {
  width: 155px;
}

.searchInput input {
  width: 165px;
}
