.status {
  color: var(--gray-dark);
  background-color: var(--gray-light);
  border-radius: 50px;
  border: 1px solid var(--gray-highlight);
  font-size: 11px;
  text-transform: capitalize;
  padding: 4px 8px;
}

.statusValidated {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.statusToFix {
  color: var(--orange-dark);
  background-color: var(--orange-light);
}

.statusAccepted {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.dualRow {
  display: flex;
  flex-direction: column;
}

.rowLine {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.extraInfo {
  font-size: 12px;
  color: var(--gray-dark);
  font-style: italic;
}

.transactionRow {
  cursor: pointer;
}

table tr.transactionRow:hover {
  background-color: var(--gray-highlight);
  z-index: 1;
}
