.status {
  color: var(--gray-dark);
  background-color: var(--gray-light);
  border-radius: 50px;
  border: 1px solid var(--gray-highlight);
  font-size: 11px;
  padding: 4px 8px;
}

.statusWaiting {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.statusToFix {
  color: var(--orange-dark);
  background-color: var(--orange-light);
}

.statusAccepted {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.dualRow {
  display: flex;
  flex-direction: column;
}

.rowLine {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.extraInfo {
  font-size: 12px;
  color: var(--gray-dark);
  font-style: italic;
}

.transactionRow {
  cursor: pointer;
}

.transactionRowError > td:first-child,
.transactionRowDeadline > td:first-child {
  position: relative;
}

.transactionRowError > td:first-child::after,
.transactionRowDeadline > td:first-child::after {
  border-left: 4px solid;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
}

.transactionRowDeadline > td:first-child::after {
  border-color: var(--orange-dark);
}

.transactionRowError > td:first-child::after {
  border-color: var(--red-dark);
}
