.objective-section__text {
  color: var(--text-default-grey);
  margin-top: var(--spacing-1v);
}

.objective-section__content {
  margin-top: var(--spacing-2w);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4w);
}
