.comments {
  margin: 16px 0;
}

.comments table {
  align-self: flex-start;
}

.commentsForm {
  margin-top: 8px;
}

.commentsForm button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.commentInput {
  margin-top: 16px;
}

.commentCheckbox {
  height: unset;
  margin-top: 24px;
}
