.transactionForm {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.transactionRequiredInfo {
  display: flex;
  align-items: center;
  flex: 1;
}

.transactionFormButtons {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 24px 0;
  margin-top: 24px;
  border-top: 1px solid var(--gray-highlight);
  background-color: var(--gray-light);
}

.transactionFormButtons button {
  margin-right: 16px;
}

.transactionFormButtons button:last-child {
  margin-right: 0;
}

.transactionNavButtons {
  margin-left: auto;
}

.transactionError {
  margin-top: 16px;
}
