.transactionForm {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.transactionRequiredInfo {
  display: flex;
  align-items: center;
  flex: 1;
}

.transactionFormButtons {
  display: flex;
  margin-top: auto;
  margin-top: 32px;
  margin-bottom: 24px;
}

.transactionFormButtons button {
  margin-right: 16px;
}

.transactionFormButtons button:last-child {
  margin-right: 0;
}

.transactionNavButtons {
  margin-left: auto;
}

.transactionError {
  margin-top: 16px;
}
