.actionBar {
  margin-bottom: 24px;
}

.actionBar > * {
  margin-right: 8px;
}

.searchInput {
  position: relative;
}

.searchInput :global(.icon) {
  position: absolute;
  left: 8px;
  top: 11px;
}

.searchInput :global(.icon) {
  stroke: var(--gray-medium);
}

.searchInput input:hover ~ :global(.icon) {
  stroke: var(--blue-light);
}

.searchInput input {
  outline: none;
  border-radius: 3px;
  /* border: none; */
  /* border-top: 1px solid var(--gray-highlight) !important; */
  padding: 12px 36px;
  background-color: var(--gray-light);
}
