table .checkboxColumn {
  width: 52px;
  text-align: center;
}

.narrowColumn {
  width: 88px;
}

.dateColumn {
  width: 108px;
}

.checkboxWrapper {
  align-items: center;
  justify-content: center;
}
