.actionBar {
  margin-bottom: 24px;
}

.actionBar > * {
  margin-right: 12px;
}

.searchInput {
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.searchInput :global(.icon) {
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 11px;
}

.searchInput :global(.icon) {
  stroke: var(--gray-medium);
}

.searchInput input:hover ~ :global(.icon) {
  stroke: var(--blue-light);
}

.searchInput input {
  outline: none;
  border-radius: 3px;
  padding: 12px;
  padding-left: 44px;
  background-color: var(--gray-light);
}
