.transactionSnapshot {
  background-color: var(--gray-light);
  padding: 32px 120px;
  margin-top: 1px;
}

.transactionHeader {
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 32px;
}

.transactionYear {
  font-size: 1.5em;
  padding: 8px;
  margin-left: 8px;
}

.transactionDeclaration {
  margin-left: auto;
  font-size: 1.2em;
}

.transactionStatus {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.transactionStatus button {
  display: flex;
  margin: 0 12px;
  flex: 1;
}

.transactionStatus button:first-child {
  margin-left: 0;
}

.transactionStatus button:last-child {
  margin-right: 0;
}
