.transactionRowError::after,
.transactionRowWarning::after {
  border-left: 4px solid;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  width: 4px;
}

.transactionRowWarning::after {
  border-color: var(--orange-medium);
}

.transactionRowError::after {
  border-color: var(--red-dark);
}
