.transactionFilters {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px var(--gray-medium);
}

.filterGroup {
  padding: 16px var(--main-spacing);
  background-color: var(--white);
  display: grid;
  counter-reset: grid-items;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  position: relative;
  grid-gap: 8px;
}

.filterGroup > div {
  counter-increment: grid-item;
}

.transactionButtons {
  margin-left: 4px;
}
