.checkboxColumn {
  flex: 0.2;
  justify-content: center;
}

.paddingColumn {
  flex: 0 0 24px;
}

.narrowColumn {
  flex: 0.4;
}

.statusColumn,
.dateColumn {
  flex: 0.5;
}

.checkboxWrapper {
  align-items: center;
  justify-content: center;
}
