div.checkboxColumn {
  flex: unset;
  justify-content: center;
  padding: 0;
}

div.emptyColumn {
  width: 54px;
}

div.paddingColumn {
  flex: 0 0 24px;
}

div.narrowColumn {
  flex: 0.4;
}

div.statusColumn,
div.dateColumn {
  flex: 0.5;
}

.checkboxHeaderWrapper {
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
}

.checkboxWrapper {
  height: 100%;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
}
