:root {
  --white: #ffffff;
  --black: #202328;

  --blue-light: #d5dbef;
  --blue-medium: #3150c0;
  --blue-dark: #000091;

  --red-light: #ffdbd2;
  --red-medium: #ffb7a5;
  --red-dark: #e1000f;

  --green-light: #c5e6d8;
  --green-medium: #8acdb0;
  --green-dark: #169b62;

  --orange-light: #ffe6cf;
  --orange-medium: #ffcc9f;
  --orange-dark: #ff9940;

  --gray-light: #f6f6f6;
  --gray-medium: #bfbfbf;
  --gray-dark: #808080;
}
