.notice__title,
.notice__desc {
  margin-right: var(--spacing-1w);
}
.notice__title::before {
  display: none;
}

.notice__icon {
  margin-right: var(--spacing-1w);
}

/* Notice component doesnt allow button instead of link, so we have to copy the link styles */
.notice__link {
  background-image: var(--underline-img), var(--underline-img);
  background-position:
    var(--underline-x) 100%,
    var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0s;
  background-size:
    var(--underline-hover-width) calc(var(--underline-thickness) * 2),
    var(--underline-idle-width) var(--underline-thickness);
  padding: 0;
}
.notice__link:hover {
  --underline-hover-width: var(--underline-max-width);
  background-color: transparent !important;
}
