.progress-bar__container {
  padding: var(--spacing-5v) 0;
}
.progress-bar {
  height: 8px;
  border-radius: 100px;
  width: 100%;
  box-shadow: inset 0 0 0 1px #000091;
  position: relative;
  display: flex;
}

.progress-bar--quantity-declared {
  background: #000091;
  position: relative;
  height: 100%;
  border-radius: 100px;
  z-index: 1;
}

.progress-bar--quantity-available {
  position: absolute;
  height: 100%;
  border-radius: 100px;
  background: #6a6af4;
  padding: 2px 0 2px 6px;
}

.progress-bar__steps {
  position: absolute;
  padding: 4px 6px 0px 6px;
  left: 0;
  top: 0;
  width: 100%;
}
.progress-bar__step {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.progress-bar__step::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background: #000091;
  border-radius: 50%;
}

.progress-bar__step--filled::before {
  width: 4px;
  height: 4px;
  background: white;
  z-index: 1;
}

.progress-bar__footer {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-1v) 0 0 4px;
}

.progress-bar__zero-percent,
.progress-bar__100-percent {
  color: #666666;
  position: absolute;
}

.progress-bar__zero-percent {
  left: var(--spacing-0-5v);
  top: var(--spacing-3v);
}

.progress-bar__100-percent {
  right: var(--spacing-0-5v);
  top: var(--spacing-3v);
}
.progress-bar__header {
  display: flex;
}

.progress-bar__quantity-declared-value {
  color: #000091;
  position: absolute;
  bottom: var(--spacing-3v);
  text-align: right;
}
.progress-bar__quantity-available-value {
  color: #6a6af4;
  text-align: right;
  position: absolute;
  bottom: var(--spacing-3v);
}
