{% extends "common/base_private.html" %}

{% block content %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Documentation Import Excel</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Colonne</th>
					<th>Description</th>
					<th>Type</th>
					<th>Exemple</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>producer</b></td>
					<td>Producteur</td>
					<td>entrez le nom du producteur (optionnel).</td>
					<td>SIPLEC</td>
				</tr>
				<tr>
					<td><b>production_site</b></td>
					<td>Site de production</td>
					<td>nom du site ou de l'usine de production (optionnel)</td>
					<td>Dunkerque 3</td>
				</tr>
				<tr>
					<td><b>production_site_country</b></td>
					<td>Pays du site de production. (optionnel)</td>
					<td>Code ISO à deux lettres</td>
					<td>FR</td>
				</tr>
				<tr>
					<td><b>production_site_reference</b></td>
					<td>Référence Système Fournisseur</td>
					<td>Texte</td>
					<td>ISCC-DE-100001010</td>
				</tr>
				<tr>
					<td><b>production_site_commissioning_date</b></td>
					<td>Date de mise en service du site de production (approximative)</td>
					<td>AAAA/MM/JJ</td>
					<td>2015/01/01</td>
				</tr>
				<tr>
					<td><b>double_counting_registration</b></td>
					<td>Numéro d'enregistrement au double comptage (optionnel)</td>
					<td>Texte</td>
					<td>FR_001_2020</td>
				</tr>
				<tr>
					<td><b>volume</b></td>
					<td>Volume de biocarburant, en litres, à 20 degrés Celsius</td>
					<td>Nombre entier, sans virgules ni points.</td>
					<td>35000</td>
				</tr>
				<tr>
					<td><b>biocarburant_code</b></td>
					<td>Nom de code associé au biocarburant</td>
					<td>Vous trouverez la correspondance Code/Biocarburant dans le feuillet Biocarburants du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>HVOG</td>
				</tr>
				<tr>
					<td><b>matiere_premiere_code</b></td>
					<td>Nom de code associé à une matière première</td>
					<td>Vous trouverez la correspondance Code/Matière Première dans le feuillet MatieresPremieres du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>HUILE_ALIMENTAIRE_USAGEE</td>
				</tr>
				<tr>
					<td><b>pays_origine_code</b></td>
					<td>Nom de code <a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes">ISO-3166</a> associé au pays d'origine de la matière première.</td>
					<td>Vous trouverez la correspondance Code/Pays dans le feuillet Pays du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>FR</td>
				</tr>
				<tr>
					<td><b>eec</b></td>
					<td>Émissions résultant de l'extraction ou de la culture des matières premières</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point.</td>
					<td>2.1</td>
				</tr>
				<tr>
					<td><b>el</b></td>
					<td>Émissions annualisées résultant de modifications des stocks de carbone dues à des changements dans l'affectation des sols</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point.</td>
					<td>2.1</td>
				</tr>
				<tr>
					<td><b>ep</b></td>
					<td>Émissions résultant de la transformation</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point.</td>
					<td>8.7</td>
				</tr>
				<tr>
					<td><b>etd</b></td>
					<td>Émissions résultant du transport et de la distribution</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point.</td>
					<td>1.0</td>
				</tr>
				<tr>
					<td><b>eu</b></td>
					<td>Émissions résultant du carburant à l'usage</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point.</td>
					<td>2.1</td>
				</tr>
				<tr>
					<td><b>esca</b></td>
					<td>Réductions d'émissions dues à l'accumulation du carbone dans les sols grâce à une meilleure gestion agricole</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point. Valeur par défaut: 0.0</td>
					<td>0.7</td>
				</tr>
				<tr>
					<td><b>eccs</b></td>
					<td>Réductions d'émissions dues au piégeage et au stockage géologique du carbone</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point. Valeur par défaut: 0.0</td>
					<td>0.2</td>
				</tr>
				<tr>
					<td><b>eccr</b></td>
					<td>Réductions d'émissions dues au piégeage et à la substitution du carbone</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point. Valeur par défaut: 0.0</td>
					<td>0.4</td>
				</tr>
				<tr>
					<td><b>eee</b></td>
					<td>Réductions d'émissions dues à la production excédentaire d'électricité dans le cadre de la cogénération</td>
					<td>Nombre réel. Séparation des décimales à l'aide d'un point. Valeur par défaut: 0.0</td>
					<td>2.1</td>
				</tr>
				<tr>
					<td><b>dae</b></td>
					<td>Numéro douanier (DAE, DAU...)</td>
					<td>Texte</td>
					<td>2010153-1</td>
				</tr>
				<tr>
					<td><b>champ_libre</b></td>
					<td>Champ libre (optionnel). Il peut s'agit d'une référence interne ou d'un numéro de contrat, facture...</td>
					<td>Texte</td>
					<td>import_avril_2020</td>
				</tr>
				<tr>
					<td><b>client</b></td>
					<td>Nom du client. La liste des sociétés inscrites est disponible dans le feuillet Societes du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>Texte</td>
					<td>TMF</td>
				</tr>
				<tr>
					<td><b>delivery_date</b></td>
					<td>Date de livraison auprès de l'entrepositaire agréé</td>
					<td>AAAA/MM/JJ</td>
					<td>2020/04/25</td>
				</tr>
				<tr>
					<td><b>delivery_site</b></td>
					<td>Code douanier du Site de livraison / Dépôt. Vous trouverez la correspondance Code/Dépôt dans le feuillet SitesDeLivraison du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>Lot à destination française: Nombre entier. Lot à destination étrangère: Texte</td>
					<td>654</td>
				</tr>
				<tr>
					<td><b>delivery_site_country</b></td>
					<td>Pays de livraison (optionnel)</td>
					<td>Texte</td>
					<td>ES</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
{% endblock %}
