{% extends "common/base_private.html" %}

{% block content %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Documentation Import Excel</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Colonne</th>
					<th>Description</th>
					<th>Type</th>
					<th>Exemple</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b>carbure_id</b></td>
					<td>Identifiant de la ligne de mass balance dont votre lot sera issu.</td>
					<td>Vous le trouverez dans votre onglet Mass Balance.</td>
					<td>FR2006P1-1044</td>
				</tr>
				<tr>
					<td><b>volume</b></td>
					<td>Volume de biocarburant, en litres, à 20 degrés Celsius</td>
					<td>Nombre entier. Pas de virgules ni de points.</td>
					<td>35000</td>
				</tr>
				<tr>
					<td><b>dae</b></td>
					<td>Numéro douanier (DAE, DAU...)</td>
					<td>Texte</td>
					<td>2010153-1</td>
				</tr>
				<tr>
					<td><b>champ_libre</b></td>
					<td>Champ libre (optionnel). Il peut s'agit d'une référence interne ou d'un numéro de contrat, facture...</td>
					<td>Texte</td>
					<td>import_avril_2020</td>
				</tr>
				<tr>
					<td><b>client</b></td>
					<td>Nom du client. La liste des sociétés inscrites est disponible dans le feuillet Societes du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>Texte</td>
					<td>TMF</td>
				</tr>
				<tr>
					<td><b>delivery_date</b></td>
					<td>Date d'entrée chez l'entrepositaire agréé</td>
					<td>AAAA/MM/JJ</td>
					<td>2020/04/25</td>
				</tr>
				<tr>
					<td><b>delivery_site</b></td>
					<td>Code douanier du Site de livraison / Dépôt. Vous trouverez la correspondance Code/Dépôt dans le feuillet SitesDeLivraison du <a href="{% url 'api-v2-traders-excel-template-download' %}">modèle Excel</a></td>
					<td>Lot à destination française: Nombre entier. Lot à destination étrangère: Texte</td>
					<td>654</td>
				</tr>
				<tr>
					<td><b>delivery_site_country</b></td>
					<td>Pays de livraison (optionnel)</td>
					<td>Texte</td>
					<td>ES</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}
