{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Connexion</h2>

      {% if form.errors %}
      <p>{% for key, value in form.errors.items %} {% if key != "__all__" %} {{key}} : {% endif %} {{value}} {% endfor %}</p>
      {% endif %}               

      <form method="post" id="login_form" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <div class="col"></div>
          <div class="col">
            <input type="text" name="username" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="Entrez votre courriel...">
          </div>
          <div class="col"></div>
        </div>
        <div class="form-group">
          <div class='col'></div>
          <div class='col'>
            <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Mot de passe">
          </div>
          <div class='col'></div>
        </div>
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Connexion">
      </form>
      <div class="text-center">
        <a class="small" href="{% url 'password_reset' %}">J'ai oublié mon mot de passe</a>
        <a class="small" href="{% url 'resend-activation-link' %}">Je n'ai pas reçu mon lien d'activation</a>	
      </div>
    </div>
  </section>
</main>
{% endblock %}
