{% extends "common/base.html" %}

{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Nouveau mot de passe</h2>

      {% if form.errors %}
      <p>{% for key, value in form.errors.items %} {% if key != "__all__" %} {{key}} : {% endif %} {{value}} {% endfor %}</p>
      {% endif %}               
    <form method="post" id="new_password_form">
        {% csrf_token %}
        <div class="form-group">
          <div class="col"></div>
          <div class="col">
            <input type="password" id="id_new_password1" name="new_password1" placeholder="Nouveau mot de passe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'" required class="single-input">
            <input type="password" id="id_new_password2" name="new_password2" hidden />
          </div>
          <div class="col"></div>
        </div>
        <div class="form-group">
          <div class='col'></div>
          <div class='col'>
            <a id="new_password_button" class="button primary">Ok</a>
          </div>
          <div class='col'></div>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock %}
