{% extends "common/base.html" %}

{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Réinitialisation du mot de passe</h2>

      {% if form.errors %}
      <p>{% for key, value in form.errors.items %} {% if key != "__all__" %} {{key}} : {% endif %} {{value}} {% endfor %}</p>
      {% endif %}               

{% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button primary">Sauvegarder</button>
    </form>
  {% else %}
      <p>
	Le lien que vous avez suivi est invalide car il a déjà été utilisé. Veuillez faire une nouvelle demande de réinitialisation de mot de passe.
	Si le problème persiste, contactez nous directement.
    </p>
  {% endif %}

      
    </div>
  </section>
</main>
{% endblock %}
