{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Lien renvoyé</h2>

      <div class="text-center">
        <a class="small" href="{% url 'password_reset' %}">J'ai oublié mon mot de passe</a><br />
        <a class="small" href="{% url 'resend-activation-link' %}">Je n'ai pas reçu mon lien d'activation</a>	
      </div>
    </div>
  </section>
</main>
{% endblock %}
