{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Renvoi de lien d'activation</h2>

      <form method="post" id="email_form" action="{% url 'resend-activation-link' %}">
        {% csrf_token %}
	      {{ form.as_p }}
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Renvoyer">
      </form>
      <div class="text-center">
        <a class="small" href="{% url 'password_reset' %}">J'ai oublié mon mot de passe</a>
        <a class="small" href="{% url 'resend-activation-link' %}">Je n'ai pas reçu mon lien d'activation</a>	
      </div>
    </div>
  </section>
</main>
{% endblock %}
