@font-face {
	font-family: "Marianne";
	src:
		url("../fonts/Marianne/Marianne-Regular.woff2") format("woff2"),
		url("../fonts/Marianne/Marianne-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Marianne";
	src:
		url("../fonts/Marianne/Marianne-Medium.woff2") format("woff2"),
		url("../fonts/Marianne/Marianne-Medium.woff") format("woff");
	font-weight: 600;
}

@font-face {
	font-family: "Marianne";
	src:
		url("../fonts/Marianne/Marianne-Bold.woff2") format("woff2"),
		url("../fonts/Marianne/Marianne-Bold.woff") format("woff");
	font-weight: 800;
}
