:root {
  --white: #ffffff;
  --black: #202328;

  --body: #efefef;
  --footer: #1c1c1c;

  --blue-light: #d5dbef;
  --blue-medium: #3150c0;
  --blue-dark: #000091;

  --red-light: #ffdbd2;
  --red-medium: #ffb7b5;
  --red-dark: #e1000f;

  --green-light: #c5e6d8;
  --green-medium: #8acdb0;
  --green-dark: #006c37;

  --orange-light: #ffe6cf;
  --orange-medium: #ffbb40;
  --orange-dark: #e65100;

  --gray-light: #f6f6f6;
  --gray-medium: #bfbfbf;
  --gray-dark: #808080;
  --gray-highlight: #eaeaea;

  --font-size: 15px;
  --font-family: Marianne, arial, sans-serif;
}
