{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Un email vous a été envoyé pour vous connecter</h2>
      <div class="mb-6">Si vous ne le recevez pas au bout de quelques minutes, vous pouvez réessayer.</div>
      <div>
        <a href="{% url 'magicauth-login' %}?next={{ next_url|urlencode }}" class="btn btn-secondary">Réessayer</a>
      </div>      
    </div>
  </section>
</main>
{% endblock %}
