{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Connexion</h2>

      {% if form.errors %}
      <p>{% for key, value in form.errors.items %} {% if key != "__all__" %} {{key}} : {% endif %} {{value}} {% endfor %}</p>
      {% endif %}               

      <form method="post" id="login_form" action="{% url 'magicauth-login' %}">
        {% csrf_token %}
        <div class="form-group">
          <div class="col"></div>
          <div class="col">
            <input type="text" name="email" class="form-control form-control-user" id="id_email" aria-describedby="emailHelp" placeholder="Entrez votre courriel...">
          </div>
          <div class="col"></div>
        </div>
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Connexion">
      </form>
    </div>
  </section>
</main>
{% endblock %}
