<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CarbuRe - Gestion centralisée des flux de biocarburants</title>

  <link href="https://unpkg.com/template.data.gouv.fr@1.3.1/dist/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/carbure.css">
  <script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
      document.write('<script src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"><\/script>');
      document.write('<script src="https://unpkg.com/url-polyfill@1.0.14/url-polyfill.js"><\/script>');
    }
  </script>
  <!-- Search Engine -->
  <meta name="description" content="Gestion centralisée des biocarburants">
  <meta name="image" content="/static/images/preview.png">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="CarbuRe">
  <meta itemprop="description" content="Traçabilité des flux de biocarburants">
  <meta itemprop="image" content="/static/images/preview.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="CarbuRe">
  <meta name="twitter:description" content="Traçabilité des flux de biocarburants">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="/static/images/preview.png">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="CarbuRe">
  <meta name="og:description" content="Traçabilité des flux de biocarburants">
  <meta name="og:image" content="/static/images/preview_fb.png">
  <meta name="og:url" content="/static/">
  <meta name="og:site_name" content="CarbuRe">
  <meta name="og:locale" content="fr_FR">
  <meta name="og:type" content="website">

  <!-- Favicons -->
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="manifest" href="images/favicons/manifest.json">
  <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">


  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.data.gouv.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '134']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body class="site">
  <svg aria-hidden="true" focusable="false" style="display:none">
    <defs>
      <symbol viewBox="0 0 32 32" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" id="copy" xmlns="http://www.w3.org/2000/svg"><path d="M19.75 8.5V1H6.625L1 6.625V23.5h11.25V31H31V8.5H19.75zM6.625 3.651v2.974H3.651l2.974-2.974zm-3.75 17.974V8.5H8.5V2.875h9.375V8.5l-5.625 5.625v7.5H2.875zm15-10.474v2.974h-2.974l2.974-2.974zm11.25 17.974h-15V16h5.625v-5.625h9.375v18.75z" fill-rule="nonzero"/></symbol>

      <symbol viewBox="0 0 32 32" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" id="envelope" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero"><path d="M30.1 5.419c-9.355-.002-18.733-.005-28.1-.005A1.06 1.06 0 0 0 .975 6.439v19.122A1.06 1.06 0 0 0 2 26.586h28a1.061 1.061 0 0 0 1.025-1.025V6.439a1.056 1.056 0 0 0-.925-1.02zM3.025 7.464h25.95v17.072H3.025V7.464z"/><path d="M30.06 9.513c.933.098 1.382 1.395.393 1.945L16.54 18.287c-.438.188-.479.178-.893 0L1.733 11.458c-1.743-.968-.065-2.254.894-1.842l13.466 6.61 13.562-6.651c.3-.094.312-.062.405-.062z"/></g></symbol>

      <symbol viewBox="0 0 32 32" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" id="github" xmlns="http://www.w3.org/2000/svg"><path d="M16 1.371c-8.284 0-15 6.715-15 15 0 6.627 4.298 12.25 10.258 14.233.75.138 1.026-.326 1.026-.722 0-.357-.014-1.54-.021-2.793-4.174.907-5.054-1.77-5.054-1.77-.682-1.733-1.665-2.195-1.665-2.195-1.361-.931.103-.912.103-.912 1.506.106 2.299 1.546 2.299 1.546 1.338 2.293 3.509 1.63 4.365 1.247.134-.969.523-1.631.952-2.006-3.331-.379-6.834-1.666-6.834-7.413 0-1.638.586-2.976 1.546-4.027-.156-.378-.669-1.903.145-3.969 0 0 1.26-.403 4.126 1.537a14.453 14.453 0 0 1 3.755-.505c1.274.006 2.558.173 3.757.505 2.864-1.94 4.121-1.537 4.121-1.537.816 2.066.303 3.591.147 3.969.962 1.05 1.544 2.389 1.544 4.027 0 5.761-3.509 7.029-6.849 7.401.538.466 1.017 1.379 1.017 2.778 0 2.007-.018 3.623-.018 4.117 0 .399.27.867 1.03.72C26.707 28.616 31 22.996 31 16.371c0-8.285-6.716-15-15-15z" fill-rule="nonzero"/></symbol>

      <symbol viewBox="0 0 32 32" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" id="magnifier" xmlns="http://www.w3.org/2000/svg"><path d="M30.07 26.529l-7.106-6.043c-.735-.662-1.521-.964-2.155-.936a11.194 11.194 0 0 0 2.691-7.299c0-6.214-5.036-11.25-11.25-11.25S1 6.037 1 12.251s5.036 11.25 11.25 11.25c2.786 0 5.334-1.012 7.299-2.691-.03.634.274 1.42.936 2.155l6.043 7.106c1.035 1.149 2.725 1.247 3.756.216 1.031-1.032.934-2.723-.216-3.756l.002-.002zm-17.82-6.78a7.5 7.5 0 1 1 0-15 7.5 7.5 0 0 1 0 15z" fill-rule="nonzero"/></symbol>

      <symbol viewBox="0 0 32 32" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" id="round-cross" xmlns="http://www.w3.org/2000/svg"><path d="M16 .5C24.554.5 31.5 7.446 31.5 16S24.554 31.5 16 31.5.5 24.554.5 16 7.446.5 16 .5zm6.161 11.718a7.233 7.233 0 0 0-2.379-2.379L16 13.621l-3.782-3.782a7.233 7.233 0 0 0-2.379 2.379L13.621 16l-3.782 3.782a7.233 7.233 0 0 0 2.379 2.379L16 18.379l3.782 3.782a7.233 7.233 0 0 0 2.379-2.379L18.379 16l3.782-3.782z" fill-rule="nonzero"/></symbol>

    </defs>
  </svg>

  <header class="navbar" role="navigation">
    <div class="navbar__container">
      <a class="navbar__home" href="{% url 'index' %}">
        <img class="navbar__logo" src="/static/images/logo-marianne.svg"
          alt="carbure.beta.gouv.fr" /><span class="navbar__domain">carbure</span><img src="/static/images/pointbetagouvfr.svg" class="navbar__gouvfr" alt="beta.gouv.fr" />
      </a>

      <nav>
        <ul class="nav__links">
          {% if user.is_authenticated %}
          <li class="nav__item"><a href="{% url 'logout' %}">Se Déconnecter</a></li>
          {% else %}
          <li class="nav__item"><a href="{% url 'login' %}">Connexion</a></li>
          {% endif %}
          <li class="nav__item">
            <div class="dropdown">
              Français
              <div class="dropdown-content">
                <a href="#">Anglais 🇬🇧</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="flex-container" style="height: 200px;">
      <img src="/static/images/logo_mtes.svg" alt="Logo MTES" style="width: 25%">
      <img src="/static/images/logo-fabriquenumerique.svg" alt="Logo Fabrique Numerique" style="width: 25%">
      <div style="width: 25%; margin: auto;">
          <p>CarbuRe est un service numérique de l’État incubé à la Fabrique numérique du Ministère de la Transition Écologique et Solidaire, membre du réseau d’incubateurs <a href="http://beta.gouv.fr"> beta.gouv.fr </a>
          </p>
      </div>

      <ul class="footer__links"  style="width: 25%; margin-left: 20px;">
        <li><h2>carbure.beta.gouv.fr</h2></li>
        <li><a href="#">Conditions générales d'utilisation</a></li>
        <li><a href="https://metabase.carbure.beta.gouv.fr/public/dashboard/a9c045a5-c2fb-481a-ab85-f55bce8ae3c0">Statistiques</a></li>
        <li><a href="https://carbure-beta-gouv.slack.com/">Slack - Discussions, Support et Annonces</a></li>
        <li><a href="#">Glossaire</a></li>
      </ul>
      <ul class="footer__links"></ul>
    </div>
  </footer>
</body>
</html>
