<div class="modal__backdrop" id="modal_lot">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <p id="err_msg_dom">
    </p>
    <div class="flex-container modal-edit">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3 style="text-align: center;">Informations</h3>
        <input type="hidden" id="lot_id" />
        <input type="hidden" id="tx_id" />
        <dl>
          <dt>Le producteur est enregistré sur Carbure ?</dt>
          <dd>Oui <input type="radio" name="producer_is_in_carbure" value="yes"/> Non <input type="radio" name="producer_is_in_carbure" value="no"/></dd>

          <!-- Producer is in Carbure -->
          <dt id="carbure_producer_name_label">Producteur</dt>
          <dd><input type="text" id="carbure_producer_name" class="autocomplete_producers" /><span id="carbure_producer_name_error" style="color:tomato;"></span><input type="hidden" id="carbure_producer_id" /></dd>
          <dt id="carbure_production_site_name_label">Site de Production</dt>
          <dd><input type="text" id="carbure_production_site_name" class="autocomplete_production_sites" /><span id="carbure_production_site_name_error" style="color:tomato;"></span><input type="hidden" id="carbure_production_site_id" /></dd>

          <!-- Producer is NOT in Carbure -->
          <dt id="unknown_producer_name_label">Producteur</dt>
          <dd><input type="text" id="unknown_producer_name" /><span id="unknown_producer_name_error" style="color:tomato;"></span></dd>
          <dt id="unknown_production_site_name_label">Site de Production</dt>
          <dd><input type="text" id="unknown_production_site_name" /><span id="unknown_production_site_name_error" style="color:tomato;"></span></dd>
          <dt id="unknown_production_site_country_label">Pays de Production</dt>
          <dd><input type="text" id="unknown_production_site_country" class="autocomplete_countries"/><span id="unknown_production_site_country_error" style="color:tomato;"></span><input type="hidden" id="unknown_production_site_country_code" /></dd>
          <dt id="unknown_production_site_reference_label">Référence Système Fournisseur</dt>
          <dd><input type="text" id="unknown_production_site_reference" /><span id="unknown_production_site_reference_error" style="color:tomato;"></span></dd>
          <dt id="unknown_production_site_dbl_counting_label">Numéro d'enregistrement double-compte</dt>
          <dd><input type="text" id="unknown_production_site_dbl_counting" /><span id="unknown_production_site_dbl_counting_error" style="color:tomato;"></span></dd>
          <dt id="unknown_production_site_com_date_label">Date de mise en service</dt>
          <dd><input type="text" id="unknown_production_site_com_date" /><span id="unknown_production_site_com_date_error" style="color:tomato;"></span></dd>




          <dt>Volume à 20°C en Litres</dt>
          <dd><input type="text" id="volume" /><span id="volume_error" style="color:tomato;"></span></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant" class="autocomplete_biocarburants" /><span id="biocarburant_error" style="color:tomato;"></span><input type="hidden" id="biocarburant_code" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere" class="autocomplete_mps" /><span id="matiere_premiere_error" style="color:tomato;"></span><input type="hidden" id="matiere_premiere_code" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine" class="autocomplete_countries" /><span id="pays_origine_error" style="color:tomato;"></span><input type="hidden" id="pays_origine_code" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3 style="text-align: center;">Destination</h3>
        <dl>
        <dt><label for="dae">Numéro douanier</label></dt>
        <dd><input id="dae" type="text" /><span id="dae_error" style="color:tomato;"></span></dd>

        <dt>Le client est enregistré sur Carbure ?</dt>
        <dd>Oui <input type="radio" name="client_is_in_carbure" value="yes"/> Non <input type="radio" name="client_is_in_carbure" value="no"/></dd>


        <!-- Client is in Carbure -->
        <dt id="carbure_client_label"><label for="carbure_client">Client</label></dt>
        <dd><input type="text" id="carbure_client" class="autocomplete_clients" /><span id="carbure_client_error" style="color:tomato;"></span><input type="hidden" id="carbure_client_id" /></dd>
        <!-- Client is not in Carbure -->
        <dt id="unknown_client_label"><label for="unknown_client">Client</label></dt>
        <dd><input type="text" id="unknown_client" /><span id="unknown_client_error" style="color:tomato;"></span></dd>


        <dt>Le site de livraison existe sur Carbure ?</dt>
        <dd>Oui <input type="radio" name="delivery_site_is_in_carbure" value="yes"/> Non <input type="radio" name="delivery_site_is_in_carbure" value="no"/></dd>

        <!-- Delivery site is in Carbure -->
        <dt id="carbure_delivery_site_label"><label for="carbure_delivery_site">Site de livraison</label></dt>
        <dd><input id="carbure_delivery_site" type="text" class="autocomplete_depots" /><span id="carbure_delivery_site_error" style="color:tomato;"></span><input type="hidden" id="carbure_delivery_site_id" /></dd>

        <!-- Delivery site is not in Carbure -->
        <dt id="unknown_delivery_site_label"><label for="unknown_delivery_site">Site de livraison</label></dt>
        <dd><input id="unknown_delivery_site" type="text" /><span id="unknown_delivery_site_error" style="color:tomato;"></span></dd>
        <dt id="unknown_delivery_site_country_label"><label for="unknown_delivery_site_country">Pays de livraison</label></dt>
        <dd><input id="unknown_delivery_site_country" type="text" class="autocomplete_countries" /><span id="unknown_delivery_site_country_error" style="color:tomato;"></span><input type="hidden" id="unknown_delivery_site_country_code" /></dd>


        <dt><label for="delivery_date">Date de livraison</label></dt>
        <dd><input id="delivery_date" type="text" placeholder="AAAA-MM-JJ" /><span id="delivery_date_error" style="color:tomato;"></span></dd>
        <dt><label for="champ_libre">Champ Libre</label></dt>
        <dd><input id="champ_libre" type="text" /><span id="champ_libre_error" style="color:tomato;"></span></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3>Gaz à Effet de Serre</h3>
        <span style="margin-top: -2em; display: block; text-align: left;"><small>en gCO2eq/MJ</small></span>
        <table id="table_lot_ges">
          <thead>
            <th>Émissions</th>
            <th>Réductions</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="eec" title="Émissions résultant de l'extraction ou de la culture des matières premières">EEC* </label><input type="text" id="eec" class="ges_field ges_incr" />
              </td>
              <td>
                <label for="esca" title="Réductions d'émissions dues à l'accumulation du carbone dans les sols grâce à une meilleure gestion agricole">ESCA* </label><input type="text" id="esca" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label title="Émissions annualisées résultant de modifications des stocks de carbone dues à des changements dans l'affectation des sols">EL* </label><input type="text" id="el" class="ges_field ges_incr" />
              </td>
              <td>
                <label title="Réductions d'émissions dues au piégeage et au stockage géologique du carbone">ECCS* </label><input type="text" id="eccs" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label title="Émissions résultant de la transformation">EP* </label><input type="text" id="ep" class="ges_field ges_incr" />
              </td>
              <td>
                <label title="Réductions d'émissions dues au piégeage et à la substitution du carbone">ECCR* </label><input type="text" id="eccr" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label title="Émissions résultant du transport et de la distribution">ETD* </label><input type="text" id="etd" class="ges_field ges_incr" />
              </td>
              <td>
                <label title="Réductions d'émissions dues à la production excédentaire d'électricité dans le cadre de la cogénération">EEE* </label><input type="text" id="eee" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label title="Émissions résultant du carburant à l'usage">EU* </label><input type="text" id="eu" class="ges_field ges_incr" />
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <input type="hidden" id="ghg_reference" />
          <thead>
            <tr>
              <th>Total gCO2eq/MJ</th>
              <th id="reduction_title" title="">Réduction<small>*</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ghg_total"></td>
              <td id="ghg_reduction"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form__group button__group" id="save_section">
      <a class="button primary" id="btn_lot_save">Sauvegarder</a>
      <a class="button secondary close" id="btn_close_modal_lot_save">Annuler</a>
    </div>
    <div class="form__group button__group" id="check_section">
      <div class="button-item">
        <a class="button primary" id="btn_accept_lot">Accepter Lot</a>
        <a class="button warning-light" id="btn_open_modal_accept_lot_with_comments">Accepter sous réserve</a>
        <a class="button warning" id="btn_open_modal_reject_lot">Refuser</a>
      </div>
      <div class="button-item button-push">
        <a class="button secondary close" id="btn_close_modal_lot_check">Annuler</a>
      </div>
    </div>
    <div class="form__group" id="correct_section">
      <dl id="comments_list">
      </dl>
      <div class="form__group button__group">
        <div class="button-item">
          <a class="button primary" id="btn_add_tx_comment">Sauvegarder</a>
        </div>
        <div class="button-item button-push">
          <a class="button secondary close" id="btn_close_modal_lot_correct">Annuler</a>
        </div>
      </div>
    </div>
  </div>
</div>
