.doublecountHeader {
  gap: 32px;
}

.doublecountTitle {
  align-items: center;
  gap: 8px;
}

.doublecountYears {
  font-size: 1.5em;
  padding: 8;
}

.doublecountTabs {
  gap: 24px;
}

.doublecountMain {
  padding: 16px var(--main-spacing);
}
