.declarationLegend {
  margin-left: auto;
}

.declarationColorCode {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.declarationColor {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.declarationColorInProgress {
  background-color: var(--orange-medium);
}

.declarationColorReminded {
  background-color: var(--red-dark);
}

.declarationColorDeclared {
  background-color: var(--blue-medium);
}

.declarationColorChecked {
  background-color: var(--green-dark);
}

.declarationTable > div > div {
  padding: 2px;
}

.declarationCell {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: normal;
  min-height: 48px;
  padding: 8px 12px;
}

.declarationEntity {
  align-items: center;
}

.declarationPeriod {
  justify-content: center;
  font-size: 1em;
}

.declarationChecked {
  background-color: var(--green-dark);
  color: var(--white);
}

.declarationDeclared {
  background-color: var(--blue-medium);
  color: var(--white);
}

.declarationInProgress {
  background-color: var(--orange-medium);
}

.declarationReminded {
  background-color: var(--red-dark);
  color: var(--white);
}

.declarationSummary {
  display: none;
  visibility: hidden;
  flex: 1;
  flex-direction: column;
  margin-right: 16px;
}

.declarationValidation {
  display: none;
  margin-left: auto;
  margin-right: 16px;
  width: 40px;
  height: 40px;
}

.declarationCell:hover .declarationValidation {
  display: flex;
}

.declarationTable > div:hover .declarationSummary {
  visibility: visible;
  display: flex;
}

.declarationFocus {
  margin-left: 24px;
  margin-bottom: 16px;
  font-size: 1.1em;
  cursor: pointer;
}

.declarationCurrentFocus {
  font-weight: bold;
  text-decoration: underline;
}
