.declarationTable > div > div {
  padding: 2px;
}

.declarationCell {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: normal;
  padding: 8px;
}

.declarationChecked {
  background-color: var(--green-dark);
  color: var(--white);
}

.declarationDeclared {
  background-color: var(--blue-medium);
  color: var(--white);
}

.declarationInProgress {
  background-color: var(--orange-medium);
}

.declarationIdle {
  background-color: var(--red-dark);
  color: var(--white);
}

.declarationSummary {
  margin: 0;
  padding: 0;
  list-style: none;
}

.declarationValidation {
  display: none;
  margin-left: auto;
  margin-right: 16px;
  width: 36px;
  height: 36px;
}

.declarationCell:hover .declarationValidation {
  display: flex;
}
