.alert {
  display: flex;
  padding: var(--spacing-s) var(--spacing-m);
  gap: var(--spacing-m);
  background-color: var(--gray-highlight);
  border: 1px solid var(--gray-medium);
  border-radius: var(--border-radius);
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
}

.alert.loading {
  opacity: 0.66;
}

.alert [data-icon] {
  flex-shrink: 0;
  color: var(--gray-dark);
  float: left;
}

.alert header {
  display: flex;
  column-gap: var(--spacing-s);
  align-items: center;
  flex-wrap: wrap;
}

.info {
  background-color: var(--blue-light);
  border-color: var(--blue-highlight);
}

.info [data-icon] {
  color: var(--blue-medium);
}

.success {
  background-color: var(--green-light);
  border-color: var(--green-medium);
}

.success [data-icon] {
  color: var(--green-dark);
}

.warning {
  background-color: var(--orange-light);
  border-color: var(--orange-medium);
}

.warning [data-icon] {
  color: var(--orange-dark);
}

.danger {
  background-color: var(--red-light);
  border-color: var(--red-medium);
}

.danger [data-icon] {
  color: var(--red-dark);
}

.multiline header {
  display: inline-block;
}

.multiline [data-icon] {
  margin-right: 3px;
}
