.alert {
  display: flex;
  padding: var(--spacing-s) var(--spacing-m);
  gap: var(--spacing-m);
  background-color: var(--gray-highlight);
  border: 1px solid var(--gray-medium);
  border-radius: var(--border-radius);
  /* white-space: nowrap; DR : retiré poru evité d'avoir des messages coupés et permettre le multiline*/
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.alert.loading {
  opacity: 0.66;
}

.alert [data-icon] {
  flex-shrink: 0;
  color: var(--gray-dark);
}

.info {
  background-color: var(--blue-light);
  border-color: var(--blue-highlight);
}

.info [data-icon] {
  color: var(--blue-medium);
}

.success {
  background-color: var(--green-light);
  border-color: var(--green-medium);
}

.success [data-icon] {
  color: var(--green-dark);
}

.warning {
  background-color: var(--orange-light);
  border-color: var(--orange-medium);
}

.warning [data-icon] {
  color: var(--orange-dark);
}

.danger {
  background-color: var(--red-light);
  border-color: var(--red-medium);
}

.danger [data-icon] {
  color: var(--red-dark);
}