/* base style */
.button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-s);
  background-color: var(--white);
  border: 1px solid var(--gray-medium);
  color: var(--black);
  font-weight: 600;
  padding: var(--spacing-s) var(--spacing-m);
  cursor: pointer;
  font-size: var(--font-size);
  font-family: var(--font-family);
  white-space: nowrap;
  width: min-content;
}

.wrapper {
  align-self: center;
}

.button [data-icon] {
  flex-shrink: 0;
}

.composite {
  padding-left: var(--spacing-s);
}

.button:not(:disabled):hover {
  color: var(--blue-medium);
  border-color: var(--blue-medium);
  background-color: var(--gray-highlight);
}

.button:active {
  transform: translate3D(1px, 1px, 0);
}

.button:disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}

/* variant primary */
.primary,
.primary:disabled {
  color: var(--white) !important;
  background-color: var(--blue-medium);
  border-color: var(--blue-medium);
}

.primary:not(:disabled):hover {
  color: var(--white);
  background-color: var(--blue-dark);
}

/* variant secondary */
.secondary,
.secondary:disabled {
  color: var(--black);
  background-color: var(--gray-light);
  border-color: var(--gray-medium);
}

.secondary:not(:disabled):hover {
  color: var(--blue-dark);
  border-color: var(--blue-dark);
}

/* variant success */
.success,
.success:disabled {
  color: var(--green-dark);
  background-color: var(--green-light);
  border-color: var(--green-medium);
}

.success:not(:disabled):hover {
  color: var(--white);
  background-color: var(--green-dark);
  border-color: var(--green-dark);
}

/* variant warning */
.warning,
.warning:disabled {
  color: var(--orange-dark);
  background-color: var(--orange-light);
  border-color: var(--orange-medium);
}

.warning:not(:disabled):hover {
  color: var(--white);
  background-color: var(--orange-dark);
  border-color: var(--orange-dark);
}

/* variant danger */
.danger,
.danger:disabled {
  color: var(--red-dark);
  background-color: var(--red-light);
  border-color: var(--red-medium);
}

.danger:not(:disabled):hover {
  color: var(--white);
  background-color: var(--red-dark);
  border-color: var(--red-dark);
}

/* variant text */
.text,
.text:disabled {
  border: none;
  background-color: transparent;
  color: var(--black);
}

.text:not(:disabled):hover {
  background-color: transparent;
  color: var(--blue-dark);
}

.text[data-disabled] {
  color: var(--gray-medium);
}

/* variant link */
.link,
.link:disabled {
  padding: 0;
  text-decoration: underline;
  color: var(--blue-dark);
  background-color: transparent;
  border: none;
  font-weight: normal;
}

.link:not(:disabled):hover {
  background-color: transparent;
}

/* variant icon */
.icon {
  padding: 0;
  border: none;
  background-color: transparent;
}

.icon:not(:disabled):hover {
  background-color: transparent;
  color: var(--blue-dark);
}

.external {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-s);
  white-space: nowrap;
}

.external:not(:disabled):hover {
  text-decoration: underline;
}

.center span {
  flex: 1;
  text-align: center;
}

.mailto {
  align-items: center;
}

.downloadLink {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--blue-medium);
  text-decoration: underline;
  gap: var(--spacing-s);
}
