.passthrough {
	pointer-events: none;
}

@keyframes loading {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader {
	will-change: transform;
	animation: loading infinite linear 3s;
}
