/* box COMPONENT */

.box {
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: pre;
}

.boxRow {
  flex-direction: row;
}

/* HEADER COMPONENT */

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-light);
  padding: 24px 120px;
  margin-top: 1px;
  border-bottom: 1px solid var(--gray-highlight);
}

/* TITLE COMPONENT */

.title {
  font-size: 1.5em;
  margin: 0;
}

/* LOADER OVERLAY COMPONENT */

.loaderOverlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-light);
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
