/* box COMPONENT */

.box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.boxRow {
  flex-direction: row;
}

/* TITLE COMPONENT */

.title {
  font-size: 24px;
  font-family: Evolventa;
  margin: 0;
}

/* LOADER OVERLAY COMPONENT */

.loaderOverlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-light);
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
