.menu {
  padding: var(--spacing-s);
}

.menu span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown {
  max-height: 50vh;
}

.items li {
  padding: 0;
}

.items li>* {
  width: 100%;
  padding: var(--spacing-s) var(--spacing-m);
  text-decoration: none;
}

.items [data-level="1"] * {
  padding-left: var(--spacing-l);
}