:global(#notifications) {
  z-index: 2;
}

.notificationsWrapper {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 8px 16px;
}

.notification {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 360px;
  margin: 8px 0;
  padding: 8px;
  padding-left: 12px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.1em;
  box-shadow: 2px 2px 2px var(--black);
}

.notification :global(.icon) {
  position: absolute;
  right: 8px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  cursor: pointer;
}

.notification.success {
  background-color: var(--green-dark);
}

.notification.warning {
  background-color: var(--orange-dark);
}

.notification.error {
  background-color: var(--red-dark);
}

.notificationList {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  margin-top: 8px;
}
