:global(#notifications) {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: var(--spacing-s);
  z-index: 3;
  gap: var(--spacing-s);
}

.notification {
  display: flex;
  position: relative;
  width: 480px;
  font-size: 1.1em;
  background-color: var(--black);
  color: var(--white);
  box-shadow: var(--shadow);
}

.content {
  padding: var(--spacing-s);
  padding-left: var(--spacing-m);
}

.close {
  margin-left: auto;
  align-self: flex-start;
  padding: var(--spacing-s);
  flex-shrink: 0;
  cursor: pointer;
  color: var(--white);
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.33);
  color: var(--white);
}

.info {
  background-color: var(--blue-medium);
}

.success {
  background-color: var(--green-dark);
}

.warning {
  background-color: var(--orange-dark);
}

.danger {
  background-color: var(--red-dark);
}
