.table {
  width: 100%;
  border-spacing: 0;
  font-weight: 600;
  font-size: var(--font-size);
  table-layout: fixed;
}

.tableRow,
.table tbody tr {
  cursor: pointer;
}

.table .tableRow:nth-child(even),
.table tbody tr:nth-child(even) {
  background-color: var(--white);
}

.table .tableRow:nth-child(odd),
.table tbody tr:nth-child(odd) {
  background-color: var(--gray-light);
}

.table .tableRow:hover,
.table tbody tr:hover {
  background-color: var(--gray-highlight);
  z-index: 1;
}

.tableHeader,
.table th {
  flex: 1;
  align-items: flex-end;
  color: var(--blue-medium);
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  padding: 8px;
  user-select: none;
  cursor: pointer;
}

.tableCell,
.table .table tbody tr td {
  flex: 1;
  align-items: center;
  font-weight: 600;
  padding: 16px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dualRow {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rowLine {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lineWarning {
  color: var(--orange-dark);
}

.extraInfo {
  font-size: 0.87em;
  color: var(--gray-dark);
  font-style: italic;
}

.actionColumn {
  flex: 0.5;
  justify-content: center;
}

.actionCell {
  flex: 1;
  align-items: center;
  justify-content: center;
  color: var(--gray-dark);
}

.actionCell :global(.icon) {
  width: 20px;
}

.actionCell :global(.icon):hover {
  stroke: var(--blue-medium);
}

.actionList {
  align-self: stretch;
  align-items: center;
  justify-content: space-around;
}

.actionList,
.tableRow:hover .actionArrow {
  display: none;
}

.tableRow:hover .actionList {
  display: flex;
}
