.table {
  width: 100%;
  border-spacing: 0;
  font-weight: 600;
  font-size: var(--font-size);
  table-layout: fixed;
}

.table tbody tr {
  border-bottom: 1px solid var(--gray-highlight);
  cursor: pointer;
}

.table tbody tr:nth-child(even) {
  background-color: var(--gray-light);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--white);
}

.table tbody tr:hover {
  background-color: var(--gray-highlight);
  z-index: 1;
}

.table th {
  color: var(--blue-medium);
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  padding: 8px;
  user-select: none;
  cursor: pointer;
}

.table tbody tr td {
  font-weight: 600;
  padding: 16px 8px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dualRow {
  display: flex;
  flex-direction: column;
}

.rowLine {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.extraInfo {
  font-size: 14px;
  color: var(--gray-dark);
  font-style: italic;
}

.actionColumn {
  width: 88px;
}

.actionCell {
  align-items: center;
  justify-content: center;
  color: var(--gray-dark);
}

.actionCell :global(.icon) {
  width: 20px;
}

.actionCell :global(.icon):hover {
  stroke: var(--blue-medium);
}

.actionList {
  align-self: stretch;
  align-items: center;
  justify-content: space-around;
}

.actionList,
tr:hover .actionArrow {
  display: none;
}

tr:hover .actionList {
  display: flex;
}
