.dropdown {
  background: transparent;
  border: none;
  min-width: 20px !important;
  top: -2px;
}

.tooltip {
  min-height: 32px;
  padding: 6px 8px;
  margin-bottom: 7px;
  color: #fff;
  text-align: start;
  text-decoration: none;
  word-wrap: break-word;
  background-color: var(--black);
  border-radius: 6px;
}

.arrow {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  margin: -17px 0 0 20px;
  border-radius: 0 0 2px 0;
  transform: translateY(50%) rotate(-135deg);
  box-shadow: 2px 2px 5px rgb(0 0 0 / 5%);
  z-index: 0;
  background-color: var(--black);
}

