server {
    listen 80;
    server_name ${NGINX_HOSTS};
    charset     utf-8;
    client_max_body_size 5M;

    root /var/www/html;

    # metabase
    location /metabase {
        proxy_pass http://carbure-metabase:3000;
    }


    # serve static files
    location /static {
        alias /var/www/html;
    }

    # uwsgi
    location / {
        proxy_pass  http://carbure-django:8001;
    }
}
