server {
    listen 80;
    server_name ${NGINX_HOSTS};
    charset     utf-8;
    client_max_body_size 5M;

    root /var/www/html;

    # serve static files
    location /static {
        alias /var/www/html;
    }

    # proxy pass
    location / {
        proxy_pass  http://carbure-django:8001;
    }

    # proxy pass
    location /v2 {
        proxy_pass  http://carbure-frontend:1234;
    }
}
