<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- Meta setup -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="">
		<meta name="decription" content="">
		<meta name="designer" content="Asad Kabir">

		<!-- Title -->
		<title>Welcome</title>

		<!-- Fav Icon -->
		<link rel="icon" href="/static/v2/images/favicon.ico" />

		<!-- Include Bootstrap -->
		<link rel="stylesheet" href="/static/v2/css/bootstrap.css" />

		<!-- Main StyleSheet -->
		<link rel="stylesheet" href="/static/v2/css/style.css" />

		<!-- Responsive CSS -->
		<link rel="stylesheet" href="/static/v2/css/responsive.css" />

	</head>
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- Menu area start -->
		<nav class="navbar navbar-expand-lg main-nav-area navbar-light">
			<div class="container">
				<a href="#">
	        		<img class="nav-logo" src="/static/v2/images/logo.png" alt="carbure.beta.gouv.fr" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#btnav-01" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="btnav-01">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item"><a class="nav-link" href="#">Stocks</a></li>
				      <li class="nav-item"><a class="nav-link active" href="#">Transactions</a></li>
				      <li class="nav-item"><a class="nav-link" href="#">Contrôles</a></li>
				      <li class="nav-item"><a class="nav-link" href="#">Annuaire</a></li>
				    </ul>
				   	<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="btnav1-dd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Guillaume Caillou
							</a>
							<div class="dropdown-menu" aria-labelledby="btnav1-dd">
							  <a class="dropdown-item" href="#">Sub Item</a>
							  <a class="dropdown-item" href="#">Sub Item</a>
							  <a class="dropdown-item" href="#">Sub Item</a>
							  <a class="dropdown-item" href="#">Sub Item</a>
							  <a class="dropdown-item" href="#">Sub Item</a>
							  <a class="dropdown-item" href="#">Sub Item</a>
							</div>
						  </li>
				    </ul>
				</div>
			</div>
		</nav>
		<!-- Menu area end -->

		<!-- header-bt area start -->
		<section class="header-bt-wrap">
			<div class="header-bt">
				<div class="container">
					<div class="header-1st">
						<div class="row align-items-center">
							<div class="col-md-6">
								<h4>Transactions </h4>
							</div>
							<div class="col-md-6 text-md-right">
								<a href="#">+ &nbsp; Ajouter des lots</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="hb-item hbi-bdr">
								<p>12</p>
								<span>Brouillons</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="hb-item">
								<p>76</p>
								<select name="" class="custom-select">
									<option value="" selected>Lots envoyés</option>
									<option value="1">Sub item</option>
									<option value="2">Sub item</option>
									<option value="3">Sub item</option>
									<option value="4">Sub item</option>
									<option value="5">Sub item</option>
									<option value="6">Sub item</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="hb-item">
								<p>9</p>
								<select name="" class="custom-select">
									<option value="" selected>Lots à corriger</option>
									<option value="1">Sub item</option>
									<option value="2">Sub item</option>
									<option value="3">Sub item</option>
									<option value="4">Sub item</option>
									<option value="5">Sub item</option>
									<option value="6">Sub item</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="hb-item">
								<p>376</p>
								<select name="" class="custom-select">
									<option value="" selected>Lots acceptés</option>
									<option value="1">Sub item</option>
									<option value="2">Sub item</option>
									<option value="3">Sub item</option>
									<option value="4">Sub item</option>
									<option value="5">Sub item</option>
									<option value="6">Sub item</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- header-bt area end -->

		<!-- slct-btn area start -->
		<div class="slct-btn">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-9 col-lg-9">
						<select name="" class="custom-select">
							<option value="" selected>Période</option>
							<option value="1">Sub item</option>
							<option value="2">Sub item</option>
							<option value="3">Sub item</option>
						</select>
						<select name="" class="custom-select">
							<option value="" selected>Site de production</option>
							<option value="1">Sub item</option>
							<option value="2">Sub item</option>
							<option value="3">Sub item</option>
						</select>
						<select name="" class="custom-select">
							<option value="" selected>Matière première</option>
							<option value="1">Sub item</option>
							<option value="2">Sub item</option>
							<option value="3">Sub item</option>
						</select>
						<select name="" class="custom-select">
							<option value="" selected>Pays d’origine</option>
							<option value="1">Sub item</option>
							<option value="2">Sub item</option>
							<option value="3">Sub item</option>
						</select>
						<select name="" class="custom-select">
							<option value="" selected>Colza</option>
							<option value="1">Sub item</option>
							<option value="2">Sub item</option>
							<option value="3">Sub item</option>
						</select>
						<select name="" class="custom-select">
							<option value="" selected>Client</option>
							<option value="1">Sub item</option>
							<option value="2">Sub item</option>
							<option value="3">Sub item</option>
						</select>
					</div>
					<div class="col-md-3 col-lg-3 text-md-right">
						<a href="#"><i class="fas fa-search"></i> &nbsp; Rechercher un lot</a>
					</div>
				</div>
			</div>
		</div>
		<!-- slct-btn area end -->

		<div class="cnt-bg">
			<!-- alert-1 area start -->
			<div class="container">
				<div class="alert-1">
					<div class="row align-items-center">
						<div class="col-md-8">
							<p>
								<img src="/static/v2/images/alt1.png" alt="">
								<strong>18 lots</strong> présentent des <strong>incohérences</strong>
								<a href="#">Voir la liste</a>
							</p>
						</div>
						<div class="col-md-4 text-md-right">
							<a href="#">Masquer ce message</a>
						</div>
					</div>
				</div>
			</div>
			<!-- alert-1 area end -->

			<!-- alert-1 area start -->
			<div class="container">
				<div class="alert-2">
					<div class="row align-items-center">
						<div class="col-md-8">
							<p>
								<img src="/static/v2/images/alt2.png" alt="">
								<strong>56 lots</strong> doivent être validés et envoyés avant le <strong>30 juin</strong>
								<a href="#">Voir la liste</a>
							</p>
						</div>
						<div class="col-md-4 text-md-right">
							<a href="#">Masquer ce message</a>
						</div>
					</div>
				</div>
			</div>
			<!-- alert-1 area end -->

			<!-- tbl-chat area start -->
			<div class="tbl-chat">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table">
									<tr class="thead-area">
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a99">
												<label class="custom-control-label" for="a99"></label>
											</div>
										</td>
										<td>STATUT</td>
										<td>DATE d’AJOUt</td>
										<td>N° Douane</td>
										<td>CLIENT</td>
										<td>Biocarburant</td>
										<td>PROVENANCE</td>
										<td>DESTINATION</td>
										<td>MAT. première</td>
										<td>ÉCONOMIE</td>
										<td></td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a1">
												<label class="custom-control-label" for="a1"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>BP France</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a2">
												<label class="custom-control-label" for="a2"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>BP France</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a3">
												<label class="custom-control-label" for="a3"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>SHELL</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a4">
												<label class="custom-control-label" for="a4"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>SHELL</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a5">
												<label class="custom-control-label" for="a5"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>CARFUEL</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a6">
												<label class="custom-control-label" for="a6"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>BP France</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a7">
												<label class="custom-control-label" for="a7"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>CARFUEL</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a8">
												<label class="custom-control-label" for="a8"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>TMF</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a9">
												<label class="custom-control-label" for="a9"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>BP France</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
									<tr>
										<td>
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="a10">
												<label class="custom-control-label" for="a10"></label>
											</div>
										</td>
										<td>
											<span>Brouillon</span>
										</td>
										<td>30 septembre</td>
										<td>FR000000123</td>
										<td>BP France</td>
										<td>
											Ethanol<br />
											<small>12000L </small>
										</td>
										<td>
											Photovoltahix<br>
											<small>France</small>
										</td>
										<td>
											Grandpuits<br>
											<small>Grèce</small>
										</td>
										<td>
											Colza<br>
											<small>France</small>
										</td>
										<td>74.58%</td>
										<td>&gt;</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- tbl-chat area end -->

			<!-- pagination area start -->
			<div class="pagination-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-8">
							<div class="pnt-left text-center text-md-right">
								<ul>
									<li><a href="#">&lt;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#" id="active-pg">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pnt-right text-center text-md-right">
								<a href="#">
									<img src="/static/v2/images/dnld.png" alt="">
									Exporter cette liste (XLS)
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- pagination-1 area end -->
		</div>

		<!-- Main jQuery -->
		<script src="/static/v2/js/jquery-3.4.1.min.js"></script>

		<!-- Bootstrap Propper jQuery -->
		<script src="/static/v2/js/popper.js"></script>

		<!-- Bootstrap jQuery -->
		<script src="/static/v2/js/bootstrap.js"></script>

		<!-- Custom jQuery -->
		<script src="/static/v2/js/scripts.js"></script>

		<!-- Scroll-Top button -->
		<a href="#" class="scrolltotop"><i class="fas fa-angle-up"></i></a>

	</body>
</html>