// modifications over the standard etalab template

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.container.container-full-down {
  min-height: 100%;
}

.badge {
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	padding: 2px 6px;
	display: inline-block;
	min-width: 10px;
	position: absolute;
}

.badge-green {
	background: #1ABB9C!important;
	border: 1px solid #1ABB9C!important;
	color: #fff;
}

.badge-red {
	background: #d63626!important;
	border: 1px solid #d63626!important;
	color: #fff;
}

.side-menu-submenu {
	padding-left: var(--space-s);
	font-size: 14px;
}

.dashboard .side-menu .active-submenu {
	text-decoration: underline;
    color: #0053b3;
    color: var(--theme-primary);
}

.flex-container {
	display: flex;
	justify-content: space-evenly;	
}

.flex-container-right {
	display: flex;
	flex-direction: row-reverse;
	align-items: baseline;
}

.flex-container-left {
	display: flex;
	flex-direction: row;
}

.modal-big {
	max-width: 64em;
}