// modifications over the standard etalab template

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.container.container-full-down {
  min-height: 100%;
}

.badge {
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	padding: 2px 6px;
	display: inline-block;
	min-width: 10px;
	position: absolute;
}

.badge-green {
	background: #1ABB9C!important;
	border: 1px solid #1ABB9C!important;
	color: #fff;
}

.badge-red {
	background: #d63626!important;
	border: 1px solid #d63626!important;
	color: #fff;
}

.side-menu-submenu {
	padding-left: var(--space-s);
	font-size: 14px;
}

.dashboard .side-menu .active-submenu {
	text-decoration: underline;
    color: #0053b3;
    color: var(--theme-primary);
}

.flex-container {
	display: flex;
	justify-content: space-evenly;
}

.flex-container-right {
	display: flex;
	flex-direction: row-reverse;
	align-items: baseline;
}

.flex-container-left {
	display: flex;
	flex-direction: row;
}

.modal-big {
	max-width: 64em;
	height: 100%;
	overflow-y: auto;
}

table > thead > tr > th,
table > tfoot > tr > th,
table > tbody > tr > td {
  font-size: 14px;
  line-height: 1em;
}

#datatable > tbody > tr.status_ok,
#datatable > tbody > tr.status_ok td.sorting_1,
#datatable_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > tbody > tr.status_ok,
#datatable_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > tbody > tr.status_ok td.sorting_1,
#datatable_wrapper > div > div.DTFC_RightWrapper > div.DTFC_RightBodyWrapper > div > table > tbody > tr.status_ok,
#datatable_wrapper > div > div.DTFC_RightWrapper > div.DTFC_RightBodyWrapper > div > table > tbody > tr.status_ok td.sorting_1 {
	background: var(--light-green);
  cursor: pointer;
}

#datatable > tbody > tr.status_warning,
#datatable > tbody > tr.status_warning td.sorting_1,
#datatable_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > tbody > tr.status_warning,
#datatable_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > tbody > tr.status_warning td.sorting_1,
#datatable_wrapper > div > div.DTFC_RightWrapper > div.DTFC_RightBodyWrapper > div > table > tbody > tr.status_warning,
#datatable_wrapper > div > div.DTFC_RightWrapper > div.DTFC_RightBodyWrapper > div > table > tbody > tr.status_warning td.sorting_1 {
	background: var(--light-orange);
  cursor: pointer;
}

#datatable_wrapper tbody tr.hover,
#datatable_wrapper tbody tr.hover td.sorting_1,
#datatable > tbody > tr:hover,
#datatable > tbody > tr:hover td.sorting_1 {
	background: var(--lighter-blue) !important;
  cursor: pointer;
}

.flex-container-a {
  display: flex;

  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item-a {
  padding: 5px;
  margin-top: 5px;
  color: white;
  text-align: center;
}

.button-container {
  display: flex;
}

.button-item {
}


.button-push {
  margin-left: auto;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#table_lot_ges tbody td input {
	width: 100px;
}


.icon {
  width: 0.5em;
  height: 0.5em;
  font-size: 16px;
}