// modifications over the standard etalab template


.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;    
}

.site-content {
  flex: 1;
}

.container.container-full-down {
  min-height: 100%;
}

.badge {
	display: inline-block;
	min-width: 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
}

.badge-green {
	background: #1ABB9C!important;
	border: 1px solid #1ABB9C!important;
	color: #fff;
}

.info-number {
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	padding: 2px 6px;
}

.side-menu-submenu {
	padding-left: var(--space-s);
	font-size: 14px;
}

.dashboard .side-menu .active-submenu {
	text-decoration: underline;
    color: #0053b3;
    color: var(--theme-primary);
}
