.certificateIcon {
  cursor: pointer;
}

.certificateDialog {
  z-index: 10000
}

.certificateInfo {
  font-size: 1.1em;
  margin-top: 24px;
}

.certificateInfo li {
  margin-bottom: 4px;
}

.distanceLink {
  margin-left: 4px;
  color: var(--blue-medium);
  text-decoration: underline;
}