@import "./reset.css";
@import "./fonts.css";
@import "./theme.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5em;
  background-color: var(--body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: flex-start;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

button,
input,
textarea,
select {
  font-family: var(--font-family);
}

/* Override DSFR */
[href] {
  background-image: none;
}

/* ri-loader-line will be used as the common loading icon*/
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ri-loader-line::before,
.ri-loader-line::after {
  will-change: transform;
  animation: loading infinite linear 3s;
}
