.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  color: var(--black);
  padding: 12px 120px;
  font-size: var(--font-size);
  line-height: 1.5em;
  margin-top: auto;
  border-top: 1px solid var(--gray-highlight);
}

.footerUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-highlight);
  padding-bottom: 16px;
  flex-wrap: wrap;
}

.footerMTES {
  height: 200px;
  margin-right: 32px;
}

.footerFanum {
  padding: 24px;
  height: 200px;
}

.footerBetagouv {
  max-width: 240px;
}

.footerDescription {
  max-width: 480px;
  font-size: 1.1em;
  text-align: justify;
  margin: 0;
}

.footerContainer a,
.footerContainer a:hover,
.footerContainer a:focus,
.footerContainer a:visited,
.footerContainer a:active {
  color: var(--blue-dark);
}

.footerLinks {
  display: flex;
  padding-top: 12px;
  flex-wrap: wrap;
}

.footerLinks ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footerLinks ul li {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.footerCarbureLinks li:not(:last-child)::after {
  content: "";
  height: 75%;
  width: 2px;
  background-color: var(--gray-highlight);
  margin-left: 16px;
}

ul.footerSocialLinks {
  margin-left: auto;
}

.footerLinks a {
  display: flex;
  align-items: center;
  color: var(--gray-dark);
}

.footerLinks a:hover {
  color: var(--black);
}

.footerSocialLinks {
  margin-left: auto;
}
