.footerContainer {
  display: flex;
  justify-content: space-between;
  background: var(--footer);
  color: var(--white);
  padding: 32px 120px;
  font-size: var(--font-size);
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin-top: auto;
}

.flexCell {
  display: flex;
  margin: 0;
  list-style: none;
  max-width: 25%;
  list-style: none !important;
  list-style-type: none !important;
}

.footerImage {
  height: 200px;
}

.footerMTES {
  background-color: var(--body);
  padding: 12px;
}

.centerImage {
  text-align: center;
}

.footerContainer a,
.footerContainer a:hover,
.footerContainer a:focus,
.footerContainer a:visited,
.footerContainer a:active {
  color: var(--blue-medium);
}

.footerContainer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.footerContainer p {
  margin: auto;
}

.footerLinks a {
  color: #fff;
}

.footerContainer h2 {
  font-size: 1.75em;
  line-height: 1.25em;
  margin-top: 0;
  margin-bottom: 8px;
}
