.notifications {
  overflow: visible;
  padding: 0 var(--spacing-s);
}

.notificationMenu {
  max-width: 480px;
  max-height: 66vh;
  overflow-x: hidden;
}

.notificationIcon {
  position: relative;
}

.notificationIcon svg {
  transform: rotate(45deg);
  margin-top: 8px;
}

.notificationIcon.pending::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  right: -8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--red-dark);
}

.notificationText {
  align-items: center;
  gap: var(--spacing-l);
  justify-content: space-between;
}

.notificationText.pending {
  font-weight: bold;
}

.notificationTime {
  font-size: 0.8em;
  color: var(--gray-dark);
}

.notificationMenu .markAllAsRead {
  padding: 8px 16px;
  width: 100%;
  justify-content: space-between;
}

.markAllAsRead:hover {
  background-color: var(--gray-highlight);
}
