.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 32px 120px;
}

h1.welcome {
  font-size: 48px;
}

p.subtitle {
  font-size: 24px;
  color: var(--gray-dark);
  margin-top: 24px;
  margin-bottom: 0;
}

div.accountMessage {
  align-items: center;
  margin-top: 48px;
}

div.accountMessage span,
div.pendingAlert span {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}

div.pendingAlert span:last-child {
  margin-bottom: 0;
}

div.pendingAlert {
  flex-direction: column;
  padding: 24px 32px;
  width: 864px;
  margin-bottom: 48px;
}

.alertIcon,
.faqIcon {
  color: var(--gray-dark);
  margin-right: 12px;
}

.faqIcon {
  border: 2px solid var(--blue-dark);
  border-radius: 50%;
}

.link {
  color: var(--blue-medium);
  text-decoration: underline;
  margin: 0 6px;
  flex-shrink: 0;
}
