.topBar {
  display: flex;
  background-color: var(--white);
  padding: 0 120px;
  box-shadow: 0px 1px 2px var(--gray-medium);
}

.logo {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.marianne {
  height: 24px;
}

.carbure {
  margin-left: 16px;
  margin-top: -6px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: var(--black);
}

.betagouv {
  height: 40px;
}

.pageNav {
  display: flex;
  margin-left: 32px;
}

.pageLink {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 16px;
  font-size: 1.1em;
  color: var(--black);
}

.pageLink:hover {
  color: var(--blue-medium);
}

.activePageLink {
  font-weight: 600;
}

.activePageLink::after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-medium);
}

.userMenu {
  display: flex;
  font-size: 1.1em;
  margin-left: auto;
}

.faq {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: var(--blue-medium);
  border: 3px solid var(--blue-medium);
  border-radius: 50%;
  opacity: 0.45;
  margin-left: 42px;
  margin-right: -78px;
}

.faq:hover {
  opacity: 1;
}
