.topBar {
  display: flex;
  background-color: var(--white);
  padding: 0 120px;
  border-bottom: 1px solid var(--gray-highlight);
  min-height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.logo .logoText {
  margin-left: 24px;
}

.logoText h1 {
  margin: 0;
  margin-bottom: 8px;
}

.logo h2 {
  margin: 0;
  margin-left: 16px;
}

.republique {
  height: 112px;
}

.marianne {
  height: 24px;
}

.betagouv {
  height: 32px;
  margin: 8px 16px;
}

.entityShortcut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 32px;
  color: var(--blue-medium);
}

.pageNav {
  display: flex;
  margin-left: 32px;
}

.pageLink {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 16px;
  font-size: 1.1em;
  color: var(--black);
}

.pageLink:hover {
  color: var(--blue-medium);
}

.activePageLink {
  font-weight: 600;
}

.activePageLink::after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-medium);
}

.topRight {
  margin-left: auto;
}

.languageSelection {
  height: 100%;
  font-size: 1.1em;
  border: none !important;
}

.userMenu {
  display: flex;
  font-size: 1.1em;
  margin-left: 8px;
}

.faq {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: var(--blue-medium);
  border: 3px solid var(--blue-medium);
  border-radius: 50%;
  opacity: 0.45;
  margin-left: 42px;
  margin-right: -78px;
}

.faq:hover {
  opacity: 1;
}
