{% extends "common/base_private.html" %}


{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Attestation de Durabilité</h3>
    {% csrf_token %}

    <div id="tab_out" class="tabcontent">
      <p>Ces lots ont été validés et acceptés par vos clients. </p>

      <div class="flex-container">
        <a id="btn_open_modal_columns_tab_out" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
        <a class="button modal-button" href="{% url 'api-v2-producers-export-histo' %}" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
          <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
        </a>
        <select id="pagelength" style="margin-top: auto;">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
        <input type="text" id="input_search_datatable" style="width: 200px; margin-top: auto;" />
      </div>


      <table class="display nowrap" id="datatable_out">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns_tab_out">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_tab_out_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_tab_out_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_tab_out">Fermer</a>
    </div>
  </div>
</div>

{% include "common/modal_lot.html" %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
window.api_get_out = "{% url 'api-v2-traders-get-out' %}"
$(document).ready(function() {
  // show drafts tab
  tabcontent = document.getElementById("tab_out")
  tabcontent.style.display = "block";
  init_tab_generic("tab_out")
})
</script>

{% endblock %}
