{% extends "common/base.html" %}


{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Redirection en cours</h2>    
      <div class="mb-6">Veuillez patienter quelques instants</div>
    </div>
  </section>
</main>
{% endblock %}

{% block extra_js_public %}
  <script>
    var url = '{{ next_step_url }}'
    var waitSeconds = {{ WAIT_SECONDS }}

    console.debug('Redirecting to', url, 'in', waitSeconds, 'seconds')
    setTimeout(function(){
      window.location.replace(url);
    }, waitSeconds * 1000);

  </script>
{% endblock %}
