.scoreList {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0;
  gap: var(--spacing-m);
}

.scoreTag {
  width: 32px;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

.scoreItem {
  display: flex;
  margin-left: var(--spacing-s);
  color: var(--gray-dark);
}

.scoreSubItems {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  margin-top: var(--spacing-s);
}

.scoreSubItem {
  display: flex;
  align-items: baseline;
}

.scoreResult {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.separator {
  flex: 1 0;
  min-width: 32px;
  margin: 0 12px;
  border-bottom: 1px dashed var(--gray-dark);
}
