/* ALERT COMPONENT */

.alert {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--gray-medium);
  background-color: var(--gray-light);
  border-radius: 5px;
  padding: 8px 16px;
}

.alertWarning {
  border-color: var(--orange-medium);
  background-color: var(--orange-light);
}

.alertError {
  border-color: var(--red-medium);
  background-color: var(--red-light);
}

.alert :global(.icon) {
  width: 20px;
  margin-right: 8px;
  stroke: var(--gray-dark);
}

.alertWarning :global(.icon) {
  stroke: var(--orange-dark);
}

.alertError :global(.icon) {
  stroke: var(--red-dark);
}

.alertFilter {
  margin-bottom: 24px;
}

.alertLink {
  color: var(--blue-dark);
  margin-left: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.alertClose {
  margin-left: auto;
}
