div.confirm {
  min-height: 0;
  padding: 16px;
  padding-top: 24px;
  padding-left: 24px;
}

.confirmMessage {
  margin: 32px 0;
}

.confirmButtons {
  justify-content: flex-end;
}

.confirmButtons button {
  margin-left: 8px;
}
