div.dialog {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 24px;
  padding-bottom: 0;
}

.dialogMessage {
  margin-top: 32px;
  margin-bottom: 16px;
  max-width: 600px;
}

.dialogButtons {
  margin-top: 16px;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dialogButtons button {
  margin-left: 12px;
}
