.menu {
  z-index: 1;
}

.menuLabel {
  font-size: 18px;
}

.menuGroup {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  list-style: none;
}

.menuGroup .menuGroupLabel {
  font-size: 18px;
  font-weight: bold;
  pointer-events: none;
  padding-left: 16px;
}

.menu .menuItem {
  font-size: var(--font-size);
  padding-left: 32px;
}

.menu .menuItemLink {
  padding: 0;
  font-size: var(--font-size);
}

.menu .menuItemLink a {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  padding-left: 32px;
}
