.selectLabel {
  padding: 8px 12px;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-medium);
  border-radius: 5px;
}

.selectLabel:hover {
  border-color: var(--blue-medium);
}

.selectCross {
  width: 16px;
  flex-shrink: 0;
  margin-left: 4px;
}

.selectCross:hover {
  stroke: var(--red-dark);
}

.selectValue {
  font-weight: 600;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  font-size: 13px;
  background-color: transparent;
}

.selectSearch {
  padding: 4px 8px;
}

.selectMultiple {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}

li.selectSelected {
  background-color: var(--blue-light);
}
