{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Lots Affiliés</h3>
    {% csrf_token %}
    <table class="display nowrap" id="datatable">
      <!-- dynamically generated in js -->
      <thead></thead>
      <tfoot></tfoot>
      <tbody></tbody>
    </table>
    <div class="flex-container-right">
      <a class="button secondary" id="btn_open_modal_accept_lots">Accepter Lots</a>
      <a class="button secondary" id="btn_open_modal_reject_lots">Refuser Lots</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_accept_lots">
  <div class="modal">
    <span id="modal_accept_lots_form_err_message" style="color: red;"></span>
    <form id="modal_accept_lots_form" method="POST" data-url="{% url 'operators-api-accept-lots' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir accepter ce(s) lot(s) ?</p>
      <ul id="modal_accept_lots_list">
      </ul>
      <input type="hidden" id="modal_accept_lots_lots" name="lots">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_accept_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_reject_lots">
  <div class="modal">
    <span id="modal_reject_lots_form_err_message" style="color: red;"></span>
    <form id="modal_reject_lots_form" method="POST" data-url="{% url 'operators-api-reject-lots' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir refuser ce(s) lot(s) ?</p>
      <ul id="modal_reject_lots_list">
      </ul>
      <input type="hidden" id="modal_reject_lots_lots" name="lots">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_reject_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_edit_lot">
  <div class="modal" style="max-width: none;">
    <p id="err_msg_dom" style="color: tomato">
    </p>
    <div class="flex-container modal-edit">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3 style="text-align: center;">Informations</h3>
        <input type="hidden" id="lot_id" />
        <dl>
          <dt>Site de Production</dt>
          <dd><input type="text" id="production_site_name" class="autocomplete_production_sites" /><input type="hidden" id="production_site_id" /></dd>
          <dt>Volume à 20°C en Litres</dt>
          <dd><input type="text" id="volume" /></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant_name" class="autocomplete_biocarburants" /><input type="hidden" id="biocarburant_code" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere_name" class="autocomplete_mps" /><input type="hidden" id="matiere_premiere_code" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine_name" class="autocomplete_countries" /><input type="hidden" id="pays_origine_code" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3 style="text-align: center;">Destination</h3>
        <dl>
        <dt><label for="dae">Numéro de DAE / DAU</label></dt>
        <dd><input id="dae" type="text" /></dd>
        <dt><label for="ea_name">Client</label></dt>
        <dd><input type="text" id="ea_name" class="autocomplete_operators" /><input type="hidden" id="ea_id" /></dd>
        <dt><label for="ea_delivery_site">Site de livraison</label></dt>
        <dd><input id="ea_delivery_site" type="text" /></dd>
        <dt><label for="ea_delivery_date">Date de livraison</label></dt>
        <dd><input id="ea_delivery_date" type="text" placeholder="JJ/MM/AAAA" /></dd>
        <dt><label for="client_id" title="Champ optionnel, entrez ce que vous voulez">Référence</label></dt>
        <dd><input id="client_id" type="text" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3>Gaz à Effet de Serre</h3>
        <span style="margin-top: -2em; display: block; text-align: left;"><small>en gCO2eq/MJ</small></span>
        <table id="table_lot_ges">
          <thead>
            <th>Émissions</th>
            <th>Réductions</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="eec">EEC </label><input type="text" id="eec" class="ges_field ges_incr" />
              </td>
              <td>
                <label for="esca">ESCA </label><input type="text" id="esca" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EL </label><input type="text" id="el" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCS </label><input type="text" id="eccs" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EP </label><input type="text" id="ep" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCR </label><input type="text" id="eccr" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>ETD </label><input type="text" id="etd" class="ges_field ges_incr" />
              </td>
              <td>
                <label>EEE </label><input type="text" id="eee" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EU </label><input type="text" id="eu" class="ges_field ges_incr" />
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <input type="hidden" id="ghg_reference" />
          <thead>
            <tr>
              <th>Total gCO2eq/MJ</th>
              <th id="reduction_title" title="">Réduction<small>*</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ghg_total"></td>
              <td id="ghg_reduction"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="button-container">
      <div class="button-item">
        <a class="button primary" id="btn_accept_single_lot">Accepter</a>
        <a class="button primary" id="show_comment_section">Accepter sous réserve</a>
        <a class="button warning" id="btn_reject_single_lot">Refuser</a>
      </div>
      <div class="button-item button-push">
        <a class="button secondary close" id="btn_close_modal_edit_lot">Annuler</a>
      </div>
    </div>
    <div class="form__group" style="display: none;" id="comment_section">
      <label style="margin-bottom: 1em; margin-top: 2em;" for="textarea">Veuillez entrer un commentaire qui sera envoyé à votre fournisseur</label>
      <textarea name="textarea" id="textarea"></textarea>
      <a class="button primary" id="btn_accept_with_comment">Accepter sous réserve</a>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
  // create table footer
  let empty_footer = `<tr>${Array(table_columns_operators.length).fill("<th></th>").join('')}</tr>`
  $("#datatable tfoot").append(empty_footer)

  var table = $('#datatable').DataTable({
    paging: false,
    info: false,
    scrollX: true,
    fixedColumns: {
      rightColumns: 2,
    },
    language: {
        search: "Rechercher:"
    },
    dom: 'rtip',
    columnDefs: [
    {"className": "dt-center", "targets": "_all"}
    ],
    columns: table_columns_operators,
    ajax: {
      url: `{% url 'operators-api-affiliated-lots' %}`,
      dataSrc: function(json) {
        for (let i = 0, len = json.length; i < len; i++) {
          // add checkbox on the fly
          json[i]["checkbox"] = `<input type="checkbox" />`
        }
        return json
      }
    },
    initComplete: function() {
      // create filter
      this.api().columns().every(function () {
        var column = this;
        let table_column = table_columns_operators[column.index()]
        if (table_column.can_filter === true) {
          var select = $('<select><option value=""></option></select>')
          .appendTo($(column.footer()).empty())
          .on('change', function() {
            var val = $.fn.dataTable.util.escapeRegex($(this).val());
            column.search(val ? '^'+val+'$' : '', true, false).draw();
          });
          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="'+d+'">'+d+'</option>')
          });
        } else {
          $(column.footer()).append(table_column.title)
        }
      }).draw()
    }
  })
  window.table = table

  $('#input_search_datatable').on('keyup', function() {
      table.search(this.value).draw();
  });

  var selected_rows = {}


  function manage_accept_button() {
    let keys = Object.keys(selected_rows)
    console.log(`${keys.length} lines selected`)
    if (keys.length >= 1) {
      $("#btn_open_modal_accept_lots").addClass('primary')
      $("#btn_open_modal_accept_lots").removeClass('secondary')
      $("#modal_accept_lots_list").empty()
      let to_accept = []
      for (let i = 0, len = keys.length; i < len; i++) {
        let key = keys[i]
        let rowdata = selected_rows[key]
        let statut = rowdata['status']
        $("#modal_accept_lots_list").append(`<li>${rowdata['producer_name']} - ${rowdata['volume']} - ${rowdata['biocarburant_name']} - ${rowdata['matiere_premiere_name']}</li>`)
        to_accept.push(selected_rows[key]['lot_id'])
      }
      $("#modal_accept_lots_lots").val(to_accept.join(","))
    } else {
      $("#btn_open_modal_accept_lots").addClass('secondary')
      $("#btn_open_modal_accept_lots").removeClass('primary')
      // cleanup accept modal
      $("#modal_accept_lots_list").empty()
    }
  }

  function manage_reject_button(only_drafts_present) {
    let keys = Object.keys(selected_rows)

    if (keys.length >= 1) {
      $("#btn_open_modal_reject_lots").addClass('primary')
      $("#btn_open_modal_reject_lots").removeClass('secondary')
      // add drafts to validate modal
      $("#modal_reject_lots_list").empty()
      let to_accept = []
      for (let i = 0, len = keys.length; i < len; i++) {
        let key = keys[i]
        let rowdata = selected_rows[key]
        let statut = rowdata['status']
        $("#modal_reject_lots_list").append(`<li>${rowdata['producer_name']} - ${rowdata['volume']} - ${rowdata['biocarburant_name']} - ${rowdata['matiere_premiere_name']}</li>`)
        to_accept.push(selected_rows[key]['lot_id'])
      }
      $("#modal_reject_lots_lots").val(to_accept.join(","))
    } else {
      $("#btn_open_modal_reject_lots").addClass('secondary')
      $("#btn_open_modal_reject_lots").removeClass('primary')
      // cleanup accept modal
      $("#modal_reject_lots_list").empty()
    }
  }

  /* accept/reject buttons */
  function manage_actions() {
    manage_accept_button()
    manage_reject_button()
  }

  $('#datatable_wrapper tbody').on('click', 'input', function() {
    let hrow = $(this).closest("tr")
    let row = table.row(hrow)
    let data = table.row(row).data();
    let rowid = table.row(row).index();
    // add to selection if checked, otherwise remove
    if (rowid in selected_rows) {
      delete selected_rows[rowid]
    } else {
      selected_rows[rowid] = data
    }
    manage_actions()
  })

  $('#datatable_wrapper tbody').on('click', 'td', function() {
    // check if we clicked on the checkbox
    let cell = table.cell(this)
    let colid = cell.index()['column']
    let row = $(this).closest('tr');
    let data = table.row(row).data()
    let table_column = table_columns_operators[colid]
    if (table_column['data'] === 'checkbox') {
      // ignore clicks on checkbox column
      return
    } else {
      let modal = document.getElementById("modal_edit_lot")
      for (key in data) {
        $(`#${key}`).val(data[key])
      }
      // non-input keys
      ['ghg_total', 'ghg_reduction'].forEach(function(item, index) {
        $(`#${item}`).html(data[item])
      })
      $("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${data['ghg_reference']} gCO2eq/MJ`)

      /* special cases for override */
      let overrideable_fields = ['ea']
      for (let i = 0, len = overrideable_fields.length; i < len; i++) {
        let field = overrideable_fields[i]
        let name_field = `${field}_name`
        let override_field = `${field}_override`
        let is_overriden_field = `${field}_overriden`

        if (data[is_overriden_field] == true) {
          let override = data[override_field]
          $(`#${name_field}`).val(override)
        }
      }
      modal.style.display = "flex"
    }
  });

  $("#btn_accept_single_lot").on('click', function() {
    let lot_id = $("#lot_id").val()
    $.ajax({
      url:"{% url 'operators-api-accept-lots' %}",
      data: {'lots': lot_id,'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
        // Callback code
        window.location.reload()
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
          console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
        } else {
          alert("Server error. Please contact an administrator")
          console.log(`server error ${JSON.stringify(e)}`)
        }
      }
    })
  })

  $("#btn_reject_single_lot").on('click', function() {
    let lot_id = $("#lot_id").val()
    $.ajax({
      url:"{% url 'operators-api-reject-lots' %}",
      data: {'lots': lot_id,'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
        // Callback code
        window.location.reload()
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
          console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
        } else {
          alert("Server error. Please contact an administrator")
          console.log(`server error ${JSON.stringify(e)}`)
        }
      }
    })
  })

  $("#show_comment_section").on('click', function() {
    $("#show_comment_section").hide()
    $("#comment_section").show()
  })

  $("#btn_accept_with_comment").on('click', function() {
    let lot_id = $("#lot_id").val()
    $.ajax({
      url:"{% url 'operators-api-accept-lot-with-comment' %}",
      data: {'lot': lot_id,'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
        // Callback code
        window.location.reload()
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
          console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
        } else {
          alert("Server error. Please contact an administrator")
          console.log(`server error ${JSON.stringify(e)}`)
        }
      }
    })
  })

})
</script>

{% endblock %}
