{% extends "operators/index.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.css"/>
{% endblock %}


{% block operator  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Lots Contrôlés</h3>
		<table class="display nowrap" id="datatable">
			<thead>
				<tr>
					<th>N°DAE ou DAA</th>
					<th>Volume</th>
					<th>Types</th>
					<th>Filière de production</th>
					<th>Pays d'origine</th>
					<th>Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr class="status_warning">
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>Nouveau</td>
				</tr>
				<tr>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>En Attente</td>
				</tr>
				<tr>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>En Attente</td>
				</tr>
				<tr>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>En Attente</td>
				</tr>
				<tr class="status_ok">
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>Terminé</td>
				</tr>												
			</tbody>
		</table>
	</div>
</div>

<div class="modal__backdrop" id="modal_lot">
	<div class="modal modal-big">
		<section class="flex-container">
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Informations Générales</h2>
					<label for="ml_depot">Dépôt</label>
					<input type="text" value="" id="ml_depot">
					<label for="ml_dae">N°DAE ou DAA</label>
					<input type="text" value="" id="ml_dae">
					<label for="ml_volume">Volume</label>
					<input type="text" value="" id="ml_volume">
					<label for="ml_date_entree">Date d'entrée en EFS ou UER</label>
					<input type="text" value="" id="ml_date_entree">
					<label for="ml_pays">Pays d'implantation</label>
					<input type="text" value="" id="ml_pays">
					<label for="ml_date_mise_en_service">Date de mise en service</label>
					<input type="text" value="" id="ml_date_mise_en_service">
				</div>
			</div>
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Durabilité</h2>
					<label for="ml_filiere">Filière de production</label>
					<select id="ml_filiere">
						<option>Choisissez...</option>
						<option>Colza</option>
						<option>Maïs</option>
						<option>Navet</option>
						<option>Fenouil</option>
					</select>
					<label for="ml_type">Types</label>
					<input type="text" value="" id="ml_type">
					<label for="ml_cat">Catégorie</label>
					<input type="text" value="" id="ml_cat">
					<label for="ml_systeme_fournisseur">Système fournisseur</label>
					<input type="text" value="" id="ml_systeme_fournisseur">
					<label for="ml_pays_origine">Pays d'origine</label>
					<input type="text" value="" id="ml_pays_origine">
					<label for="ml_respect_crit_durabilite">Respect des critères de durabilité</label>
					<input type="text" value="" id="ml_respect_crit_durabilite">
					<label for="ml_num_double_comptage">Numéro d'enregistrement double-comptage</label>
					<input type="text" value="" id="ml_num_double_comptage">
				</div>
			</div>
		</section>
		<section class="flex-container">
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Émissions GES</h2>
					<table>
						<thead>
							<th>GES transport et distribution</th>
							<th>Total émissions de GES</th>
							<th>GES du carburant fossile</th>
							<th>% de réduction totale</th>
						</thead>
						<tbody>
							<td><input type="text" id="ml_ges_transport_distribution" /></td>
							<td><input type="text" id="ml_ges_total" /></td>
							<td><input type="text" id="ml_ges_fossile" /></td>
							<td><input type="text" id="ml_ges_reduction" /></td>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section class="flex-container">
			<div class="flex-container-left">
				<div class="form__group">
					<h2>Affiliation</h2>
					<table>
						<thead>
							<th>Date</th>
							<th>Vendeur</th>
							<th>Client</th>
						</thead>
						<tbody>
							<td><input type="text" id="ml_date_affiliation" value="27/01/2020"/></td>
							<td><input type="text" id="ml_vendeur" value="BioRaffinerie Lambda"/></td>
							<td><input type="text" id="ml_client" value="OperateurGamma"/></td>
						</tbody>
					</table>
				</div>
			</div>
		</section>		
		<section class="flex-container-right">
			<div class="form__group button__group">
				<a class="button secondary close" href="#">Ok</a>
			</div>
		</section>
	</div>
</div>

{% endblock %}


{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.js"></script>
<script type="text/javascript">
var colname2colid = {'DAE_COLID': 0, 'DEPOT_COLID': 1, 'DATE_ENTREE_COLID': 2, 'VOLUME_COLID': 3, 'TYPE_COLID': 4, 'FILIERE_COLID': 5, 'CATEGORY_COLID': 6,
'SYSTEME_FOURNISSEUR_COLID': 7, 'PAYS_ORIGINE_COLID': 8, 'RESPECT_CRIT_DURABILITE_COLID': 9, 'GES_TRANSPORT_COLID': 10, 'GES_TOTAL_COLID': 11,
'GES_FOSSILE_COLID': 12, 'GES_REDUCTION_COLID': 13, 'NUM_DOUBLE_COMPTAGE_COLID': 14, 'PAYS_COLID': 15, 'DATE_MISE_EN_SERVICE_COLID': 16, 'LOT_STATUT_COLID': 17,
'AFFILIATION_COLID': 18, 'SELECT_CHECKBOX_COLID': 19}

var colid2colname = {}
Object.keys(colname2colid).forEach(key => { colid2colname[colname2colid[key]] = key });

var col2field = {DEPOT_COLID: 'ml_depot', DAE_COLID: 'ml_dae', DATE_ENTREE_COLID: 'ml_date_entree', VOLUME_COLID: 'ml_volume', TYPE_COLID: 'ml_type', FILIERE_COLID:'ml_filiere', CATEGORY_COLID:'ml_cat', SYSTEME_FOURNISSEUR_COLID: 'ml_systeme_fournisseur', PAYS_ORIGINE_COLID:'ml_pays_origine', RESPECT_CRIT_DURABILITE_COLID:'ml_respect_crit_durabilite', GES_TRANSPORT_COLID:'ml_ges_transport_distribution', GES_TOTAL_COLID: 'ml_ges_total', GES_FOSSILE_COLID:'ml_ges_fossile', GES_REDUCTION_COLID:'ml_ges_reduction', NUM_DOUBLE_COMPTAGE_COLID:'ml_num_double_comptage', PAYS_COLID:'ml_pays', DATE_MISE_EN_SERVICE_COLID:'ml_date_mise_en_service', LOT_STATUT_COLID: 'ml_statut', AFFILIATION_COLID: 'ml_affiliation', SELECT_CHECKBOX_COLID:'ml_select'}

var selected_rows = {}

$(document).ready(function() {
	var table = $('#datatable').DataTable({
		paging: false,
		info: false,
		scrollX: true,
		searching: false,
		ordering: false,
		autoWidth: false,
		scrollCollapse: true,
        fixedColumns: {
        	leftColumns: 1,
            rightColumns: 3,
        },
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],		        
	});

	$('#datatable_wrapper tbody').on('click', 'td', function() {
		window.location = "{% url 'operators-lot' %}"
	})

});

// fixed column styling on row hover
$(document).on({
	mouseenter: function () {
		trIndex = $(this).index()+1;
		$("table.dataTable").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").each(function(index) {
				$(this).addClass("hover");
			});
		});
	},
	mouseleave: function () {
		trIndex = $(this).index()+1;
		$("table.dataTable").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").each(function(index) {
				$(this).removeClass("hover");
			});
		});
	}
}, ".dataTables_wrapper tr");

</script>

{% endblock %}