{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Déclaration de durabilité</h3>
    {% csrf_token %}

    <ul class="tabs__tab-list">
      <li id="tab_operators_drafts_title" class="tabs__tab" data-dst="tab_operators_drafts">Brouillons ({{nb_drafts}})</li>
      <li id="tab_operators_in_title" class="tabs__tab tabs__tab--selected" data-dst="tab_operators_in">Lots en attente ({{nb_in}})</li>
      <li id="tab_operators_out_title" class="tabs__tab" data-dst="tab_operators_out">Lots déclarés ({{nb_out}})</li>
    </ul>

    <div id="tab_operators_drafts" class="tabcontent">

      <p>Cet espace vous permet de créer manuellement ou d'importer vos lots de biocarburants dont les fournisseurs ne sont pas enregistrés sur la plateforme Carbure.</p>

      <div class="flex-container">
        <a title="Importer Lots" class="button modal-button" id="btn_open_modal_import" style="margin-right: 0px; padding: 7px 10px 0px 10px;">
          <svg class="icon" style="height:24px; width:24px">
            <use xlink:href="#plus" aria-label="Ajouter/Importer Lots"></use>
          </svg>
        </a>
        <a title="Afficher/Cacher des colonnes" id="btn_open_modal_columns_tab_drafts" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
        <a title="Exporter vers Excel" class="button modal-button" href="{% url 'api-v2-producers-export-drafts' %}" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
        </a>
        <a title="Dupliquer un lot" id="duplicate_lot" class="button modal-button secondary" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <svg class="icon" style="height:24px; width:24px">
            <use xlink:href="#duplicate" aria-label="Dupliquer"></use>
          </svg>
        </a>
        <a id="btn_open_modal_delete_lots" title="Supprimer Lot(s)" class="button modal-button primary" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
          <svg class="icon" style="height:24px; width:24px">
            <use xlink:href="#trash" aria-label="Supprimer"></use>
          </svg>
        </a>

        <select id="pagelength" style="margin-top: auto;">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
        <input type="text" id="input_search_datatable" style="width: 200px; margin-top: auto;" />
      </div>


      <table class="display nowrap" id="datatable_drafts">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
      <div class="button-container">
        <div class="button-item">
          <a id="btn_open_modal_validate_lots" class="button primary">Valider Lots</a>
        </div>
      </div>
    </div>

    <div id="tab_operators_in" class="tabcontent">
      <p>Cet onglet contient la liste des lots transmis par vos fournisseurs. Veuillez en vérifier les caractéristiques et valider leur réception. <br />
         Vous pouvez également importer des lots via un fichier Excel via l'onglet Brouillons si votre fournisseur n'est pas inscrit sur Carbure.
      </p>
      <div class="flex-container">
        <a id="btn_open_modal_columns_affiliations" class="button modal-button" style="margin-right: 0px; margin-left: 5px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
        <a class="button modal-button" href="{% url 'operators-api-export-affiliated' %}" style="margin-left: 5px; padding: 7px 10px 0px 10px; margin-right: auto;">
          <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
        </a>
      </div>
      <table class="display nowrap" id="datatable_in">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
      <div class="button-container">
        <div class="button-item">
          <a id="btn_open_modal_accept_lots" class="button primary">Valider Lots</a>
        </div>
      </div>
    </div>

    <div id="tab_operators_out" class="tabcontent">
      <p>Vous trouverez ici tous les lots acceptés et déclarés à la DGEC</p>
      <div class="flex-container">
        <a id="btn_open_modal_columns_declared" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
        <a class="button modal-button" href="{% url 'operators-api-declaration-export' %}" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
          <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
        </a>
        <select id="pagelength_valid" style="margin-top: auto;">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <label for="input_search_datatable_valid" style="margin: auto 5px auto auto;">Rechercher:</label>
        <input type="text" id="input_search_datatable_valid" style="width: 200px; margin-top: auto;" />
      </div>
      <table class="display nowrap" id="datatable_out">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_import">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <a id="btn_close_modal_import" style="opacity: 0.5; margin: -1rem -1rem -1rem auto; float: right;">
      <svg class="icon" style="height:24px; width:24px">
        <use xlink:href="#cross"></use>
      </svg>
    </a>
    <div class="flex-container">
      <div class="form__group">
        <h4>Importer Fichier</h4>
        <form method="POST" id="modal_import_form" data-url="{% url 'api-v2-operators-excel-template-upload' %}" data-reload="0">
          <span id="modal_import_form_err_message" style="color: red;"></span>
          <span id="modal_import_form_success_message" style="color: green;"></span>
          <dl>
            <dt>Le modèle Excel vous permet d'importer des lots provenant de fournisseurs qui ne sont pas inscrits sur Carbure. Il peut s'agir de lots importés depuis l'étranger ou de producteurs captifs.</dt>
            <dt><a href="{% url 'api-v2-operators-excel-template-download' %}" >Télécharger le modèle</a></dt>
          </dl>

          {% csrf_token %}
          <dl>
            <a href="{% url 'operators-import-documentation' %}" style="margin-bottom: 30px;">Documentation / Aide</a>
          </dl>
          <input type="file" name="file" id="file_to_upload">
          <a class="button primary" id="btn_submit_upload_form">Envoyer</a>
        </form>
      </div>
   </div>
 </div>
</div>


<div class="modal__backdrop" id="modal_columns_affiliations">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_affiliations_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_affiliations_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_affiliations">Fermer</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns_declared">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_declared_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_declared_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_declared">Fermer</a>
    </div>
  </div>
</div>

{% include "common/modal_lot_ro.html" %}


<div class="modal__backdrop" id="modal_reject_lot">
  <div class="modal">
    <div class="flex-container">
      <div class="form__group">
        <label style="margin-bottom: 1em; margin-top: 2em;" for="textarea_reject">Ajouter un motif de refus pour le fournisseur</label>
        <textarea name="textarea" id="textarea_reject"></textarea>
        <a class="button warning" id="btn_reject_with_comment">Refuser le lot</a>
        <a class="button secondary close" id="btn_close_modal_reject_lot">Annuler</a>
      </div>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_accept_lot_with_comments">
  <div class="modal">
    <div class="flex-container">
      <div class="form__group">
        <h5>Accepter sous réserve</h5>

        <input type="radio" name="correction_type" value="sustainability"/> Il y a un problème relatif à la durabilité ou aux caractéristiques du lot (provenance, volume, gaz à effet de serre)<br />
        <input type="radio" name="correction_type" value="tx"/> Il y a un problème sur la transaction (numéro douanier, site de livraison, date)<br />
        <input type="radio" name="correction_type" value="both"/> Les deux<br />

        <label style="margin-bottom: 1em; margin-top: 2em;" for="textarea_reject">Ajouter un commentaire pour le fournisseur</label>
        <textarea name="textarea" id="textarea_correction"></textarea>
        <div class="button-item">
          <a class="button primary" id="btn_accept_with_comment">Accepter et demander une correction</a>
          <a class="button secondary close" id="btn_close_modal_accept_lot_with_comments">Annuler</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_accept_lots">
  <div class="modal">
    <a id="btn_close_modal_accept_lots" style="opacity: 0.5; margin: -1rem -1rem -1rem auto; float: right;">
      <svg class="icon" style="height:24px; width:24px">
        <use xlink:href="#cross"></use>
      </svg>
    </a>
    <span id="modal_accept_lots_form_err_message" style="color: red;"></span>
    <span id="modal_accept_lots_form_success_message" style="color: green;"></span>
    <form id="modal_accept_lots_form" method="POST" data-url="{% url 'api-v2-operators_api-accept-lots' %}" data-reload="0">
      {% csrf_token %}
      <p><b>Êtes vous certain de vouloir accepter le(s) lot(s) suivant(s)?</b></p>
      <ul id="modal_accept_lots_list">
      </ul>
      <input type="hidden" id="modal_accept_lots_txs" name="tx_ids">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_accept_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
window.operators_api_lots_drafts_v2 = "{% url 'api-v2-operators-get-drafts' %}"
window.operators_api_lots_in_v2 = "{% url 'api-v2-operators-get-in' %}"
window.operators_api_lots_out_v2 = "{% url 'api-v2-operators-get-out' %}"
window.api_lot_reject_v2 = "{% url 'api-v2-operators-reject-lot' %}"
window.api_lot_accept_with_correction_v2 = "{% url 'api-v2-operators-accept-lot-with-correction' %}"
window.api_lot_accept_v2 = "{% url 'api-v2-operators-accept-lot' %}"

$(document).ready(function() {
  // show drafts tab
  tabcontent = document.getElementById("tab_operators_in")
  tabcontent.style.display = "block";
  init_tab_generic("tab_operators_in")
  manage_actions_operators()
})
</script>
{% endblock %}
