{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Déclaration de durabilité {{current_declaration.period}}</h3>

    <table class="display nowrap" id="datatable">
      <!-- dynamically generated in js -->
      <thead></thead>
      <tfoot></tfoot>
      <tbody></tbody>
    </table>
	</div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
  // create table footer
  let empty_footer = `<tr>${Array(table_columns_operators.length).fill("<th></th>").join('')}</tr>`
  $("#datatable tfoot").append(empty_footer)

  var table = $('#datatable').DataTable({
    paging: false,
    info: false,
    scrollX: true,
    fixedColumns: {
      leftColumns: 1,
      rightColumns: 2,
    },
    language: {
        search: "Rechercher:"
    },
    dom: 'rtip',
    columnDefs: [
    {"className": "dt-center", "targets": "_all"}
    ],
    columns: table_columns_operators,
    ajax: {
      url: `{% url 'operators-api-lots-new' declaration_id=current_declaration.id %}`,
      dataSrc: function(json) {
        for (let i = 0, len = json.length; i < len; i++) {
          // add checkbox on the fly
          json[i]["checkbox"] = `<input type="checkbox" />`
        }
        return json
      }
    },
    initComplete: function() {
      // create filter
      this.api().columns().every(function () {
        var column = this;
        let table_column = table_columns_operators[column.index()]
        if (table_column.can_filter === true) {
          var select = $('<select><option value=""></option></select>')
          .appendTo($(column.footer()).empty())
          .on('change', function() {
            var val = $.fn.dataTable.util.escapeRegex($(this).val());
            column.search(val ? '^'+val+'$' : '', true, false).draw();
          });
          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="'+d+'">'+d+'</option>')
          });
        } else {
          $(column.footer()).append(table_column.title)
        }
      }).draw()
    }
  })
  window.table = table

  $('#input_search_datatable').on('keyup', function() {
      table.search(this.value).draw();
  });

})


</script>

{% endblock %}
