{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Déclarations de durabilité</h3>
		<table class="display nowrap" id="datatable">
			<thead>
				<tr>
					<th>Période</th>
					<th>Lots</th>
					<th>Échéance</th>
				</tr>
			</thead>
			<tbody>
				{% for d in declarations %}
				<tr
					{% if d.deadline > today and d.deadline < twoweeks %}
					class="status_warning"
					{% elif d.deadline > today %}
					class="clickable"
					{% else %}
					class="status_ok"
					{% endif %}
					onclick="window.location='{% url 'operators-declaration' declaration_id=d.id operator_name=url_friendly_name %}'">
					<td>{{d.period}}</td>
					<td>{{d.lots}}</td>
					<td>{{d.deadline}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
	var table = $('#datatable').DataTable({
		paging: false,
		info: false,
		scrollX: true,
		searching: false,
		ordering: false,
		autoWidth: false,
		scrollCollapse: true,
		order: [[ 0, "desc" ]],
		data: null,
		columnDefs: [
    		{"className": "dt-center", "targets": "_all"}
  		],
	});
})

</script>

{% endblock %}
