{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Déclaration de durabilité {{current_declaration.period}}</h3>
    <div class="flex-container">
      <a id="btn_open_modal_columns" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
        <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
      </a>
      <a class="button modal-button" href="{% url 'operators-api-declaration-export' declaration_id=current_declaration.id %}" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
        <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
      </a>
      <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
      <input type="text" id="input_search_datatable" style="width: 200px; height: 2em; margin-top: auto; margin-bottom: auto;" />
    </div>
    <table class="display nowrap" id="datatable">
      <!-- dynamically generated in js -->
      <thead></thead>
      <tfoot></tfoot>
      <tbody></tbody>
    </table>
	</div>
</div>

<div class="modal__backdrop" id="modal_columns">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns">Fermer</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_edit_lot">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <p id="err_msg_dom" style="color: tomato">
    </p>
    <div class="flex-container modal-edit">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3 style="text-align: center;">Informations</h3>
        <input type="hidden" id="lot_id" />
        <dl>
          <dt>Site de Production</dt>
          <dd><input type="text" id="production_site_name" class="autocomplete_production_sites" readonly/><input type="hidden" id="production_site_id" /></dd>
          <dt>Volume à 20°C en Litres</dt>
          <dd><input type="text" id="volume" readonly/></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant_name" class="autocomplete_biocarburants" readonly/><input type="hidden" id="biocarburant_code" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere_name" class="autocomplete_mps" readonly/><input type="hidden" id="matiere_premiere_code" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine_name" class="autocomplete_countries" readonly/><input type="hidden" id="pays_origine_code" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3 style="text-align: center;">Destination</h3>
        <dl>
        <dt><label for="dae">Numéro de DAE / DAU</label></dt>
        <dd><input id="dae" type="text" readonly/></dd>
        <dt><label for="ea_name">Client</label></dt>
        <dd><input type="text" id="ea_name" class="autocomplete_operators" readonly/><input type="hidden" id="ea_id" /></dd>
        <dt><label for="ea_delivery_site">Site de livraison</label></dt>
        <dd><input id="ea_delivery_site" type="text" readonly/></dd>
        <dt><label for="ea_delivery_date">Date de livraison</label></dt>
        <dd><input id="ea_delivery_date" type="text" placeholder="JJ/MM/AAAA" readonly/></dd>
        <dt><label for="client_id" title="Champ optionnel, entrez ce que vous voulez">Référence</label></dt>
        <dd><input id="client_id" type="text" readonly/></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3>Gaz à Effet de Serre</h3>
        <span style="margin-top: -2em; display: block; text-align: left;"><small>en gCO2eq/MJ</small></span>
        <table id="table_lot_ges">
          <thead>
            <th>Émissions</th>
            <th>Réductions</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="eec">EEC </label><input type="text" id="eec" class="ges_field ges_incr" readonly/>
              </td>
              <td>
                <label for="esca">ESCA </label><input type="text" id="esca" class="ges_field ges_decr" readonly/>
              </td>
            </tr>
            <tr>
              <td>
                <label>EL </label><input type="text" id="el" class="ges_field ges_incr" readonly />
              </td>
              <td>
                <label>ECCS </label><input type="text" id="eccs" class="ges_field ges_decr" readonly/>
              </td>
            </tr>
            <tr>
              <td>
                <label>EP </label><input type="text" id="ep" class="ges_field ges_incr" readonly/>
              </td>
              <td>
                <label>ECCR </label><input type="text" id="eccr" class="ges_field ges_decr" readonly/>
              </td>
            </tr>
            <tr>
              <td>
                <label>ETD </label><input type="text" id="etd" class="ges_field ges_incr" readonly/>
              </td>
              <td>
                <label>EEE </label><input type="text" id="eee" class="ges_field ges_decr" readonly/>
              </td>
            </tr>
            <tr>
              <td>
                <label>EU </label><input type="text" id="eu" class="ges_field ges_incr" readonly/>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <input type="hidden" id="ghg_reference" />
          <thead>
            <tr>
              <th>Total gCO2eq/MJ</th>
              <th id="reduction_title" title="">Réduction<small>*</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ghg_total"></td>
              <td id="ghg_reduction"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form__group" id="comment_section">

    </div>
    <div class="form__group button__group">
      <div class="button-item">
        <a class="button primary" id="btn_lot_accept_final" style="display: none;">Accepter définitivement</a>
      </div>
      <div class="button-item button-push">
        <a class="button secondary close" id="btn_close_modal_edit_lot">Annuler</a>
      </div>
    </div>
  </div>
</div>
{% csrf_token %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
  function initFilters() {
    var table_columns_filter = $("#table_columns_filter")
    var table_columns_filter2 = $("#table_columns_filter2")
    var list_columns_filter = $("#list_columns_filter")
    var columns_filter_html = ""
    var columns_filter_html2 = ""
    var list_columns_filter_html = ""
    for (let i = 0, len = table_columns_operators.length; i < len; i++) {
      let column = table_columns_operators[i]
      if (column.can_hide === true) {
        // use two columns
        if (i <= (len / 2)) {
          columns_filter_html += `<tr><td><input type="checkbox" id="checkbox${i}" class="toggle-vis" data-column="${i}"></td><td><label for="checkbox${i}" class="label-inline">${column.title}</label></td></tr>`
        } else {
          columns_filter_html2 += `<tr><td><input type="checkbox" id="checkbox${i}" class="toggle-vis" data-column="${i}"></td><td><label for="checkbox${i}" class="label-inline">${column.title}</label></td></tr>`
        }
      }
      if (column.can_duplicate === true) {
        list_columns_filter_html += `<li class="flex-item-a"><input type="checkbox" id="add_checkbox${i}" class="toggle-lot-param" data-column="${i}"><label for="add_checkbox${i}" class="label-inline">${column.title}</label></li>`
      }
    }
    table_columns_filter.append(columns_filter_html)
    table_columns_filter2.append(columns_filter_html2)
    list_columns_filter.append(list_columns_filter_html)
  }
  initFilters()




  // create table footer
  let empty_footer = `<tr>${Array(table_columns_operators.length).fill("<th></th>").join('')}</tr>`
  $("#datatable tfoot").append(empty_footer)

  var table = $('#datatable').DataTable({
    paging: false,
    info: false,
    scrollX: true,
    fixedColumns: {
      leftColumns: 1,
      rightColumns: 2,
    },
    language: {
        search: "Rechercher:"
    },
    dom: 'rtip',
    columnDefs: [
    {"className": "dt-center", "targets": "_all"}
    ],
    columns: table_columns_operators,
    ajax: {
      url: `{% url 'operators-api-lots' declaration_id=current_declaration.id %}`,
      dataSrc: function(json) {
        for (let i = 0, len = json.length; i < len; i++) {
          // add checkbox on the fly
          json[i]["checkbox"] = `<input type="checkbox" />`
        }
        return json
      }
    },
    initComplete: function() {
      // create filter
      this.api().columns().every(function () {
        var column = this;
        let table_column = table_columns_operators[column.index()]
        if (table_column.can_filter === true) {
          var select = $('<select><option value=""></option></select>')
          .appendTo($(column.footer()).empty())
          .on('change', function() {
            var val = $.fn.dataTable.util.escapeRegex($(this).val());
            column.search(val ? '^'+val+'$' : '', true, false).draw();
          });
          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="'+d+'">'+d+'</option>')
          });
        } else {
          $(column.footer()).append(table_column.title)
        }
      }).draw()
    }
  })
  window.table = table

  $('#input_search_datatable').on('keyup', function() {
      table.search(this.value).draw();
  });

  var columnsSettings = loadOperatorsTableSettings()
  showHideTableColumns(columnsSettings)

  /* column filter modal event management */
  $('.toggle-vis').on('click', function(e) {
    // Get the column API object
    let colid = $(this).attr('data-column')
    let column = table.column(colid);

    // Toggle the visibility
    column.visible(!column.visible());
    columnsSettings[colid] = columnsSettings[colid] == 1 ? 0 : 1
    saveOperatorsTableSettings(columnsSettings)
  });

  $('#datatable_wrapper tbody').on('click', 'td', function() {
    // check if we clicked on the checkbox
    let cell = table.cell(this)
    let colid = cell.index()['column']
    let row = $(this).closest('tr');
    let data = table.row(row).data()
    let table_column = table_columns_operators[colid]
    let comment_section = $("#comment_section")
    comment_section.empty()
    if (table_column['data'] === 'checkbox') {
      // ignore clicks on checkbox column
      return
    } else {
      let modal = document.getElementById("modal_edit_lot")
      for (key in data) {
        $(`#${key}`).val(data[key])
      }
      // non-input keys
      ['ghg_total', 'ghg_reduction'].forEach(function(item, index) {
        $(`#${item}`).html(data[item])
      })
      $("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${data['ghg_reference']} gCO2eq/MJ`)

      // request lot comments if any
      $.ajax({
        url         : "{% url 'operators-api-lot-comments' %}",
        data        : {'lot_id': data['lot_id'], 'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
        type        : 'POST',
        success     : function(data, textStatus, jqXHR){
          // Callback code
          for (let i = 0, len = data.length; i < len; i++) {
            let c = data[i]
            let html = `<label style="margin-bottom: 1em; margin-top: 2em;" for="textarea">${c.from}:</label>
            <textarea name="textarea" id="textarea" readonly>${c.comment}</textarea>`
            comment_section.append(html)
          }
        },
        error       : function(e) {
          if (e.status === 400) {
            alert(e.responseJSON.message)
            console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
          } else {
            alert("Server error. Please contact an administrator")
            console.log(`server error ${JSON.stringify(e)}`)
          }
        }
      })

      if (data['ea_delivery_status'] == 'Accepté') {
        let message = `<h5 style="color: tomato">Lot déclaré à la DGEC</h5>`
        $("#btn_lot_accept_final").hide()
        $("#err_msg_dom").html(message)
      } else {
        $("#err_msg_dom").html('')
        $("#btn_lot_accept_final").show()
      }


      modal.style.display = "flex"
    }
  });

  $("#btn_lot_accept_final").on('click', function() {
    let lot_id = $("#lot_id").val()
    $.ajax({
      url:"{% url 'operators-api-accept-lot-correction' %}",
      data: {'lot': lot_id,'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
        // Callback code
        window.location.reload()
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
          console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
        } else {
          alert("Server error. Please contact an administrator")
          console.log(`server error ${JSON.stringify(e)}`)
        }
      }
    })
  })

})


</script>

{% endblock %}
