	<aside class="side-menu" role="navigation" style="max-width: 170px;">
		<ul>
			<li><a {% if current_url_name == 'operators-index' or current_url_name == 'operators-declaration' %}class="active"{% endif %} href="{% url 'operators-index' %}">Déclarations</a></li>
				{% if current_url_name == 'operators-declaration' %}
				<ul>
					{% for nd in next_declarations %}
					<li class="side-menu-submenu"><a href="{% url 'operators-declaration' declaration_id=nd.id %}">{{nd.period}}</a></li>
					{% endfor %}
					<li class="side-menu-submenu"><a href="{% url 'operators-declaration' declaration_id=current_declaration.id %}" class="active-submenu">{{current_declaration.period}}</a></li>
					{% for pd in previous_declarations %}
					<li class="side-menu-submenu"><a href="{% url 'operators-declaration' declaration_id=pd.id %}">{{pd.period}}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			<li><a {% if current_url_name == 'operators-affiliations' %}class="active"{% endif %} href="{% url 'operators-affiliations' %}">Lots en Attente<span class="badge badge-green">{{nb_affiliated_lots}}</span></a></li>
			<li><a {% if current_url_name == 'operators-controles' %}class="active"{% endif %} href="{% url 'operators-controles' %}">Contrôles DGEC<span class="badge badge-red">
				{{nb_controles_dgec}}
			</span></a></li>
			<li><a {% if current_url_name == 'annuaire' %}class="active"{% endif %} href="{% url 'annuaire' %}">Annuaire</a></li>
			<li><a {% if current_url_name == 'operators-settings' %}class="active"{% endif %} href="{% url 'operators-settings' %}">Paramètres</a></li>
		</ul>
	</aside>
