{% extends "operators/index.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.css"/>
{% endblock %}


{% block operator  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Lots Affiliés</h3>
		<table class="display nowrap" id="datatable">
			<thead>
				<tr>
					<th>Dépôt</th>
					<th>N°DAE ou DAA</th>
					<th>Volume</th>
					<th>Types</th>
					<th>Filière de production</th>
					<th>Pays d'origine</th>
					<th>Vendeur</th>
					<th>Sélectionner</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>SAIPOL</td>
					<td><input type="checkbox" /></td>
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>SAIPOL</td>
					<td><input type="checkbox" /></td>
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>SAIPOL</td>
					<td><input type="checkbox" /></td>
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>SAIPOL</td>
					<td><input type="checkbox" /></td>
				</tr>
				<tr>
					<td>GRANDPUITS</td>
					<td>19FRG0432000482724020</td>
					<td>28,687</td>
					<td>EMHV</td>
					<td>Colza</td>
					<td>FR</td>
					<td>SAIPOL</td>
					<td><input type="checkbox" /></td>
				</tr>												
			</tbody>
		</table>
		<div class="flex-container-right">
			<a class="button secondary" href="#" id="btn_accept">Accepter Lots</a>
			<a class="button secondary" href="#" id="btn_reject">Refuser Lots</a>
		</div>			
	</div>
</div>
{% endblock %}


{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.js"></script>
<script type="text/javascript">
var colname2colid = {'DAE_COLID': 0, 'DEPOT_COLID': 1, 'VOLUME_COLID': 2, 'TYPE_COLID': 3, 'FILIERE_COLID': 4, 'PAYS_ORIGINE_COLID': 5, 'PRODUCTEUR_COLID': 6, 'SELECT_CHECKBOX_COLID': 7}

var colid2colname = {}
Object.keys(colname2colid).forEach(key => { colid2colname[colname2colid[key]] = key });

var selected_rows = {}

$(document).ready(function() {
	var table = $('#datatable').DataTable({
		paging: false,
		info: false,
		scrollX: true,
		searching: false,
		autoWidth: false,
		scrollCollapse: true,
        fixedColumns: {
        	leftColumns: 1,
            rightColumns: 3,
        },
		columnDefs: [
      		{"className": "dt-center", "targets": "_all"}
   		],		        
	});

	function show_hide_action_buttons() {
		// buttons Accepter & Refuser
		let keys = Object.keys(selected_rows)
		var btn_affiliate = document.getElementById("btn_affiliate")
		var select_affiliate = document.getElementById("select_affiliate")
		var btn_validate = document.getElementById("btn_validate")
		if (keys.length > 0) {
			// at least one row selected, activate buttons
			$("#btn_accept").addClass('primary')
			$("#btn_accept").removeClass('secondary')		
			$("#btn_reject").addClass('primary')
			$("#btn_reject").removeClass('secondary')					
		} else {
			$("#btn_accept").removeClass('primary')
			$("#btn_accept").addClass('secondary')		
			$("#btn_reject").removeClass('primary')
			$("#btn_reject").addClass('secondary')				
		}
	}
	show_hide_action_buttons()

	/* click on datatable row */
	// click the checkbox
	var modal_lot = document.getElementById("modal_lot")
	$('#datatable_wrapper tbody').on('click', 'input', function() {
		let hrow = $(this).closest("tr")
		let row = table.row(hrow)
		let data = table.row(row).data();	
		let rowid = table.row(row).index();
		// add to selection if checked, otherwise remove
		if (rowid in selected_rows) {
			delete selected_rows[rowid]
		} else {
			selected_rows[rowid] = data
		}
		show_hide_action_buttons()
	})
	// click anywhere else: show modal
	$('#datatable_wrapper tbody').on('click', 'td', function() {
		// check if we clicked on the checkbox
		let cell = table.cell(this)
		let colid = cell.index()['column']
		let row = $(this).closest('tr');
		let data = table.row(row).data();
		console.log(`clicked on column ${colid}`)	
   		if (colid == colname2colid['SELECT_CHECKBOX_COLID']) {
			// ignore clicks on checkbox column
			return
		} else {	
			console.log('click was not on checkbox, open lot page')
			window.location = "{% url 'operators-lot' %}"
		}
	});
});

// fixed column styling on row hover
$(document).on({
	mouseenter: function () {
		trIndex = $(this).index()+1;
		$("table.dataTable").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").each(function(index) {
				$(this).addClass("hover");
			});
		});
	},
	mouseleave: function () {
		trIndex = $(this).index()+1;
		$("table.dataTable").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").each(function(index) {
				$(this).removeClass("hover");
			});
		});
	}
}, ".dataTables_wrapper tr");

</script>

{% endblock %}