.select-button {
  display: flex;
  column-gap: var(--spacing-2w);
  border: 1px solid var(--border-default-grey);
  background: transparent;
  padding: var(--spacing-1w) var(--spacing-2w);
  color: var(--text-action-high-blue-france);
}
