{% extends "common/base_private.html" %}

{% block content %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Mises à Consommation</h3>

		<table>
			<thead>
				<tr>
					<th>Période</th>
					<th>Biocarburant</th>
					<th>Volume</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>XXXX</td>
					<td>ETBE</td>
					<td>30000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}
