{% extends "common/base_private.html" %}

{% block content %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Statistiques Personnalisées</h3>
		<iframe src="https://metabase.carbure.beta.gouv.fr/public/dashboard/f50fce87-106b-4dbe-9560-60b3699a3c5d?producer_id={{producer_id}}#hide_parameters=producer_id" frameborder="0" width="800" height="600" allowtransparency></iframe>
	</div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}
