.status {
  color: var(--gray-dark);
  background-color: var(--gray-light);
  border-radius: 50px;
  box-shadow: 1px 1px 3px var(--gray-medium);
  font-weight: 600;
  font-size: 14px;
  padding: 4px 16px;
}

.smallStatus {
  font-size: 11px;
  padding: 4px 8px;
}

.statusWaiting {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.statusToFix {
  color: var(--orange-dark);
  background-color: var(--orange-light);
}

.statusAccepted {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.statusRejected {
  color: var(--red-dark);
  background-color: var(--red-light);
}

.statusTitle {
  align-items: center;
}

.statusTitle .status {
  margin-left: 16px;
}

.statusTitle .transactionEditable {
  margin-left: 16px;
  font-size: 16px;
  color: var(--gray-dark);
}

.transactionDeadline {
  color: var(--orange-dark);
  margin-left: 16px;
}
