{% extends "common/base.html" %}

{% block content %}
<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Réinitialisation du mot de passe</h2>
      <p>
	Nous vous avons envoyé un email contenant un lien pour réinitialiser votre mot de passe. Vous devrez le recevoir dans les prochaines minutes. 
      </p>
      <p>
	N'oubliez pas de vérifier votre dossier spam.
	Contactez nous directement si vous ne le recevez pas.
      </p>
    </div>
  </section>
</main>
{% endblock %}
