{% extends "common/base.html" %}


{% block content %}
<style>
  .helptext{
    visibility: hidden;
  }
</style>


<main role="main" class="site-content">
  <section class="section section-grey">
    <div class="container container-full-down">
      <h2 class="section__title">Inscription</h2>

      {% if errors %}
      <p>{% for error in errors %} <span>{{error}}</span> {% endfor %}</p>
      {% endif %}

      <form method="post" id="register_form" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Inscription">
      </form>
    </div>
  </section>
</main>
{% endblock %}
