{% extends "common/base_private.html" %}


{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Déclarations de Durabilité</h3>
    {% csrf_token %}

    <ul class="tabs__tab-list">
      <li id="tab_drafts_title" class="tabs__tab tabs__tab--selected" data-dst="tab_drafts">Brouillons ({{nb_drafts}})</li>
      <li id="tab_corrections_title" class="tabs__tab" data-dst="tab_corrections">Lots à corriger ({{nb_corrections}})</li>
      <li id="tab_in_title" class="tabs__tab" data-dst="tab_in">Lots reçus ({{nb_in}})</li>
    </ul>

    <div id="tab_drafts" class="tabcontent">

      <p>Cet espace vous permet de créer manuellement ou d'importer vos lots de biocarburants sous forme de brouillons. <br />
      Une fois créés, n'oubliez pas de les valider pour les transmettre à vos clients ou les ajouter à votre Mass Balance.</p>

      <div class="flex-container">
        <a title="Importer Lots" class="button modal-button" id="btn_open_modal_import" style="margin-right: 0px; padding: 7px 10px 0px 10px;">
          <svg class="icon" style="height:24px; width:24px">
            <use xlink:href="#plus" aria-label="Ajouter/Importer Lots"></use>
          </svg>
        </a>
        <a title="Afficher/Cacher des colonnes" id="btn_open_modal_columns_tab_drafts" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
        <a title="Exporter vers Excel" class="button modal-button" href="{% url 'api-v2-producers-export-drafts' %}" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
        </a>
        <a title="Dupliquer un lot" id="duplicate_lot" class="button modal-button secondary" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <svg class="icon" style="height:24px; width:24px">
            <use xlink:href="#duplicate" aria-label="Dupliquer"></use>
          </svg>
        </a>
        <a id="btn_open_modal_delete_lots" title="Supprimer Lot(s)" class="button modal-button primary" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
          <svg class="icon" style="height:24px; width:24px">
            <use xlink:href="#trash" aria-label="Supprimer"></use>
          </svg>
        </a>

        <select id="pagelength" style="margin-top: auto;">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
        <input type="text" id="input_search_datatable" style="width: 200px; margin-top: auto;" />
      </div>


      <table class="display nowrap" id="datatable_drafts">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
      <div class="button-container">
        <div class="button-item">
          <a id="btn_open_modal_validate_lots" class="button primary">Valider Lots</a>
        </div>
      </div>
    </div>

    <div id="tab_corrections" class="tabcontent">
      <p>Vous trouverez ici les lots qui n'ont pas été acceptés par vos clients.<br />
         Vous pouvez effectuer des corrections si nécessaire ou simplement communiquer avec le client en cliquant sur un lot.</p>

      <div class="flex-container">
        <a id="btn_open_modal_columns_tab_corrections" class="button modal-button" style="margin-left: 5px; margin-right: auto; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
      </div>

      <table class="display nowrap" id="datatable_corrections">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
    </div>

    <div id="tab_in" class="tabcontent">
      <p>Si vous avez une activité de négoce et que vos fournisseurs sont inscrits sur Carbure, les lots qu'ils vous envoient apparaîtront directement sur cette page.<br />
         Si vos fournisseurs ne sont pas sur Carbure, vous devez importer les lots dans l'onglet Brouillon en utilisant le <a href="{% url 'api-v2-producers-excel-template-download-advanced' %}" >modèle avancé</a></p>

      <div class="flex-container">
        <a id="btn_open_modal_columns_tab_in" class="button modal-button" style="margin-left: 5px; margin-right: auto; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
      </div>

      <table class="display nowrap" id="datatable_in">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
      <div class="button-container">
        <div class="button-item">
          <a id="btn_open_modal_accept_lots" class="button primary">Accepter Lots</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_delete_lots">
  <div class="modal">
    <span id="modal_delete_lots_form_err_message" style="color: red;"></span>
    <form id="modal_delete_lots_form" method="POST" data-url="{% url 'api-v2-producers-delete-lots' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir supprimer ce(s) lot(s) ?</p>
      <ul id="modal_delete_lots_list">
      </ul>
      <input type="hidden" id="modal_delete_lots_lots" name="lots">
      <div class="form__group button__group">
        <div class="button-container">
          <div class="button-item">
            <button type="submit" class="button">Valider</button>
          </div>
        </div>
        <a class="button secondary close" id="btn_close_modal_delete_lots">Annuler</a>

      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_validate_lots">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <a class="close" id="btn_close_modal_validate_lots_top" style="opacity: 0.5; margin: -1rem -1rem -1rem auto; float: right;">
      <svg class="icon" style="height:24px; width:24px">
        <use xlink:href="#cross"></use>
      </svg>
    </a>
    <span id="modal_validate_lots_form_err_message" style="color: red;"></span>
    <span id="modal_validate_lots_form_success_message" style="color: green;"></span>
    <form id="modal_validate_lots_form" method="POST" data-url="{% url 'api-v2-producers-validate-lots' %}">
      {% csrf_token %}
      <p><b>En validant le(s) lot(s) suivant(s), je certifie qu'ils respectent les critères du durabilité liés aux terres et que les informations renseignées sont réelles et valides.</b></p>
      <ul id="modal_validate_lots_list">
      </ul>
      <input type="hidden" id="modal_validate_lots_lots" name="lots">
      <div class="form__group button__group">
        <button type="submit" class="button">Valider</button>
        <a class="button secondary close" id="btn_close_modal_validate_lots_bottom">Annuler</a>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_accept_lots">
  <div class="modal">
    <a class="close" id="btn_close_modal_accept_lots_top" style="opacity: 0.5; margin: -1rem -1rem -1rem auto; float: right;">
      <svg class="icon" style="height:24px; width:24px">
        <use xlink:href="#cross"></use>
      </svg>
    </a>
    <span id="modal_accept_lots_form_err_message" style="color: red;"></span>
    <span id="modal_accept_lots_form_success_message" style="color: green;"></span>
    <form id="modal_accept_lots_form" method="POST" data-url="{% url 'api-v2-producers-accept-lots' %}">
      {% csrf_token %}
      <ul id="modal_accept_lots_list">
      </ul>
      <input type="hidden" id="modal_accept_lots_txids" name="tx_ids">
      <div class="form__group button__group">
        <button type="submit" class="button">Valider</button>
        <a class="button secondary close" id="btn_close_modal_accept_lots_bottom">Annuler</a>
      </div>
    </form>
  </div>
</div>


<div class="modal__backdrop" id="modal_import">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <a class="close" id="btn_close_modal_import" style="opacity: 0.5; margin: -1rem -1rem -1rem auto; float: right;">
      <svg class="icon" style="height:24px; width:24px">
        <use xlink:href="#cross"></use>
      </svg>
    </a>
    <div class="flex-container">
      <div class="form__group" style="width: 50%; margin-right: 30px;">
        <h4>Importer Fichier</h4>
        <form method="POST" id="modal_import_form" data-url="{% url 'api-v2-producers-excel-template-upload' %}" data-reload="0">
          <span id="modal_import_form_err_message" style="color: red;"></span>
          <span id="modal_import_form_success_message" style="color: green;"></span>
          <dl>
            <dt>Le modèle simplifié vous permet de créer des lots provenant de vos propres usines. Vous pouvez les affilier immédiatement à des clients enregistrés sur Carbure ou simplement les ajouter à votre Mass Balance.</dt>
            <dt><a href="{% url 'api-v2-producers-excel-template-download-simple' %}" >Télécharger le modèle simplifié</a></dt>
          </dl>
          <dl>
            <dt>Le modèle avancé permet d'importer dans Carbure des lots achetés auprès de fournisseurs qui nous sont inconnus (fournisseurs étrangers ou producteurs français captifs). Vous avez également la possibilité d'attribuer ces lots à des clients étrangers.</dt>
            <dt><a href="{% url 'api-v2-producers-excel-template-download-advanced' %}" >Télécharger le modèle avancé</a></dt>
          </dl>

          {% csrf_token %}
          <dl>
            <a href="{% url 'producers-import-documentation' %}" style="margin-bottom: 30px;">Documentation / Aide</a>
          </dl>


          <input type="file" name="file" id="file_to_upload">


          <a class="button primary" id="btn_submit_upload_form">Envoyer</a>
        </form>
      </div>
      <div style="border-left: 1px solid;"></div>

      <div class="form__group" style="width: 50%; margin-left: 30px;">
        <h4>Ajout Manuel</h4>
        <p>Créer un lot et remplir ses caractéristiques manuellement</p>
        <a class="button primary" id="add_lot" style="position: absolute; left: 0; bottom: 0; top: auto;">Ajouter Lot</a>
      </div>
   </div>
 </div>
</div>

<div class="modal__backdrop" id="modal_columns_tab_drafts">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_tab_drafts_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_tab_drafts_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_tab_drafts">Fermer</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns_tab_corrections">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_tab_corrections_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_tab_corrections_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_tab_corrections">Fermer</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns_tab_in">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_tab_in_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_tab_in_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_tab_in">Fermer</a>
    </div>
  </div>
</div>

{% include "common/modal_lot.html" %}





<div class="modal__backdrop" id="modal_reject_lot">
  <div class="modal">
    <div class="flex-container">
      <div class="form__group">
        <label style="margin-bottom: 1em; margin-top: 2em;" for="textarea_reject">Ajouter un motif de refus pour le fournisseur</label>
        <textarea name="textarea" id="textarea_reject"></textarea>
        <a class="button warning" id="btn_reject_with_comment">Refuser le lot</a>
        <a class="button secondary close" id="btn_close_modal_reject_lot">Annuler</a>
      </div>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_accept_lot_with_comments">
  <div class="modal">
    <div class="flex-container">
      <div class="form__group">
        <h5>Accepter sous réserve</h5>

        <input type="radio" name="correction_type" value="sustainability"/> Il y a un problème relatif à la durabilité ou aux caractéristiques du lot (provenance, volume, gaz à effet de serre)<br />
        <input type="radio" name="correction_type" value="tx"/> Il y a un problème sur la transaction (numéro douanier, site de livraison, date)<br />
        <input type="radio" name="correction_type" value="both"/> Les deux<br />

        <label style="margin-bottom: 1em; margin-top: 2em;" for="textarea_reject">Ajouter un commentaire pour le fournisseur</label>
        <textarea name="textarea" id="textarea_correction"></textarea>
        <div class="button-item">
          <a class="button primary" id="btn_accept_with_comment">Accepter et demander une correction</a>
          <a class="button secondary close" id="btn_close_modal_accept_lot_with_comments">Annuler</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">

// API GET
window.api_get_drafts = "{% url 'api-v2-producers-get-drafts' %}"
window.api_get_in = "{% url 'api-v2-producers-get-in' %}"
window.api_get_mb = "{% url 'api-v2-producers-get-mb' %}"
window.api_get_corrections = "{% url 'api-v2-producers-get-corrections' %}"
window.api_get_out = "{% url 'api-v2-producers-get-out' %}"


// API POST
window.api_lot_duplicate_v2 = "{% url 'api-v2-producers-duplicate-lot' %}"
window.api_lot_save_v2 = "{% url 'api-v2-producers-save-lot' %}"
window.api_lot_reject_v2 = "{% url 'api-v2-producers-reject-lot' %}"
window.api_lot_accept_with_correction_v2 = "{% url 'api-v2-producers-accept-lot-with-correction' %}"
window.api_lot_accept_v2 = "{% url 'api-v2-producers-accept-lot' %}"
window.api_lot_add_comment_v2 = "{% url 'api-v2-producers-add-lot-correction' %}"


// API MISC
window.producers_api_ges = "{% url 'api-v2-get-ges' %}"
window.producers_api_producers_autocomplete_v2 = "{% url 'api-v2-producers-autocomplete' %}"
window.producers_api_clients_autocomplete_v2 = "{% url 'api-v2-clients-autocomplete' %}"
window.producers_api_depots_autocomplete_v2 = "{% url 'api-v2-depots-autocomplete' %}"
window.producers_api_biocarburants_autocomplete = "{% url 'api-v2-biocarburants-autocomplete' %}"
window.producers_api_mps_autocomplete = "{% url 'api-v2-mps-autocomplete' %}"
window.producers_api_production_sites_autocomplete = "{% url 'api-v2-production-sites-autocomplete' %}"



window.api_country_autocomplete = "{% url 'api-country-autocomplete' %}"
window.api_operators_autocomplete = "{% url 'api-operators-autocomplete' %}"
window.api_depots_autocomplete = "{% url 'api-depots-autocomplete' %}"
window.producer_id = "{{user_entity.id}}"

$(document).ready(function() {
  // show drafts tab
  tabcontent = document.getElementById("tab_drafts")
  tabcontent.style.display = "block";
  init_tab_generic("tab_drafts")
})
</script>

{% endblock %}
