{% extends "common/base_private.html" %}


{% block content  %}
<svg aria-hidden="true" focusable="false" style="display:none">
  <defs>
    <symbol id="filter" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
      <path d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"></path>
    </symbol>
  </defs>
</svg>


<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Attestation de Durabilité {{current_attestation.period}}</h3>
    {% csrf_token %}
    <div class="flex-container">
      <a class="button modal-button" id="btn_open_modal_import" style="margin-right: 0px; padding: 7px 10px 0px 10px;">
        <img src="/static/images/icons/upload2.png" height="24" width="24" style="margin-bottom: 5px;" />
      </a>
      <a id="btn_open_modal_columns" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
        <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
      </a>
      <a class="button modal-button" href="{% url 'producers-api-attestation-export' attestation_id=current_attestation.id %}" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
        <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
      </a>
      <select id="pagelength" style="margin-top: auto;">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
      <input type="text" id="input_search_datatable" style="width: 200px; margin-top: auto;" />
    </div>

    <ul class="tabs__tab-list">
      <li class="tabs__tab tabs__tab--selected" data-dst="tab_drafts">Mes brouillons (2)</li>
      <li class="tabs__tab" data-dst="tab_errors">Lots à corriger (0)</li>
      <li class="tabs__tab" data-dst="tab_valid">Lots validés (450)</li>
    </ul>

    <div id="tab_drafts" class="tabcontent">
      <table class="display nowrap" id="datatable">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
      <div class="button-container">
        <div class="button-item">
          <a class="button primary" id="add_lot">Ajouter Lot</a>
          <a id="add_lot_params" style="margin-top: auto;"><small>Paramètres</small></a>
        </div>
        <div class="button-item button-push">
          <a id="btn_open_modal_validate_lots" class="button primary">Valider Lots</a>
          <a id="btn_open_modal_delete_lots" class="button primary">Supprimer Lots</a>
        </div>
      </div>
      <div class="form__group" id="add_lot_params_toggle" style="display: none;">
        <fieldset>
          <legend><small>Sélectionnez les valeurs à dupliquer lors de l'ajout de lot</small></legend>
          <ul class="flex-container-a" id="list_columns_filter">
            <!-- dynamically generated in js -->
          </ul>
        </fieldset>
      </div>
    </div>

    <div id="tab_errors" class="tabcontent">
      <p>Tab errors</p>
    </div>

    <div id="tab_valid" class="tabcontent">
        <p>Tab valid</p>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_delete_lots">
  <div class="modal">
    <span id="modal_delete_lots_form_err_message" style="color: red;"></span>
    <form id="modal_delete_lots_form" method="POST" data-url="{% url 'producers-api-delete-lots' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir supprimer ce(s) lot(s) ?</p>
      <ul id="modal_delete_lots_list">
      </ul>
      <input type="hidden" id="modal_delete_lots_lots" name="lots">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_delete_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_validate_lots">
  <div class="modal">
    <span id="modal_validate_lots_form_err_message" style="color: red;"></span>
    <form id="modal_validate_lots_form" method="POST" data-url="{% url 'producers-api-validate-lots' %}">
      {% csrf_token %}
      <p><b>En validant le(s) lot(s) suivant(s), je certifie que les informations renseignées sont réelles et valides.</b></p>
      <ul id="modal_validate_lots_list">
      </ul>
      <input type="hidden" id="modal_validate_lots_lots" name="lots">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_validate_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_import">
  <div class="modal">
    <div class="form__group">
      <h4>Importer</h4>
      <dl>
        <dt><a href="{% url 'api-producers-template-csv' %}" >Télécharger le modèle</dt>
        <dt><a href="{% url 'api-matiere-premiere-csv' %}" ><small>Table des matières premières</small></a></dt>
        <dt><a href="{% url 'api-biocarburant-csv' %}" ><small>Table des biocarburants</small></a></dt>
        <dt><a href="{% url 'api-country-csv' %}" ><small>Table des pays</small></a></dt>
        <dt><a href="{% url 'api-operators-csv' %}" ><small>Table des opérateurs pétroliers et dépôts</small></a></dt>
      </dl>
    </div>
    <span id="modal_import_success_msg" style="color: green;"></span>
    <span id="modal_import_err_msg" style="color: red;"></span>
    <ul id="modal_import_err_list"></ul>
    <input type="file" id="file_to_upload">
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_import">Annuler</a>
      <a class="button secondary close" id="modal_import_btn_finished" style="display: none">Terminé</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns">Fermer</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_edit_lot">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <p id="err_msg_dom">
    </p>
    <div class="flex-container modal-edit">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3 style="text-align: center;">Informations</h3>
        <input type="hidden" id="lot_id" />
        <dl>
          <dt>Site de Production</dt>
          <dd><input type="text" id="production_site_name" class="autocomplete_production_sites" /><span id="production_site_name_error" style="color:tomato;"></span></dd>
          <dt>Volume à 20°C en Litres</dt>
          <dd><input type="text" id="volume" /><span id="volume_error" style="color:tomato;"></span></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant_name" class="autocomplete_biocarburants" /><span id="biocarburant_name_error" style="color:tomato;"></span><input type="hidden" id="biocarburant_code" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere_name" class="autocomplete_mps" /><span id="matiere_premiere_name_error" style="color:tomato;"></span><input type="hidden" id="matiere_premiere_code" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine_name" class="autocomplete_countries" /><span id="pays_origine_name_error" style="color:tomato;"></span><input type="hidden" id="pays_origine_code" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3 style="text-align: center;">Destination</h3>
        <dl>
        <dt><label for="dae">Numéro de DAE / DAU</label></dt>
        <dd><input id="dae" type="text" /><span id="dae_error" style="color:tomato;"></span></dd>
        <dt><label for="ea_name">Client</label></dt>
        <dd><input type="text" id="ea_name" class="autocomplete_operators" /><span id="ea_name_error" style="color:tomato;"></span></dd>
        <dt><label for="ea_delivery_site">Site de livraison</label></dt>
        <dd><input id="ea_delivery_site" type="text" /><span id="ea_delivery_site_error" style="color:tomato;"></span></dd>
        <dt><label for="ea_delivery_date">Date de livraison</label></dt>
        <dd><input id="ea_delivery_date" type="text" placeholder="JJ/MM/AAAA" /><span id="ea_delivery_date_error" style="color:tomato;"></span></dd>
        <dt><label for="client_id" title="Champ optionnel, entrez ce que vous voulez">Référence</label></dt>
        <dd><input id="client_id" type="text" /><span id="client_id_error" style="color:tomato;"></span></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3>Gaz à Effet de Serre</h3>
        <span style="margin-top: -2em; display: block; text-align: left;"><small>en gCO2eq/MJ</small></span>
        <table id="table_lot_ges">
          <thead>
            <th>Émissions</th>
            <th>Réductions</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="eec">EEC </label><input type="text" id="eec" class="ges_field ges_incr" />
              </td>
              <td>
                <label for="esca">ESCA </label><input type="text" id="esca" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EL </label><input type="text" id="el" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCS </label><input type="text" id="eccs" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EP </label><input type="text" id="ep" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCR </label><input type="text" id="eccr" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>ETD </label><input type="text" id="etd" class="ges_field ges_incr" />
              </td>
              <td>
                <label>EEE </label><input type="text" id="eee" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EU </label><input type="text" id="eu" class="ges_field ges_incr" />
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <input type="hidden" id="ghg_reference" />
          <thead>
            <tr>
              <th>Total gCO2eq/MJ</th>
              <th id="reduction_title" title="">Réduction<small>*</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ghg_total"></td>
              <td id="ghg_reduction"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form__group button__group">
      <a class="button primary" id="btn_lot_save">Sauvegarder</a>
      <a class="button secondary close" id="btn_close_modal_edit_lot">Annuler</a>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
var selected_rows = {}
$(document).ready(function() {
  initFilters(table_columns_drafts)
  document.getElementById("tab_drafts").style.display = "block";
  var lot_errors = {}

  // create empty footer
  let empty_footer = `<tr>${Array(table_columns_drafts.length).fill("<th></th>").join('')}</tr>`
  $("#datatable tfoot").append(empty_footer)

  var table = $('#datatable').DataTable({
    paging: true,
    info: false,
    scrollX: true,
    scrollY: false,
    language: {
        search: "Rechercher:",
        paginate: {
            first:    '«',
            previous: '‹',
            next:     '›',
            last:     '»'
        },
        aria: {
            paginate: {
                first:    'Première',
                previous: 'Précédente',
                next:     'Suivante',
                last:     'Dernière'
            }
        }
    },
    dom: 'rtip',
    columnDefs: [
      {"className": "dt-center",
       "targets": "_all",
       "render": function(data, type, row, meta) {
          let col_name = table_columns_drafts[meta.col].data
          let lot_id = row['lot_id']
          if (lot_id in lot_errors) {
            if (col_name in lot_errors[lot_id]) {
              let error = lot_errors[lot_id][col_name]
              return `<span style="color:tomato;">${error}</span>`
            }
          }
          return data
        }
      },
      {
        orderable: false,
        className: 'select-checkbox',
        targets:   0
      }
    ],
    select: {
      style:    'os',
      selector: 'td:first-child'
    },
    order: [[ 1, 'asc' ]],
    columns: table_columns_drafts,
    ajax: {
      url: `{% url 'api-producers-lots' attestation_id=current_attestation.id %}`,
      dataSrc: function(res) {
        lots = res['lots']
        for (let i = 0, len = lots.length; i < len; i++) {
          // add checkbox on the fly
          lots[i]["checkbox"] = `<input type="checkbox" />`
        }
        errors = res['errors']
        for (let i = 0, len = errors.length; i < len; i++) {
          let error = errors[i]
          let lot_id = error.lot_id
          if (!(lot_id in lot_errors)) {
            lot_errors[lot_id] = {}
          }
          lot_errors[lot_id][error.field] = error.value
        }
        return lots
      }
    },
    initComplete: function () {
      count = 0;
      this.api().columns().every(function () {
        var column = this;
        let table_column = table_columns_drafts[column.index()]
        if (table_column.can_filter === true) {
          var select = $('<select id="' + table_column.data + '" class="select2" ></select>')
              .appendTo($(column.footer()).empty())
              .on('change', function () {
                //Get the "text" property from each selected data
                //regex escape the value and store in array
                var data = $.map($(this).select2('data'), function(value, key) {
                  return value.text ? '^' + $.fn.dataTable.util.escapeRegex(value.text) + '$' : null
                })
                //if no data selected use ""
                if (data.length === 0) {
                  data = [""]
                }
                //join array into string with regex or (|)
                var val = data.join('|')
                //search for the option(s) selected
                column.search(val ? val : '', true, false).draw()
              })
          column.data().unique().sort().each(function (d, j) {
              select.append('<option value="'+d+'">'+d+'</option>');
          })
          //use column title as selector and placeholder
          $('#' + table_column.data).select2({
            multiple: true,
            closeOnSelect: false,
            placeholder: "Filtrer " + (table_column.filter_title  ? table_column.filter_title : table_column.title)
          });
          //initially clear select otherwise first option is selected
          $('.select2').val(null).trigger('change');
        } else {
          $(column.footer()).append(table_column.title)
        }
      }).draw()
    }
  })
  window.table = table

  $('#input_search_datatable').on('keyup', function() {
      table.search(this.value).draw();
  });


  var columnsSettings = loadTableSettings()
  showHideTableColumns(columnsSettings)

  var addLotSettings = loadAddLotSettings()
  preCheckAddLotSettings(addLotSettings)

  /* column filter modal event management */
  $('.toggle-vis').on('click', function(e) {
        // Get the column API object
        let colid = $(this).attr('data-column')
        let column = table.column(colid);

        // Toggle the visibility
        column.visible(!column.visible());
        columnsSettings[colid] = columnsSettings[colid] == 1 ? 0 : 1
        saveTableSettings(columnsSettings)
      });

  /* add lot settings */
  $('.toggle-lot-param').on('click', function(e) {
    let colid = $(this).attr('data-column')
    let column = table.column(colid);
    addLotSettings[colid] = addLotSettings[colid] == 1 ? 0 : 1
    saveAddLotSettings(addLotSettings)
  });

  /* import file */
  $("#file_to_upload").on('change', function(e) {
    let reader = new FileReader();
    reader.onload = function(e) {
      var data = reader.result;
      var lines = data.split("\n")
      var header = []
      var nb_lots_imported = 0
      var nb_lots_failed = 0
      var err_list = $("#modal_import_err_list")
      err_list.empty()

      for (let i = 0, len = lines.length; i < len; i++) {
        // semicolons or commas?
        // try semicolons first (excel style)
        let full_line = lines[i].split(';')
        if (full_line.length < 3) {
          // 3 is completely random but heh
          // try commas (open office style)
          full_line = lines[i].split(',')
        }
        if (full_line.length < 10) {
          // ignore line
          continue
        }
        if (i === 0) {
          header = full_line
        } else {
          var formdata = new FormData();
          formdata.set('attestation_id', '{{current_attestation.id}}')
          formdata.set('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
          for (let j = 0, llen = full_line.length; j < llen; j++) {
            formdata.set(header[j],full_line[j])
          }
          // save lot
          $.ajax({
            url         : "{% url 'producers-api-attestation-save-lot' %}",
            data        : formdata,
            cache       : false,
            contentType : false,
            processData : false,
            type        : 'POST',
            success     : function(data, textStatus, jqXHR) {
              nb_lots_imported += 1
              $("#modal_import_success_msg").text(`${nb_lots_imported} lots importé(s)`)
            },
            error       : function(e) {
              nb_lots_failed += 1
              $("#modal_import_err_msg").text(`${nb_lots_failed} lots n'ont pas pu être importés:`)
              if (e.status === 400) {
                err_list.append(`<li>${full_line}</li><li>${e.responseJSON.message}</li>`)
              } else {
                err_list.append(`<li>${full_line}</li><li>Unknown error</li>`)
              }
            }
          })
        }
      }
      window.getElementById('modal_import_btn_finished').style.display = "block"
      window.getElementById('btn_close_modal_import').style.display = "none"
    };
    reader.onerror = function(event) {
      console.error("File could not be read! Code " + event.target.error.code);
    };
    reader.readAsText(e.target.files[0]);
  })

  $("#modal_import_btn_finished").on('click', function() {
    // refresh page
    window.location.reload()
  })

  manage_actions()
  /* click on datatable row */
  $('#datatable_wrapper tbody').on('click', 'input', function() {
    let hrow = $(this).closest("tr")
    let row = table.row(hrow)
    let data = table.row(row).data();
    let rowid = table.row(row).index();
    // add to selection if checked, otherwise remove
    if (rowid in selected_rows) {
      delete selected_rows[rowid]
    } else {
      selected_rows[rowid] = data
    }
    manage_actions()
  })

  $('#datatable_wrapper tbody').on('click', 'td', function() {
    // check if we clicked on the checkbox
    let cell = table.cell(this)
    let colid = cell.index()['column']
    let row = $(this).closest('tr');
    let data = table.row(row).data()
    let table_column = table_columns_drafts[colid]
    if (table_column['data'] === 'checkbox') {
      // ignore clicks on checkbox column
      return
    } else {
      let modal = document.getElementById("modal_edit_lot")
      for (key in data) {
        // set the value in the field
        $(`#${key}`).val(data[key])
        // reset error field to none
        $(`#${key}_error`).html('')
      }

      // override errors into the field
      let lot_id = data['lot_id']
      if (lot_id in lot_errors) {
        let errors = lot_errors[lot_id]
        for (key in errors) {
          $(`#${key}`).val(errors[key])
        }
      }

      // non-input keys
      ['ghg_total', 'ghg_reduction'].forEach(function(item, index) {
        $(`#${item}`).html(data[item])
      })
      $("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${data['ghg_reference']} gCO2eq/MJ`)

      /* load errors */
      $.ajax({url: "{% url 'producers-api-lot-errors' %}",
        data: {'lot_id': data['lot_id'], 'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
        type        : 'POST',
        success     : function(data, textStatus, jqXHR){
          // Callback code
          // load existing errors into the form
          for (let i = 0, len = data.length; i < len; i++) {
            let dom = $(`#${data[i].field}_error`)
            dom.html(`${data[i].error}`)
          }
        },
        error       : function(e) {
          if (e.status === 400) {
            alert(e.responseJSON.message)
            console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
          } else {
            alert("Server error. Please contact an administrator")
            console.log(`server error ${JSON.stringify(e)}`)
          }
        }
      })

      /* warning if the lot is validated */
      if (data['status'] == 'Validated') {
        let message = `<h3>Lot ${data['carbure_id']}</h3>
                       <h5 style="color: tomato">Attention, ce lot a déjà été déclaré à la DGEC et affilié à un client.</h5>
                       <span>Toute modification leur sera automatiquement notifiée et devra être acceptée par le client.</span>`
        $("#err_msg_dom").html(message)
      } else {
        $("#err_msg_dom").html('')
      }
      modal.style.display = "flex"
    }
  });

  $("#add_lot_params").on('click', function() {
    $("#add_lot_params_toggle").toggle();
  });

  $(document).on('change', '#checkbox_header', function() {
    if (this.checked) {
      // select everything visible
      $("#datatable_wrapper").find('input').prop('checked', true)
      let rows = table.rows({search:'applied'})
      for (let i = 0, len = rows.count(); i < len; i++) {
        let rowid = table.row(i).index();
        let rowdata = table.row(i).data()
        selected_rows[rowid] = rowdata
      }
    } else {
        // unselect everything visible
        $("#datatable_wrapper").find('input').prop('checked', false)
        for (const key in selected_rows) {
          delete selected_rows[key]
        }
      }
      console.log(`${Object.keys(selected_rows).length} rows selected`)
      manage_actions()
    })

});

// fixed column styling on row hover
$(document).on({
  mouseenter: function () {
    trIndex = $(this).index();
    $("#datatable tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
    $("table.dataTable.DTFC_Cloned tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
  },
  mouseleave: function () {
    trIndex = $(this).index();
    $("#datatable tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").removeClass("hover");
    });
    $("table.dataTable.DTFC_Cloned tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").removeClass("hover");
    });
  }
}, ".dataTables_wrapper tbody tr");

$("#btn_lot_save").on('click', handleSave)

function handleSave(action) {
  var err_msg_dom = $("#err_msg_dom")
  err_msg_dom.empty()
  var formdata = new FormData();
  formdata.set('attestation_id', '{{current_attestation.id}}')
  formdata.set('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
  $(".modal-edit input").each(function() {
    formdata.set($(this).attr('id'), $(this).val())
  })

  // post form
  $.ajax({
    url         : "{% url 'producers-api-attestation-save-lot' %}",
    data        : formdata,
    cache       : false,
    contentType : false,
    processData : false,
    type        : 'POST',
    success     : function(data, textStatus, jqXHR) {
      // Callback code
      /* if errors, display them and stay on page */
      if (data.errors.length > 0) {
        err_msg_dom.append('<ul style="color: tomato;" id="errors_list"></ul>')
        let err_list = $("#errors_list")
        for (let i = 0, len = data.errors.length; i < len; i++) {
          err_list.append(`<li>${data.errors[i].error}</li>`)
        }
      } else {
        /* otherwise reload page */
        window.location.reload()
      }
    },
    error       : function(e) {
      if (e.status === 400) {
        err_msg_dom.html(`${e.responseJSON.message}`)
      } else {
        alert("Server error. Please contact an administrator")
      }
    }
  })
}

function load_ges(mp, bc) {
  $.ajax({
    url         : "{% url 'producers-api-ges' %}" + `?mp=${mp}&bc=${bc}`,
    cache       : false,
    contentType : false,
    processData : false,
    type        : 'GET',
    success     : function(data, textStatus, jqXHR) {
      // Callback code
      $.each(data, function(key, value) {
        $(`#${key}`).val(value)
      })
      $("#eec").change()
    },
    error       : function(e) {
      if (e.status === 400) {
        alert(e.responseJSON.message)
      } else {
        alert("Server error. Please contact an administrator")
      }
    }
  })
}

$(".ges_field").on('change', function() {
  var sum_incr = 0
  var sum_decr = 0
  var ref = parseFloat($("#ghg_reference").val())
  $(".ges_incr").each(function(index, elem) {
    sum_incr += parseFloat(elem.value)
  })
  $(".ges_decr").each(function(index, elem) {
    sum_decr += parseFloat(elem.value)
  })
  var sum = sum_incr - sum_decr
  $("#ghg_total").text(sum.toFixed(2))
  var pct_reduction = (1.0 - (sum / ref)) * 100
  $("#ghg_reduction").text(`${pct_reduction.toFixed(2)}%`)
  $("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${ref} gCO2eq/MJ`)
})

$(".autocomplete_mps").autocomplete({
  serviceUrl: "{% url 'producers-api-mps-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#matiere_premiere_code").val(suggestion.data)
    let selected_bc = $("#biocarburant_code").val()
    if (selected_bc !== '') {
      load_ges(suggestion.data, selected_bc)
    }
  },
  onInvalidateSelection: function() {
    $("#matiere_premiere_code").val('')
  },
  showNoSuggestionNotice: true,
})

$(".autocomplete_biocarburants").autocomplete({
  serviceUrl: "{% url 'producers-api-biocarburants-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#biocarburant_code").val(suggestion.data)
    let selected_mp = $("#matiere_premiere_code").val()
    if (selected_mp !== '') {
      load_ges(selected_mp, suggestion.data)
    }
  },
  onInvalidateSelection: function() {
    $("#biocarburant_code").val('')
  },
})

$(".autocomplete_production_sites").autocomplete({
  serviceUrl: "{% url 'producers-api-production-sites-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
})

$(".autocomplete_countries").autocomplete({
  serviceUrl: "{% url 'api-country-autocomplete' %}",
  dataType: 'json',
  onSelect: function(suggestion) {
    $("#pays_origine_code").val(suggestion.data)
  },
  onInvalidateSelection: function() {
    $("#pays_origine_code").val('')
  }
})

$(".autocomplete_operators").autocomplete({
  serviceUrl: "{% url 'api-operators-autocomplete' %}",
  dataType: 'json',
  minChars: 0,
})

</script>

{% endblock %}
