{% extends "common/base_private.html" %}


{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Attestation de Durabilité {{current_attestation.period}}</h3>
    {% csrf_token %}
    <div class="flex-container">
      <a class="button modal-button" id="btn_open_modal_import" style="margin-top: 1em; margin-right: 0px; padding: 7px 10px 0px 10px;">
        <img src="/static/images/icons/upload2.png" height="24" width="24" style="margin-bottom: 5px;" />
      </a>
      <a id="btn_open_modal_columns" class="button modal-button" style="margin-left: 5px; margin-right: 0px; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)" >
        <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
      </a>
      <a class="button modal-button" href="{% url 'producers-api-attestation-export' attestation_id=current_attestation.id %}" style="margin-left: 5px; padding: 7px 10px 0px 10px;">
        <img src="/static/images/icons/download2.png" height="24" width="24"  style="margin-bottom: 5px;"/>
      </a>
      <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
      <input type="text" id="input_search_datatable" style="width: 200px; height: 2em; margin-top: auto; margin-bottom: auto;" />

    </div>
    <table class="display nowrap" id="datatable">
      <!-- dynamically generated in js -->
      <thead></thead>
      <tfoot></tfoot>
      <tbody></tbody>
    </table>
    <div class="button-container">
      <div class="button-item">
        <a class="button primary" id="add_lot">Ajouter Lot</a>
        <a id="add_lot_params" style="margin-top: auto;"><small>Paramètres</small></a>
      </div>
      <div class="button-item button-push">
        <a id="btn_open_modal_validate_lots" class="button primary">Valider Lots</a>
        <a id="btn_open_modal_delete_lots" class="button primary">Supprimer Lots</a>
      </div>
    </div>
    <div class="form__group" id="add_lot_params_toggle" style="display: none;">
      <fieldset>
        <legend><small>Sélectionnez les valeurs à dupliquer lors de l'ajout de lot</small></legend>
        <ul class="flex-container-a" id="list_columns_filter">
          <!-- dynamically generated in js -->
        </ul>
      </fieldset>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_delete_lots">
  <div class="modal">
    <span id="modal_delete_lots_form_err_message" style="color: red;"></span>
    <form id="modal_delete_lots_form" method="POST" data-url="{% url 'producers-api-delete-lots' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir supprimer ce(s) lot(s) ?</p>
      <ul id="modal_delete_lots_list">
      </ul>
      <input type="hidden" id="modal_delete_lots_lots" name="lots">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_delete_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_validate_lots">
  <div class="modal">
    <span id="modal_validate_lots_form_err_message" style="color: red;"></span>
    <form id="modal_validate_lots_form" method="POST" data-url="{% url 'producers-api-validate-lots' %}">
      {% csrf_token %}
      <p><b>En validant le(s) lot(s) suivant(s), je certifie que les informations renseignées sont réelles et valides.</b></p>
      <ul id="modal_validate_lots_list">
      </ul>
      <input type="hidden" id="modal_validate_lots_lots" name="lots">
      <div class="form__group button__group">
        <a class="button secondary" id="btn_close_modal_validate_lots">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_import">
  <div class="modal">
    <div class="form__group">
      <h4>Importer</h4>
      <dl>
        <dt><a href="{% url 'api-producers-template-csv' %}" >Télécharger le modèle</dt>
        <dt><a href="{% url 'api-matiere-premiere-csv' %}" ><small>Table des matières premières</small></a></dt>
        <dt><a href="{% url 'api-biocarburant-csv' %}" ><small>Table des biocarburants</small></a></dt>
        <dt><a href="{% url 'api-country-csv' %}" ><small>Table des pays</small></a></dt>
        <dt><a href="{% url 'api-operators-csv' %}" ><small>Table des opérateurs pétroliers et dépôts</small></a></dt>
      </dl>
    </div>
    <span id="modal_import_success_msg" style="color: green;"></span>
    <span id="modal_import_err_msg" style="color: red;"></span>
    <ul id="modal_import_err_list"></ul>
    <input type="file" id="file_to_upload">
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_import">Annuler</a>
      <a class="button secondary close" id="modal_import_btn_finished" style="display: none">Terminé</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns">Fermer</a>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_edit_lot">
  <div class="modal" style="max-width: none; margin: auto; max-height: 100%; overflow-y: auto;">
    <p id="err_msg_dom">
    </p>
    <div class="flex-container modal-edit">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3 style="text-align: center;">Informations</h3>
        <input type="hidden" id="lot_id" />
        <dl>
          <dt>Site de Production</dt>
          <dd><input type="text" id="production_site_name" class="autocomplete_production_sites" /></dd>
          <dt>Volume à 20°C en Litres</dt>
          <dd><input type="text" id="volume" /></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant_name" class="autocomplete_biocarburants" /><input type="hidden" id="biocarburant_code" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere_name" class="autocomplete_mps" /><input type="hidden" id="matiere_premiere_code" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine_name" class="autocomplete_countries" /><input type="hidden" id="pays_origine_code" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3 style="text-align: center;">Destination</h3>
        <dl>
        <dt><label for="dae">Numéro de DAE / DAU</label></dt>
        <dd><input id="dae" type="text" /></dd>
        <dt><label for="ea_name">Client</label></dt>
        <dd><input type="text" id="ea_name" class="autocomplete_operators" /></dd>
        <dt><label for="ea_delivery_site">Site de livraison</label></dt>
        <dd><input id="ea_delivery_site" type="text" /></dd>
        <dt><label for="ea_delivery_date">Date de livraison</label></dt>
        <dd><input id="ea_delivery_date" type="text" placeholder="JJ/MM/AAAA" /></dd>
        <dt><label for="client_id" title="Champ optionnel, entrez ce que vous voulez">Référence</label></dt>
        <dd><input id="client_id" type="text" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3>Gaz à Effet de Serre</h3>
        <span style="margin-top: -2em; display: block; text-align: left;"><small>en gCO2eq/MJ</small></span>
        <table id="table_lot_ges">
          <thead>
            <th>Émissions</th>
            <th>Réductions</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="eec">EEC </label><input type="text" id="eec" class="ges_field ges_incr" />
              </td>
              <td>
                <label for="esca">ESCA </label><input type="text" id="esca" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EL </label><input type="text" id="el" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCS </label><input type="text" id="eccs" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EP </label><input type="text" id="ep" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCR </label><input type="text" id="eccr" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>ETD </label><input type="text" id="etd" class="ges_field ges_incr" />
              </td>
              <td>
                <label>EEE </label><input type="text" id="eee" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EU </label><input type="text" id="eu" class="ges_field ges_incr" />
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <input type="hidden" id="ghg_reference" />
          <thead>
            <tr>
              <th>Total gCO2eq/MJ</th>
              <th id="reduction_title" title="">Réduction<small>*</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ghg_total"></td>
              <td id="ghg_reduction"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form__group button__group">
      <a class="button primary" id="btn_lot_save">Sauvegarder</a>
      <a class="button secondary close" id="btn_close_modal_edit_lot">Annuler</a>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">


var selected_rows = {}

function duplicate_lot(lot_id) {
  // unselect
  for (const key in selected_rows) {
    delete selected_rows[key]
  }
  // get columns to duplicate
  var addLotSettings = loadAddLotSettings()
  var fields_to_ignore = []
  for (let i = 0, len = addLotSettings.length; i < len; i++) {
    if (addLotSettings[i] == 1) {
      continue
    }
    let field_name = table_columns[i].data
    fields_to_ignore.push(field_name)
  }

  $.ajax({
    url         : "{% url 'producers-api-duplicate-lot' %}",
    data        : {'lot_id': lot_id, 'fields':fields_to_ignore, 'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
    type        : 'POST',
    success     : function(data, textStatus, jqXHR){
      // Callback code
      window.table.ajax.reload()
      manage_actions()
    },
    error       : function(e) {
      if (e.status === 400) {
        alert(e.responseJSON.message)
        console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
      } else {
        alert("Server error. Please contact an administrator")
        console.log(`server error ${JSON.stringify(e)}`)
      }
    }
  })
}

function manage_validate_button(draft_present) {
 if (draft_present === true) {
    $("#btn_open_modal_validate_lots").addClass('primary')
    $("#btn_open_modal_validate_lots").removeClass('secondary')
    // add drafts to validate modal
    $("#modal_validate_lots_list").empty()
    let to_validate = []
    let keys = Object.keys(selected_rows)
    for (let i = 0, len = keys.length; i < len; i++) {
      let key = keys[i]
      let rowdata = selected_rows[key]
      let statut = rowdata['status']
      if (statut.toLowerCase() === "draft") {
        $("#modal_validate_lots_list").append(`<li>${rowdata['production_site_name']} - ${rowdata['volume']} - ${rowdata['biocarburant_name']} - ${rowdata['matiere_premiere_name']}</li>`)
        to_validate.push(selected_rows[key]['lot_id'])
      }
      $("#modal_validate_lots_lots").val(to_validate.join(","))
    }

  } else {
    $("#btn_open_modal_validate_lots").addClass('secondary')
    $("#btn_open_modal_validate_lots").removeClass('primary')
    // cleanup validate modal
    $("#modal_validate_lots_list").empty()
  }
}

function manage_delete_button(only_drafts_present) {
  let keys = Object.keys(selected_rows)
  if (keys.length > 0 && only_drafts_present === true) {
    $("#btn_open_modal_delete_lots").addClass('primary')
    $("#btn_open_modal_delete_lots").removeClass('secondary')
    $("#modal_delete_lots_list").empty()
    let to_delete = []
    let keys = Object.keys(selected_rows)
    for (let i = 0, len = keys.length; i < len; i++) {
      let key = keys[i]
      let rowdata = selected_rows[key]
      let statut = rowdata['status']
      if (statut.toLowerCase() === "draft") {
        $("#modal_delete_lots_list").append(`<li>${rowdata['production_site_name']} - ${rowdata['volume']} - ${rowdata['biocarburant_name']} - ${rowdata['matiere_premiere_name']}</li>`)
        to_delete.push(selected_rows[key]['lot_id'])
      }
      $("#modal_delete_lots_lots").val(to_delete.join(","))
    }
  } else {
    $("#btn_open_modal_delete_lots").addClass('secondary')
    $("#btn_open_modal_delete_lots").removeClass('primary')
    $("#modal_delete_lots_list").empty()
  }
}

function manage_add_button() {
  let keys = Object.keys(selected_rows)
  if (keys.length === 1) {
    $("#add_lot").text("Dupliquer Lot")
    $("#add_lot").removeAttr("href")
    let lot_id = selected_rows[keys[0]]['lot_id']
    $("#add_lot").unbind('click')
    $("#add_lot").attr("onclick", `duplicate_lot(${lot_id})`)
  } else {
    $("#add_lot").text("Ajouter Lot")
    $("#add_lot").removeAttr("onclick")
    $("#add_lot").on("click", function() {
      let modal = document.getElementById("modal_edit_lot")
      /* empty all input fields */
      $("#modal_edit_lot input").each(function() {
        $(this).val('')
      })
      $("#err_msg_dom").html('')
      let non_input_fields = ['ghg_total', 'ghg_reduction']
      for (let i = 0, len = non_input_fields.length; i < len; i++) {
        let field = non_input_fields[i]
        $(`#${field}`).html('')
      }
      /* check if we have production sites, mps and bcs in parameters */
      check_production_sites()
      check_mps()
      check_biocarburants()
      $("#reduction_title").attr('title', '')
      modal.style.display = "flex"
    })
  }
}

function check_production_sites() {
  $.ajax({
    url         : "{% url 'producers-api-production-sites-autocomplete' %}" + "?producer_id={{user_entity.id}}&query=",
    type        : 'GET',
    success     : function(data, textStatus, jqXHR) {
      if (data['suggestions'].length == 0) {
        $("#err_msg_dom").html('Aucun site de production enregistré')
      }
    },
    error       : function(e) {
      console.log(`error fetching existing production sites`)
    }
  })
}

function check_mps() {
  $.ajax({
    url         : "{% url 'producers-api-mps-autocomplete' %}" + "?producer_id={{user_entity.id}}&query=",
    type        : 'GET',
    success     : function(data, textStatus, jqXHR) {
      if (data['suggestions'].length == 0) {
        $("#err_msg_dom").html('Aucune matière première enregistrée dans votre profil')
      }
    },
    error       : function(e) {
      console.log(`error fetching mps`)
    }
  })
}

function check_biocarburants() {
  $.ajax({
    url         : "{% url 'producers-api-biocarburants-autocomplete' %}" + "?producer_id={{user_entity.id}}&query=",
    type        : 'GET',
    success     : function(data, textStatus, jqXHR) {
      if (data['suggestions'].length == 0) {
        $("#err_msg_dom").html('Aucun biocarburant enregistré dans votre profil')
      }
    },
    error       : function(e) {
      console.log(`error fetching biocarburants`)
    }
  })
}


function manage_actions() {
  // buttons Valider, Supprimer et Ajouter
  // if one of the rows is a draft, button Valider is active
  let draft_present = false
  let only_drafts_present = true
  let keys = Object.keys(selected_rows)
  for (let i = 0, len = keys.length; i < len; i++) {
    let key = keys[i]
    let rowdata = selected_rows[key]
    let statut = rowdata['status']
    if (statut.toLowerCase() === "draft") {
      draft_present = true
    } else {
      only_drafts_present = false
    }
  }
  manage_validate_button(draft_present)
  manage_delete_button(only_drafts_present)
  manage_add_button()
}

$(document).ready(function() {

 {% if message %}alert("{{message}}"){% endif %}

  function initFilters() {
    var table_columns_filter = $("#table_columns_filter")
    var table_columns_filter2 = $("#table_columns_filter2")
    var list_columns_filter = $("#list_columns_filter")
    var columns_filter_html = ""
    var columns_filter_html2 = ""
    var list_columns_filter_html = ""
    for (let i = 0, len = table_columns.length; i < len; i++) {
      let column = table_columns[i]
      if (column.can_hide === true) {
        // use two columns
        if (i <= (len / 2)) {
          columns_filter_html += `<tr><td><input type="checkbox" id="checkbox${i}" class="toggle-vis" data-column="${i}"></td><td><label for="checkbox${i}" class="label-inline">${column.title}</label></td></tr>`
        } else {
          columns_filter_html2 += `<tr><td><input type="checkbox" id="checkbox${i}" class="toggle-vis" data-column="${i}"></td><td><label for="checkbox${i}" class="label-inline">${column.title}</label></td></tr>`
        }
      }
      if (column.can_duplicate === true) {
        list_columns_filter_html += `<li class="flex-item-a"><input type="checkbox" id="add_checkbox${i}" class="toggle-lot-param" data-column="${i}"><label for="add_checkbox${i}" class="label-inline">${column.title}</label></li>`
      }
    }
    table_columns_filter.append(columns_filter_html)
    table_columns_filter2.append(columns_filter_html2)
    list_columns_filter.append(list_columns_filter_html)
  }
  initFilters()

  // create empty footer
  let empty_footer = `<tr>${Array(table_columns.length).fill("<th></th>").join('')}</tr>`
  $("#datatable tfoot").append(empty_footer)

  var lot_errors = {}

  var table = $('#datatable').DataTable({
    paging: true,
    info: false,
    scrollX: true,
    fixedColumns: {
      rightColumns: 2,
    },
    language: {
        search: "Rechercher:",
        paginate: {
            first:    '«',
            previous: '‹',
            next:     '›',
            last:     '»'
        },
        aria: {
            paginate: {
                first:    'Première',
                previous: 'Précédente',
                next:     'Suivante',
                last:     'Dernière'
            }
        }
    },
    dom: 'rtip',
    columnDefs: [
      {"className": "dt-center",
       "targets": "_all",
       "render": function(data, type, row, meta) {
          let col_name = table_columns[meta.col].data
          let lot_id = row['lot_id']
          if (lot_id in lot_errors) {
            if (col_name in lot_errors[lot_id]) {
              let error = lot_errors[lot_id][col_name]
              return `<span style="color:tomato;">${error}</span>`
            }
          }
          return data
        }
      }
    ],
    columns: table_columns,
    ajax: {
      url: `{% url 'api-producers-lots' attestation_id=current_attestation.id %}`,
      dataSrc: function(res) {
        lots = res['lots']
        for (let i = 0, len = lots.length; i < len; i++) {
          // add checkbox on the fly
          lots[i]["checkbox"] = `<input type="checkbox" />`
        }
        errors = res['errors']
        for (let i = 0, len = errors.length; i < len; i++) {
          let error = errors[i]
          let lot_id = error.lot_id
          if (!(lot_id in lot_errors)) {
            lot_errors[lot_id] = {}
          }
          lot_errors[lot_id][error.field] = error.value
        }
        return lots
      }
    },
    initComplete: function() {
      // create filter
      this.api().columns().every(function () {
        var column = this;
        let table_column = table_columns[column.index()]
        if (table_column.can_filter === true) {
          var select = $('<select><option value=""></option></select>')
          .appendTo($(column.footer()).empty())
          .on('change', function() {
            var val = $.fn.dataTable.util.escapeRegex($(this).val());
            column.search(val ? '^'+val+'$' : '', true, false).draw();
          });
          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="'+d+'">'+d+'</option>')
          });
        } else {
          $(column.footer()).append(table_column.title)
        }
      }).draw()
    },
  })
  window.table = table

  $('#input_search_datatable').on('keyup', function() {
      table.search(this.value).draw();
  });


  var columnsSettings = loadTableSettings()
  showHideTableColumns(columnsSettings)

  var addLotSettings = loadAddLotSettings()
  preCheckAddLotSettings(addLotSettings)

  /* column filter modal event management */
  $('.toggle-vis').on('click', function(e) {
        // Get the column API object
        let colid = $(this).attr('data-column')
        let column = table.column(colid);

        // Toggle the visibility
        column.visible(!column.visible());
        columnsSettings[colid] = columnsSettings[colid] == 1 ? 0 : 1
        saveTableSettings(columnsSettings)
      });

  /* add lot settings */
  $('.toggle-lot-param').on('click', function(e) {
    let colid = $(this).attr('data-column')
    let column = table.column(colid);
    addLotSettings[colid] = addLotSettings[colid] == 1 ? 0 : 1
    saveAddLotSettings(addLotSettings)
  });

  /* import file */
  $("#file_to_upload").on('change', function(e) {
    let reader = new FileReader();
    reader.onload = function(e) {
      var data = reader.result;
      var lines = data.split("\n")
      var header = []
      var nb_lots_imported = 0
      var nb_lots_failed = 0
      var err_list = $("#modal_import_err_list")
      err_list.empty()

      for (let i = 0, len = lines.length; i < len; i++) {
        // semicolons or commas?
        // try semicolons first (excel style)
        let full_line = lines[i].split(';')
        if (full_line.length < 3) {
          // 3 is completely random but heh
          // try commas (open office style)
          full_line = lines[i].split(',')
        }
        if (full_line.length < 10) {
          // ignore line
          continue
        }
        if (i === 0) {
          header = full_line
        } else {
          var formdata = new FormData();
          formdata.set('attestation_id', '{{current_attestation.id}}')
          formdata.set('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
          for (let j = 0, llen = full_line.length; j < llen; j++) {
            formdata.set(header[j],full_line[j])
          }
          // save lot
          $.ajax({
            url         : "{% url 'producers-api-attestation-save-lot' %}",
            data        : formdata,
            cache       : false,
            contentType : false,
            processData : false,
            type        : 'POST',
            success     : function(data, textStatus, jqXHR) {
              nb_lots_imported += 1
              $("#modal_import_success_msg").text(`${nb_lots_imported} lots importé(s)`)
            },
            error       : function(e) {
              nb_lots_failed += 1
              $("#modal_import_err_msg").text(`${nb_lots_failed} lots n'ont pas pu être importés:`)
              if (e.status === 400) {
                err_list.append(`<li>${full_line}</li><li>${e.responseJSON.message}</li>`)
              } else {
                err_list.append(`<li>${full_line}</li><li>Unknown error</li>`)
              }
            }
          })
        }
      }
      window.getElementById('modal_import_btn_finished').style.display = "block"
      window.getElementById('btn_close_modal_import').style.display = "none"
    };
    reader.onerror = function(event) {
      console.error("File could not be read! Code " + event.target.error.code);
    };
    reader.readAsText(e.target.files[0]);
  })

  $("#modal_import_btn_finished").on('click', function() {
    // refresh page
    window.location.reload()
  })

  manage_actions()
  /* click on datatable row */
  $('#datatable_wrapper tbody').on('click', 'input', function() {
    let hrow = $(this).closest("tr")
    let row = table.row(hrow)
    let data = table.row(row).data();
    let rowid = table.row(row).index();
    // add to selection if checked, otherwise remove
    if (rowid in selected_rows) {
      delete selected_rows[rowid]
    } else {
      selected_rows[rowid] = data
    }
    manage_actions()
  })

  $('#datatable_wrapper tbody').on('click', 'td', function() {
    // check if we clicked on the checkbox
    let cell = table.cell(this)
    let colid = cell.index()['column']
    let row = $(this).closest('tr');
    let data = table.row(row).data()
    let table_column = table_columns[colid]
    if (table_column['data'] === 'checkbox') {
      // ignore clicks on checkbox column
      return
    } else {
      let modal = document.getElementById("modal_edit_lot")
      for (key in data) {
        $(`#${key}`).val(data[key])
      }

      let lot_id = data['lot_id']
      if (lot_id in lot_errors) {
        let errors = lot_errors[lot_id]
        for (key in errors) {
          $(`#${key}`).val(errors[key])
        }
      }

      // non-input keys
      ['ghg_total', 'ghg_reduction'].forEach(function(item, index) {
        $(`#${item}`).html(data[item])
      })
      $("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${data['ghg_reference']} gCO2eq/MJ`)

      /* load errors */
      $.ajax({url: "{% url 'producers-api-lot-errors' %}",
        data: {'lot_id': data['lot_id'], 'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
        type        : 'POST',
        success     : function(data, textStatus, jqXHR){
          // Callback code
          // load existing errors into the form
          let err_msg_dom = $("#err_msg_dom")
          err_msg_dom.append('<ul style="color: tomato;" id="errors_list"></ul>')
          let err_list = $("#errors_list")
          for (let i = 0, len = data.length; i < len; i++) {
            err_list.append(`<li>${data[i].error}</li>`)
          }
        },
        error       : function(e) {
          if (e.status === 400) {
            alert(e.responseJSON.message)
            console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
          } else {
            alert("Server error. Please contact an administrator")
            console.log(`server error ${JSON.stringify(e)}`)
          }
        }
      })

      /* warning if the lot is validated */
      if (data['status'] == 'Validated') {
        let message = `<h3>Lot ${data['carbure_id']}</h3>
                       <h5 style="color: tomato">Attention, ce lot a déjà été déclaré à la DGEC et affilié à un client.</h5>
                       <span>Toute modification leur sera automatiquement notifiée et devra être acceptée par le client.</span>`
        $("#err_msg_dom").html(message)
      } else {
        $("#err_msg_dom").html('')
      }
      modal.style.display = "flex"
    }
  });

  $("#add_lot_params").on('click', function() {
    $("#add_lot_params_toggle").toggle();
  });

  $(document).on('change', '#checkbox_header', function() {
    if (this.checked) {
      // select everything visible
      $("#datatable_wrapper").find('input').prop('checked', true)
      let rows = table.rows({search:'applied'})
      for (let i = 0, len = rows.count(); i < len; i++) {
        let rowid = table.row(i).index();
        let rowdata = table.row(i).data()
        selected_rows[rowid] = rowdata
      }
    } else {
        // unselect everything visible
        $("#datatable_wrapper").find('input').prop('checked', false)
        for (const key in selected_rows) {
          delete selected_rows[key]
        }
      }
      console.log(`${Object.keys(selected_rows).length} rows selected`)
      manage_actions()
    })

});

// fixed column styling on row hover
$(document).on({
  mouseenter: function () {
    trIndex = $(this).index();
    $("#datatable tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
    $("table.dataTable.DTFC_Cloned tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").addClass("hover")
    });
  },
  mouseleave: function () {
    trIndex = $(this).index();
    $("#datatable tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").removeClass("hover");
    });
    $("table.dataTable.DTFC_Cloned tbody").each(function(index) {
      $(this).find("tr:eq("+trIndex+")").removeClass("hover");
    });
  }
}, ".dataTables_wrapper tbody tr");

$("#btn_lot_save").on('click', handleSave)

function handleSave(action) {
  var err_msg_dom = $("#err_msg_dom")
  err_msg_dom.empty()
  var formdata = new FormData();
  formdata.set('attestation_id', '{{current_attestation.id}}')
  formdata.set('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
  $(".modal-edit input").each(function() {
    formdata.set($(this).attr('id'), $(this).val())
  })

  // post form
  $.ajax({
    url         : "{% url 'producers-api-attestation-save-lot' %}",
    data        : formdata,
    cache       : false,
    contentType : false,
    processData : false,
    type        : 'POST',
    success     : function(data, textStatus, jqXHR) {
      // Callback code
      /* if errors, display them and stay on page */
      if (data.errors.length > 0) {
        err_msg_dom.append('<ul style="color: tomato;" id="errors_list"></ul>')
        let err_list = $("#errors_list")
        for (let i = 0, len = data.errors.length; i < len; i++) {
          err_list.append(`<li>${data.errors[i].error}</li>`)
        }
      } else {
        /* otherwise reload page */
        window.location.reload()
      }
    },
    error       : function(e) {
      if (e.status === 400) {
        err_msg_dom.html(`${e.responseJSON.message}`)
      } else {
        alert("Server error. Please contact an administrator")
      }
    }
  })
}

function load_ges(mp, bc) {
  $.ajax({
    url         : "{% url 'producers-api-ges' %}" + `?mp=${mp}&bc=${bc}`,
    cache       : false,
    contentType : false,
    processData : false,
    type        : 'GET',
    success     : function(data, textStatus, jqXHR) {
      // Callback code
      $.each(data, function(key, value) {
        $(`#${key}`).val(value)
      })
      $("#eec").change()
    },
    error       : function(e) {
      if (e.status === 400) {
        alert(e.responseJSON.message)
      } else {
        alert("Server error. Please contact an administrator")
      }
    }
  })
}

$(".ges_field").on('change', function() {
  var sum_incr = 0
  var sum_decr = 0
  var ref = parseFloat($("#ghg_reference").val())
  $(".ges_incr").each(function(index, elem) {
    sum_incr += parseFloat(elem.value)
  })
  $(".ges_decr").each(function(index, elem) {
    sum_decr += parseFloat(elem.value)
  })
  var sum = sum_incr - sum_decr
  $("#ghg_total").text(sum.toFixed(2))
  var pct_reduction = (1.0 - (sum / ref)) * 100
  $("#ghg_reduction").text(`${pct_reduction.toFixed(2)}%`)
  $("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${ref} gCO2eq/MJ`)
})

$(".autocomplete_mps").autocomplete({
  serviceUrl: "{% url 'producers-api-mps-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#matiere_premiere_code").val(suggestion.data)
    let selected_bc = $("#biocarburant_code").val()
    if (selected_bc !== '') {
      load_ges(suggestion.data, selected_bc)
    }
  },
  onInvalidateSelection: function() {
    $("#matiere_premiere_code").val('')
  },
  showNoSuggestionNotice: true,
})

$(".autocomplete_biocarburants").autocomplete({
  serviceUrl: "{% url 'producers-api-biocarburants-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#biocarburant_code").val(suggestion.data)
    let selected_mp = $("#matiere_premiere_code").val()
    if (selected_mp !== '') {
      load_ges(selected_mp, suggestion.data)
    }
  },
  onInvalidateSelection: function() {
    $("#biocarburant_code").val('')
  },
})

$(".autocomplete_production_sites").autocomplete({
  serviceUrl: "{% url 'producers-api-production-sites-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
})

$(".autocomplete_countries").autocomplete({
  serviceUrl: "{% url 'api-country-autocomplete' %}",
  dataType: 'json',
  onSelect: function(suggestion) {
    $("#pays_origine_code").val(suggestion.data)
  },
  onInvalidateSelection: function() {
    $("#pays_origine_code").val('')
  }
})

$(".autocomplete_operators").autocomplete({
  serviceUrl: "{% url 'api-operators-autocomplete' %}",
  dataType: 'json',
  minChars: 0,
})

</script>

{% endblock %}
