{% extends "producers/index.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.css"/>
{% endblock %}

{% block producer  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Attestations de Durabilité</h3>
		<table class="display nowrap" id="datatable">
			<thead>
				<tr>
					<th>Période</th>
					<th>Lots</th>
					<th>Brouillons</th>
					<th>À Assigner</th>
					<th>Deadline</th>
				</tr>
			</thead>
			<tbody>
				<tr class="clickable" onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2020-01</td>
					<td>121</td>
					<td>47</td>
					<td>74</td>
					<td>29 Jours</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">

					<td>2019-12</td>
					<td>253</td>
					<td>250</td>
					<td>3</td>
					<td>3 Jours</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2019-11</td>
					<td>187</td>
					<td>187</td>
					<td>0</td>
					<td>Terminé</td>
				</tr>
				<tr onclick="window.location='{% url 'producers-attestation' %}'">
					<td>2019-10</td>
					<td>212</td>
					<td>212</td>
					<td>0</td>
					<td>Terminé</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var table = $('#datatable').DataTable({
			paging: false,
			info: false,
			scrollX: true,
			searching: false,
			autoWidth: false,
			scrollCollapse: true,
			order: [[ 0, "desc" ]],
			data: null,
			columnDefs: [
        		{"className": "dt-center", "targets": "_all"}
      		],
			render: function(data, type, row) {
                return '<a href="#">Link</a>'
            },
		});
	})
</script>
{% endblock %}