{% extends "common/base_private.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.css"/>
{% endblock %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
	<div class="panel">
		<h3>Attestations de Durabilité {{all_good}} {{last_attestations}}</h3>
		<table class="display nowrap" id="datatable">
			<thead>
				<tr>
					<th>Période</th>
					<th>Lots</th>
					<th>Brouillons</th>
					<th>À Assigner</th>
					<th>Échéance</th>
				</tr>
			</thead>
			<tbody>
				{% for a in attestations %}
				<tr 
					{% if a.deadline > today and a.deadline < twoweeks %} 
					class="status_warning" 
					{% elif a.deadline > today %}
					class="clickable"
					{% else %}
					class="status_ok" 
					{% endif %}
					onclick="window.location='{% url 'producers-attestation' attestation_id=a.id %}'">
					<td>{{a.period}}</td>
					<td>{{a.lots}}</td>
					<td>{{a.drafts}}</td>
					<td>{{a.to_affiliate}}</td>
					<td>{{a.deadline}}</td>
				</tr>				
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/fc-3.3.0/datatables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var table = $('#datatable').DataTable({
			paging: false,
			info: false,
			scrollX: true,
			searching: false,
			autoWidth: false,
			scrollCollapse: true,
			order: [[ 0, "desc" ]],
			data: null,
			columnDefs: [
        		{"className": "dt-center", "targets": "_all"}
      		],
			render: function(data, type, row) {
                return '<a href="#">Link</a>'
            },
		});
	})
</script>
{% endblock %}