{% extends "common/base_private.html" %}


{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Corrections</h3>
    {% csrf_token %}
    <div class="flex-container">
      <label for="input_search_datatable" style="margin: auto 5px auto auto;">Rechercher:</label>
      <input type="text" id="input_search_datatable" style="width: 200px; height: 2em; margin-top: auto; margin-bottom: auto;" />
    </div>
    <table class="display nowrap" id="datatable">
      <!-- dynamically generated in js -->
      <thead></thead>
      <tfoot></tfoot>
      <tbody></tbody>
    </table>
  </div>
</div>

<div class="modal__backdrop" id="modal_edit_lot">
  <div class="modal" style="max-width: none; margin: auto; ">
    <p id="err_msg_dom" style="color: tomato">
    </p>
    <div class="flex-container modal-edit">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3 style="text-align: center;">Informations</h3>
        <input type="hidden" id="lot_id" />
        <input type="hidden" id="attestation_id" />
        <dl>
          <dt>Site de Production</dt>
          <dd><input type="text" id="production_site_name" class="autocomplete_production_sites" /><input type="hidden" id="production_site_id" /></dd>
          <dt>Volume à 20°C en Litres</dt>
          <dd><input type="text" id="volume" /></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant_name" class="autocomplete_biocarburants" /><input type="hidden" id="biocarburant_code" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere_name" class="autocomplete_mps" /><input type="hidden" id="matiere_premiere_code" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine_name" class="autocomplete_countries" /><input type="hidden" id="pays_origine_code" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3 style="text-align: center;">Destination</h3>
        <dl>
        <dt><label for="dae">Numéro de DAE / DAU</label></dt>
        <dd><input id="dae" type="text" /></dd>
        <dt><label for="ea_name">Client</label></dt>
        <dd><input type="text" id="ea_name" class="autocomplete_operators" /><input type="hidden" id="ea_id" /></dd>
        <dt><label for="ea_delivery_site">Site de livraison</label></dt>
        <dd><input id="ea_delivery_site" type="text" /></dd>
        <dt><label for="ea_delivery_date">Date de livraison</label></dt>
        <dd><input id="ea_delivery_date" type="text" placeholder="JJ/MM/AAAA" /></dd>
        <dt><label for="client_id" title="Champ optionnel, entrez ce que vous voulez">Référence</label></dt>
        <dd><input id="client_id" type="text" /></dd>
        </dl>
      </div>
      <div class="form__group" style="margin-left: var(--space-l);">
        <h3>Gaz à Effet de Serre</h3>
        <span style="margin-top: -2em; display: block; text-align: left;"><small>en gCO2eq/MJ</small></span>
        <table id="table_lot_ges">
          <thead>
            <th>Émissions</th>
            <th>Réductions</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <label for="eec">EEC </label><input type="text" id="eec" class="ges_field ges_incr" />
              </td>
              <td>
                <label for="esca">ESCA </label><input type="text" id="esca" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EL </label><input type="text" id="el" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCS </label><input type="text" id="eccs" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EP </label><input type="text" id="ep" class="ges_field ges_incr" />
              </td>
              <td>
                <label>ECCR </label><input type="text" id="eccr" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>ETD </label><input type="text" id="etd" class="ges_field ges_incr" />
              </td>
              <td>
                <label>EEE </label><input type="text" id="eee" class="ges_field ges_decr" />
              </td>
            </tr>
            <tr>
              <td>
                <label>EU </label><input type="text" id="eu" class="ges_field ges_incr" />
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <input type="hidden" id="ghg_reference" />
          <thead>
            <tr>
              <th>Total gCO2eq/MJ</th>
              <th id="reduction_title" title="">Réduction<small>*</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ghg_total"></td>
              <td id="ghg_reduction"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form__group" id="comment_section">

    </div>
    <div class="form__group button__group">
      <a class="button primary" id="btn_lot_save">Sauvegarder</a>
      <a class="button secondary close" id="btn_close_modal_edit_lot">Annuler</a>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {

	// create empty footer
	let empty_footer = `<tr>${Array(table_columns_producers_corrections.length).fill("<th></th>").join('')}</tr>`
	$("#datatable tfoot").append(empty_footer)

	var table = $('#datatable').DataTable({
		paging: false,
		info: false,
		scrollX: true,
		fixedColumns: {
			rightColumns: 2,
		},
		language: {
			search: "Rechercher:"
		},
		dom: 'rtip',
		columnDefs: [
		{"className": "dt-center", "targets": "_all"}
		],
		columns: table_columns_producers_corrections,
		ajax: {
			url: `{% url 'api-producers-corrections' %}`,
			dataSrc: function(json) {
				for (let i = 0, len = json.length; i < len; i++) {
			    	// add checkbox on the fly
			    	json[i]["checkbox"] = `<input type="checkbox" />`
			    }
			    return json
			}
		},
		initComplete: function() {
		  // create filter
		  this.api().columns().every(function () {
		  	var column = this;
		  	let table_column = table_columns_producers_corrections[column.index()]
		  	if (table_column.can_filter === true) {
		  		var select = $('<select><option value=""></option></select>')
		  		.appendTo($(column.footer()).empty())
		  		.on('change', function() {
		  			var val = $.fn.dataTable.util.escapeRegex($(this).val());
		  			column.search(val ? '^'+val+'$' : '', true, false).draw();
		  		});
		  		column.data().unique().sort().each(function (d, j) {
		  			select.append('<option value="'+d+'">'+d+'</option>')
		  		});
		  	} else {
		  		$(column.footer()).append(table_column.title)
		  	}
		  }).draw()
		}
	})
	window.table = table

	$('#input_search_datatable').on('keyup', function() {
		table.search(this.value).draw();
	});


	/* click on datatable row */
	$('#datatable_wrapper tbody').on('click', 'td', function() {
	    // check if we clicked on the checkbox
	    let cell = table.cell(this)
	    let colid = cell.index()['column']
	    let row = $(this).closest('tr');
	    let data = table.row(row).data()
	    let table_column = table_columns_producers_corrections[colid]
	    let comment_section = $("#comment_section")
	    comment_section.empty()
	    if (table_column['data'] === 'checkbox') {
	      // ignore clicks on checkbox column
	      return
	  	} else {
	  		let modal = document.getElementById("modal_edit_lot")
		  	for (key in data) {
		  		$(`#${key}`).val(data[key])
		  	}
			// non-input keys
			['ghg_total', 'ghg_reduction'].forEach(function(item, index) {$(`#${item}`).html(data[item])})
			$("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${data['ghg_reference']} gCO2eq/MJ`)
			/* special cases for override */
			let overrideable_fields = ['ea']
			for (let i = 0, len = overrideable_fields.length; i < len; i++) {
				let field = overrideable_fields[i]
				let name_field = `${field}_name`
				let override_field = `${field}_override`
				let is_overriden_field = `${field}_overriden`

				if (data[is_overriden_field] == true) {
					let override = data[override_field]
					$(`#${name_field}`).val(override)
				}
			}

			$.ajax({
				url         : "{% url 'producers-api-lot-comments' %}",
				data        : {'lot_id': data['lot_id'], 'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
				type        : 'POST',
				success     : function(data, textStatus, jqXHR){
				  // Callback code
				  // load existing comments into the form
				  for (let i = 0, len = data.length; i < len; i++) {
				    let c = data[i]
				    let html = `<label style="margin-bottom: 1em; margin-top: 2em;">${c.from}:</label>
				    <textarea name="textarea" readonly>${c.comment}</textarea>`
				    comment_section.append(html)
				  }
				  // add textarea to respond
				  let html = `<label style="margin-bottom: 1em; margin-top: 2em;" for="textarea">Répondre:</label>
				  			  <textarea name="textarea" id="textarea"></textarea>`
				  comment_section.append(html)
				},
				error       : function(e) {
				  if (e.status === 400) {
				    alert(e.responseJSON.message)
				    console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
				  } else {
				    alert("Server error. Please contact an administrator")
				    console.log(`server error ${JSON.stringify(e)}`)
				  }
				}
			})
			modal.style.display = "flex"
	  	}
	})
})
// fixed column styling on row hover
$(document).on({
	mouseenter: function () {
		trIndex = $(this).index();
		$("#datatable tbody").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").addClass("hover")
		});
		$("table.dataTable.DTFC_Cloned tbody").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").addClass("hover")
		});
	},
	mouseleave: function () {
		trIndex = $(this).index();
		$("#datatable tbody").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").removeClass("hover");
		});
		$("table.dataTable.DTFC_Cloned tbody").each(function(index) {
			$(this).find("tr:eq("+trIndex+")").removeClass("hover");
		});
	}
}, ".dataTables_wrapper tbody tr");

$("#btn_lot_save").on('click', handleSave)

function handleSave(action) {
	var err_msg_dom = $("#err_msg_dom")
	var formdata = new FormData();
	formdata.set('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
	$(".modal-edit input").each(function() {
		console.log($(this).attr('id'), $(this).val())
		formdata.set($(this).attr('id'), $(this).val())
	})

    // post form
    $.ajax({
    	url         : "{% url 'producers-api-attestation-save-lot' %}",
    	data        : formdata,
    	cache       : false,
    	contentType : false,
    	processData : false,
    	type        : 'POST',
    	success     : function(data, textStatus, jqXHR) {
        	// Callback code
		    // post new comment if any
		    let comment = $("#textarea").val()
		    if (comment) {
		    	$.ajax({
			    	url         : "{% url 'producers-api-save-comment' %}",
			    	data        : {'lot_id': $("#lot_id").val(), 'comment':comment, 'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
			    	type        : 'POST',
			    	success     : function(data, textStatus, jqXHR) {
			        	// Callback code
			        	window.location.reload()
			        },
			        error       : function(e) {
			        	if (e.status === 400) {
			        		err_msg_dom.html(`${e.responseJSON.message}`)
			        	} else {
			        		alert("Server error. Please contact an administrator")
			        	}
			        }
			    })
		    } else {
			    window.location.reload()
		    }
        },
        error       : function(e) {
        	if (e.status === 400) {
        		err_msg_dom.html(`${e.responseJSON.message}`)
        	} else {
        		alert("Server error. Please contact an administrator")
        	}
        }
    })
}

function load_ges(mp, bc) {
	$.ajax({
		url         : "{% url 'producers-api-ges' %}" + `?mp=${mp}&bc=${bc}`,
		cache       : false,
		contentType : false,
		processData : false,
		type        : 'GET',
		success     : function(data, textStatus, jqXHR) {
	      // Callback code
	      $.each(data, function(key, value) {
	      	$(`#${key}`).val(value)
	      })
	      $("#eec").change()
	  },
	  error       : function(e) {
	  	if (e.status === 400) {
	  		alert(e.responseJSON.message)
	  	} else {
	  		alert("Server error. Please contact an administrator")
	  	}
	  }
	})
}

$(".ges_field").on('change', function() {
	var sum_incr = 0
	var sum_decr = 0
	var ref = parseFloat($("#ghg_reference").val())
	$(".ges_incr").each(function(index, elem) {
		sum_incr += parseFloat(elem.value)
	})
	$(".ges_decr").each(function(index, elem) {
		sum_decr += parseFloat(elem.value)
	})
	var sum = sum_incr - sum_decr
	$("#ghg_total").text(sum.toFixed(2))
	var pct_reduction = (1.0 - (sum / ref)) * 100
	$("#ghg_reduction").text(`${pct_reduction.toFixed(2)}%`)
	$("#reduction_title").attr('title', `Par rapport à des émissions fossiles de référence de ${ref} gCO2eq/MJ`)
})

$(".autocomplete_mps").autocomplete({
	serviceUrl: "{% url 'producers-api-mps-autocomplete' %}",
	dataType: 'json',
	params: {'producer_id': '{{user_entity.id}}' },
	minChars: 0,
	onSelect: function(suggestion) {
		$("#matiere_premiere_code").val(suggestion.data)
		let selected_bc = $("#biocarburant_code").val()
		if (selected_bc !== '') {
			load_ges(suggestion.data, selected_bc)
		}
	},
	onInvalidateSelection: function() {
		$("#matiere_premiere_code").val('')
	},
	showNoSuggestionNotice: true,
})

$(".autocomplete_biocarburants").autocomplete({
	serviceUrl: "{% url 'producers-api-biocarburants-autocomplete' %}",
	dataType: 'json',
	params: {'producer_id': '{{user_entity.id}}' },
	minChars: 0,
	onSelect: function(suggestion) {
		$("#biocarburant_code").val(suggestion.data)
		let selected_mp = $("#matiere_premiere_code").val()
		if (selected_mp !== '') {
			load_ges(selected_mp, suggestion.data)
		}
	},
	onInvalidateSelection: function() {
		$("#biocarburant_code").val('')
	},
})

$(".autocomplete_production_sites").autocomplete({
	serviceUrl: "{% url 'producers-api-production-sites-autocomplete' %}",
	dataType: 'json',
	params: {'producer_id': '{{user_entity.id}}' },
	minChars: 0,
	onSelect: function(suggestion) {
		$("#production_site_id").val(suggestion.data)
	},
	onInvalidateSelection: function() {
		$("#production_site_id").val('')
	}
})

$(".autocomplete_countries").autocomplete({
	serviceUrl: "{% url 'api-country-autocomplete' %}",
	dataType: 'json',
	onSelect: function(suggestion) {
		$("#pays_origine_code").val(suggestion.data)
	},
	onInvalidateSelection: function() {
		console.log('Country invalidated')
		$("#pays_origine_code").val('')
	}
})

$(".autocomplete_operators").autocomplete({
	serviceUrl: "{% url 'api-operators-autocomplete' %}",
	dataType: 'json',
	minChars: 0,
	onSelect: function(suggestion) {
		$("#ea_id").val(suggestion.data)
	},
	onInvalidateSelection: function() {
		$("#ea_id").val('')
	}
})
</script>

{% endblock %}
