{% extends "common/base_private.html" %}

{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Export</h3>
    <a class="button" id="btn_export_csv">Export CSV</a>

      <table class="display nowrap" id="datatable">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">

$(document).ready(function() {
  // create empty footer
  let empty_footer = `<tr>${Array(table_columns.length).fill("<th></th>").join('')}</tr>`
  $("#datatable tfoot").append(empty_footer)

  var table = $('#datatable').DataTable({
    paging: false,
    info: false,
    scrollX: true,
    fixedColumns: {
      rightColumns: 2,
    },
    dom: "lrtip",
    columnDefs: [
    {"className": "dt-center", "targets": "_all"}
    ],
    columns: table_columns,
    ajax: {
      url: `{% url 'api-producers-sample-lots' %}`,
      dataSrc: function(json) {
        for (let i = 0, len = json.length; i < len; i++) {
          let lot_id = json[i]['pk']
          json[i] = json[i]["fields"]
          json[i]['id'] = lot_id
              // add checkbox on the fly
              json[i]["checkbox"] = `<input type="checkbox" />`
            }
            return json
          }
        },
      initComplete: function() {
        // create filter
        this.api().columns().every(function () {
          var column = this;
          let table_column = table_columns[column.index()]
          if (table_column.can_filter === true) {
            var select = $('<select><option value=""></option></select>')
            .appendTo($(column.footer()).empty())
            .on('change', function() {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());
              column.search(val ? '^'+val+'$' : '', true, false).draw();
            });
            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="'+d+'">'+d+'</option>')
            });
          } else {
            $(column.footer()).append(table_column.title)
          }
        }).draw()
      }
  })
  window.table = table

  /* export button */
  var btn_export = document.getElementById("btn_export_csv")
  
  btn_export.onclick = function() {
    let header = []
    const rows = []
    for (let i = 0, len = table_columns.length; i < len; i++) {
      if (table_columns[i].can_export !== false)
        header.push(table_columns[i].data)
    }
    rows.push(header)

    let data = table.rows().data()
    console.log(`nb rows: ${data.length}`)
    for (let i = 0, len = data.length; i < len; i++) {
      // columns with commas will be wrapper in double quotes
      let data_copy = []
      for (let j = 0, ll = table_columns.length; j < ll; j++) {
        let table_col = table_columns[j]
        let coldata = data[i][table_col.data]
        console.log(`line ${i} col ${j} data ${coldata}`)
        if (typeof coldata == 'string' && coldata.includes(',')) {
          coldata = `"${coldata}"`
        }
        if (table_col.can_export === true) {
          data_copy.push(coldata)
        }
      }
      rows.push(data_copy)
    }
    let csvContent = "data:text/csv;charset=utf-8," 
      + rows.map(e => e.join(";")).join("\n");
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "lots.csv");
    document.body.appendChild(link); // Required for FF
    link.click();
  }
})
</script>

{% endblock %}