{% extends "common/base_private.html" %}

{% block content %}
<div class="main">
  <div class="panel">
    <div class="panel__header">
      <h3>Nouveau Lot</h3>
      <small id="err_msg_dom"></small>
    </div>
    <div class="flex-container">
      <div class="form__group" style="margin-top: var(--space-l);">
        <h3>Informations</h3>
        <dl>
          <dt>Site de Production</dt>
          <dd><input type="text" id="production_site_display" class="autocomplete_production_sites" /><input type="hidden" id="production_site" /></dd>
          <dt>Volume</dt>
          <dd><input type="text" id="volume" /></dd>
          <dt>Biocarburant</dt>
          <dd><input type="text" id="biocarburant_display" class="autocomplete_biocarburants" /><input type="hidden" id="biocarburant" /></dd>
          <dt>Matiere Premiere</dt>
          <dd><input type="text" id="matiere_premiere_display" class="autocomplete_mps" /><input type="hidden" id="matiere_premiere" /></dd>
          <dt>Pays d'origine</dt>
          <dd><input type="text" id="pays_origine_display" class="autocomplete_countries" /><input type="hidden" id="pays_origine" /></dd>
        </dl>
      </div>
      <div class="form__group">
        <h3>Émissions de CO2</h3>
        <dl>
          <dt>EEC</dt>
          <dd><input type="text" id="eec" class="ges_field ges_incr" /></dd>
          <dt>EL</dt>
          <dd><input type="text" id="el" class="ges_field ges_incr" /></dd>
          <dt>EP</dt>
          <dd><input type="text" id="ep" class="ges_field ges_incr" /></dd>
          <dt>ETD</dt>
          <dd><input type="text" id="etd" class="ges_field ges_incr" /></dd>
          <dt>EU</dt>
          <dd><input type="text" id="eu" class="ges_field ges_incr" /></dd>
        </dl>
      </div>            
      <div class="form__group">
        <h3>Réductions de CO2</h3>
        <dl>
          <dt>ESCA</dt>
          <dd><input type="text" id="esca" class="ges_field ges_decr" /></dd>
          <dt>ECCS</dt>
          <dd><input type="text" id="eccs" class="ges_field ges_decr" /></dd>
          <dt>ECCR</dt>
          <dd><input type="text" id="eccr" class="ges_field ges_decr" /></dd>
          <dt>EEE</dt>
          <dd><input type="text" id="eee" class="ges_field ges_decr" /></dd>
        </dl>           
      </div>
      <div class="form__group">
        <h3>Bilan CO2</h3>
        <dl>
          <dt>Total émissions GES</dt>
          <dd><input type="text" id="ges_total" /></dd>
          <dt>Émissions de référence</dt>
          <dd><input type="text" id="ref" /></dd>
          <dt>% réduction</dt>
          <dd><input type="text" id="pct_reduction" /></dd>
        </dl>           
      </div>       
      <div class="form__group">
        <h3>Destination</h3>
        <dl>
        <dt><label for="num_dae">Numéro de DAE</label></dt>
        <dd><input id="num_dae" type="text" /></dd>
        <dt><label for="client">Client</label></dt>
        <dd><input id="client_display" type="text" class="autocomplete_operators" /><input type="hidden" id="client" /></dd>
        <dt><label for="site_livraison">Site de livraison</label></dt>
        <dd><input id="site_livraison" type="text" /></dd>
        <dt><label for="date_livraison">Date de livraison</label></dt>
        <dd><input id="date_livraison" type="text" /></dd>
        <dt><label for="client_id">Champ libre</label></dt>
        <dd><input id="client_id" type="text" /></dd>        
        </dl>                        
      </div>                
    </div>
    <div class="row">
      <div class="form__group flex-container-right button-push">
        <a class="button secondary" href="#">Annuler</a>            
        <a id="btn_lot_save" class="button primary">Sauvegarder</a>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $("#btn_lot_save").on('click', function() {
    var err_msg_dom = $("#err_msg_dom")
    var formdata = new FormData();
    formdata.set('attestation_id', '{{attestation_id}}')
    formdata.set('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value)
    $("input").each(function() {
      formdata.set($(this).attr('id'), $(this).val())
    })
    $.ajax({
      url         : "{% url 'producers-api-attestation-save-lot' attestation_id=attestation_id  %}",
      data        : formdata,
      cache       : false,
      contentType : false,
      processData : false,
      type        : 'POST',
      success     : function(data, textStatus, jqXHR) {
        // Callback code
        alert('OK')
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
        } else {
          alert("Server error. Please contact an administrator")
        }
      }
    })
}); 

function load_ges(mp, bc) {
  var formdata = new FormData();
  formdata.set('mp', mp)
  formdata.set('bc', bc)
  $.ajax({
    url         : "{% url 'producers-api-ges' %}",
    data        : formdata,
    cache       : false,
    contentType : false,
    processData : false,
    type        : 'GET',
    success     : function(data, textStatus, jqXHR) {
      // Callback code
      $.each(data, function(key, value) {
        $(`#${key}`).val(value)
      })
      $("#eec").change()
    },
    error       : function(e) {
      if (e.status === 400) {
        alert(e.responseJSON.message)
      } else {
        alert("Server error. Please contact an administrator")
      }
    }
  })
}

$(".ges_field").on('change', function() {
  console.log('ges_field change')
  var sum_incr = 0
  var sum_decr = 0
  var ref = parseFloat($("#ref").val())
  $(".ges_incr").each(function(index, elem) {
    sum_incr += parseFloat(elem.value)
  })
  $(".ges_decr").each(function(index, elem) {
    sum_decr += parseFloat(elem.value)
  })
  var sum = sum_incr - sum_decr
  $("#ges_total").val(sum)
  var pct_reduction = 1.0 - (sum / ref) * 100
  console.log(`pct reduc ${sum} ${ref} ${pct_reduction}`)
  $("#pct_reduction").val(pct_reduction)
})

$(".autocomplete_mps").autocomplete({
  serviceUrl: "{% url 'producers-api-mps-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#matiere_premiere").val(suggestion.data)
    let selected_bc = $("#biocarburant").val()
    if (selected_bc !== '') {
      load_ges(suggestion.data, selected_bc.data)
    }
  }  
})

$(".autocomplete_biocarburants").autocomplete({
  serviceUrl: "{% url 'producers-api-biocarburants-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#biocarburant").val(suggestion.data)
    let selected_mp = $("#matiere_premiere").val()
    if (selected_mp !== '') {
      load_ges(selected_mp.data, suggestion.data)
    }
  }
})

$(".autocomplete_production_sites").autocomplete({
  serviceUrl: "{% url 'producers-api-production-sites-autocomplete' %}",
  dataType: 'json',
  params: {'producer_id': '{{user_entity.id}}' },
  minChars: 0,
  onSelect: function(suggestion) {
    $("#production_site").val(suggestion.data)
  },
})

$(".autocomplete_countries").autocomplete({
  serviceUrl: "{% url 'api-country-autocomplete' %}",
  dataType: 'json',
  onSelect: function(suggestion) {
    $("#pays_origine").val(suggestion.data)
  },  
})

$(".autocomplete_operators").autocomplete({
  serviceUrl: "{% url 'api-operators-autocomplete' %}",
  dataType: 'json',
  onSelect: function(suggestion) {
    $("#client").val(suggestion.data)
  },  
})

</script>
{% endblock %}