{% extends "common/base_private.html" %}


{% block content  %}
<div class="main" style="overflow-x: auto;">
  <div class="panel">
    <h3>Mass Balance</h3>
    {% csrf_token %}

    <div id="tab_mb" class="tabcontent">
      <p>Votre comptabilité matière.<br />
         Vous pouvez découper ou fusionner des lots et les envoyer à vos clients. Un import Excel est également disponible.
      </p>

      <div class="flex-container">
        <a id="btn_open_modal_columns_tab_mb" class="button modal-button" style="margin-left: 5px; margin-right: auto; padding: var(--space-xs) var(--space-xs) 0 var(--space-xs)">
          <img src="/static/images/icons/internal/funnel2.svg" height="24" width="24"  style="margin-bottom: 5px;" />
        </a>
      </div>

      <table class="display nowrap" id="datatable_mb">
        <!-- dynamically generated in js -->
        <thead></thead>
        <tfoot></tfoot>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_columns_tab_mb">
  <div class="modal">
    <div class="flex-container">
      <table id="table_columns_tab_mb_filter">
        <!-- dynamically generated in js -->
      </table>
      <table id="table_columns_tab_mb_filter2">
        <!-- dynamically generated in js -->
      </table>
    </div>
    <div class="form__group button__group">
      <a class="button secondary close" id="btn_close_modal_columns_tab_mb">Fermer</a>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
window.producers_api_lots_mb_v2 = "{% url 'api-v2-producers-get-mb' %}"
$(document).ready(function() {
  // show drafts tab
  tabcontent = document.getElementById("tab_mb")
  tabcontent.style.display = "block";
  init_datatables_generic("tab_mb")
})
</script>

{% endblock %}
