	<aside class="side-menu" role="navigation" style="max-width: 170px;">
		<ul>
			<li>
				<a {% if current_url_name == 'producers-index' or current_url_name == 'producers-attestation' %}class="active"{% endif %} href="{% url 'producers-index' %}">
					Attestations
				</a>
				{% if current_url_name == 'producers-attestation' or current_url_name == 'producers-attestation-edit-lot' or current_url_name == 'producers-attestation-new-lot' %}
				<ul>
					{% for na in next_attestations %}
					<li class="side-menu-submenu"><a href="{% url 'producers-attestation' attestation_id=na.id %}">{{na.period}}</a></li>
					{% endfor %}
					<li class="side-menu-submenu"><a href="{% url 'producers-attestation' attestation_id=current_attestation.id %}" class="active-submenu">{{current_attestation.period}}</a></li>
					{% for pa in previous_attestations %}
					<li class="side-menu-submenu"><a href="{% url 'producers-attestation' attestation_id=pa.id %}">{{pa.period}}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			<li><a {% if current_url_name == 'producers-export' %}class="active"{% endif %} href="{% url 'producers-export' %}">Export</a></li>
			<li><a {% if current_url_name == 'producers-corrections' %}class="active"{% endif %} href="{% url 'producers-corrections' %}">Corrections<span class="badge badge-green">2</span></a></li>
			<li><a {% if current_url_name == 'producers-controles' %}class="active"{% endif %} href="{% url 'producers-controles' %}">Contrôles<span class="badge badge-red">2</span></a></li>
			<li><a {% if current_url_name == 'annuaire' %}class="active"{% endif %} href="{% url 'annuaire' %}">Annuaire</a></li>
			<li><a {% if current_url_name == 'producers-settings' %}class="active"{% endif %} href="{% url 'producers-settings' %}">Paramètres</a></li>
		</ul>
	</aside>
