{% extends "common/base_private.html" %}

{% block content %}
<div class="main">
  <div class="panel">
    <div class="panel__header">
      <h3>Paramètres</h3>
      <small class="panel__header-extra">Vos préférences</small>
    </div>
    <div class="form__group">
      <fieldset>
        <h3>Annuaire</h3>
        <input type="checkbox" checked="checked" name="checkbox" id="checkbox-annuaire-societe" value="1"><label for="checkbox-annuaire-societe" class="label-inline">Je souhaite faire apparaître ma société dans l'annuaire</label>
        <input type="checkbox" name="checkbox" id="checkbox-annuaire-contact" value="1"><label for="checkbox-annuaire-contact" class="label-inline">Je souhaite faire apparaître mes coordonnées de contact dans l'annuaire</label>
      </fieldset>
    </div>  
    <h3>Sites de production</h3>

    {% for site in sites %}
    <section class="form__group"> 
      <div class="panel">
        <div class="panel__header">
          <h3>{{site.name}}</h3>
        </div>

        <div class="flex-container">
          <div class="form__group">
            <dl>
              {% if site.certificate %}
              <dt>Numéro de Certificat</dt>
              <dd>{{site.certificate.certificate_id}}</dd>
              <dt>Certificat PDF</dt>
              <dd>
                <a href="{{ site.certificate.certificate.url }}" target="_blank">{{ site.certificate.certificate.name }}</a>
                <li class="label" style="background: var(--light-blue); padding: 2px;" title="Supprimer"><a class="btn_open_modal_delete_certif" data-crtid="{{site.certificate.id}}" data-site="{{site.name}}" data-num="{{site.certificate.certificate.name}}" data-expi="{{site.certificate.expiration}}">x</a>
              </dd>
              <dt>Expiration</dt>
              <dd>{{site.certificate.expiration}}</dd>
              <dt>Statut</dt>
              <dd>{{site.certificate.get_status_display}}</dd>
              {% else %}
              <dd>Certificat manquant</dd>
              {% endif %}
            </dl>

          </div>        
          <div class="form__group">
            <dl>
              <dt>Pays</dt>
              <dd>{{site.country}}</dd>                
              <dt>Date de Mise en Service</dt>
              <dd>{{site.date_mise_en_service}}</dd>
              <dt>Éligible double-comptage</dt>
              <dd>{{site.eligible_dc}}</dd>
              <dt>Option GES</dt>
              <dd>{{site.ges_option}}</dd>              
            </dl>
          </div>            
          <div class="form__group">
            <label>Matières premières</label>
            <ul class="label-list">
              {% for input in site.inputs %}
                {% if input.status == "Pending" %}
                <li class="label" style="background: var(--light-orange);" title="{{input.get_status_display}}"><a>{{input.matiere_premiere}}</a></li>
                {% else %}
                <li class="label" style="background: var(--light-green);"title="{{input.get_status_display}}"><a>{{input.matiere_premiere}}</a></li>
                {% endif %}
              {% endfor %}     
            </ul>
            <label for="token">Ajout matière première</label>
            <div class="input__group">
              <input type="text" name="mp" class="autocomplete_mp" data-siteid="{{site.id}}" />
            </div>
          </div>
          <div class="form__group">
            <label>Biocarburants</label>
            <ul class="label-list">
              {% for output in site.outputs %}
                {% if output.status == "Pending" %}
                <li class="label" style="background: var(--light-orange);" title="{{output.get_status_display}}"><a>{{output.biocarburant}}</a></li>
                {% else %}
                <li class="label" style="background: var(--light-green);"title="{{input.get_status_display}}"><a>{{output.biocarburant}}</a></li>
                {% endif %}              
              {% endfor %}                
            </ul>
            <label for="token">Ajout biocarburant</label>
            <div class="input__group">
              <input type="text" name="biocarburant" class="autocomplete_biocarburant" data-siteid="{{site.id}}" />
            </div>
          </div>      
        </div>
        <div class="row">
          <div class="form__group flex-container-right">
            <button type="submit" class="button btn_open_modal_site_edit" data-siteid="{{site.id}}">Modifier</button>
          </div>             
        </div>
      </div>
    </section>     
    {% endfor %}   
        <div class="row">
          <div class="form__group flex-container-right">
            <button type="submit" class="button" id="btn_open_modal_site">Ajouter un site de production</button>
          </div>             
        </div>
  </div>
</div>

<div class="modal__backdrop" id="modal_site">
  <div class="modal">
    <span id="modal_site_form_err_message" style="color: red;"></span>
    <form id="modal_site_form" method="POST" data-url="{% url 'producers-api-settings-add-site' %}">
      {% csrf_token %}
      <label for="modal_site_name">Nom du site de production</label>
      <input type="text" id="modal_site_name" name="name" placeholder="Grandpuits">
      <label for="modal_site_date">Date de mise en service approximative</label>
      <input type="text" id="modal_site_date" name="date_mise_en_service" placeholder="DD/MM/YYYY">
      <label for="modal_site_country">Pays</label>
      <input type="text" id="modal_site_country" name="country" placeholder="FR - France">
      <label for="modal_site_ges_option">Option GES</label>
      <select id="modal_site_ges_option">
        <option value="Default">Valeurs par défaut</option>
        <option value="Actual">Valeurs réelles</option>
      </select>
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_site">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_site_edit">
  <div class="modal">
    <span id="modal_site_edit_form_err_message" style="color: red;"></span>
    <form id="modal_site_edit_form" method="POST" data-url="{% url 'producers-api-settings-add-certif' %}">
      {% csrf_token %}
      <input type="hidden" id="modal_site_edit_site" name="site">
      <label for="modal_site_edit_certif_id">Identifiant du certificat</label>
      <input type="text" id="modal_site_edit_certif_id" name="certif_id" placeholder="EU-ISCC-Cert-PLXXX-XXXXXXXXX">
      <label for="modal_site_edit_certif_expiration">Date d'expiration</label>
      <input type="text" id="modal_site_edit_certif_expiration" name="expiration" placeholder="24/12/2021">
      <label for="modal_site_edit_certif_file_to_upload">Certificat</label>
      <input type="file" id="modal_site_edit_certif_file_to_upload" name="file">
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_site_edit">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="modal__backdrop" id="modal_certif_delete">
  <div class="modal">
    <span id="modal_certif_delete_form_err_message" style="color: red;"></span>
    <form id="modal_certif_delete_form" method="POST" data-url="{% url 'producers-api-settings-delete-certif' %}">
      {% csrf_token %}
      <p>Êtes vous sûr de vouloir supprimer ce certificat ?</p>
      <dl>
        <dt>Site de Production</dt>
        <dd id="modal_certif_delete_site"></dd>      
        <dt>Numéro</dt>
        <dd id="modal_certif_delete_num"></dd>                
        <dt>Date d'expiration</dt>
        <dd id="modal_certif_delete_expi"></dd>
      </dl>      
      <input type="hidden" id="modal_certif_crtid" name="certif_id">
      <div class="form__group button__group">
        <a class="button secondary close" id="btn_close_modal_certif_delete">Annuler</a>
        <button type="submit" class="button">Valider</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$("#modal_site_country").autocomplete({
  serviceUrl: "{% url 'api-country-autocomplete' %}",
  dataType: 'json',
});

$(".autocomplete_biocarburant").autocomplete({
  serviceUrl: "{% url 'api-biocarburant-autocomplete' %}",
  dataType: 'json',
  minChars: 0,
  formatResult: function(suggestion, currentValue) {
    return `<span title="${suggestion.description}">${suggestion.value}</span>`
  },    
  onSelect: function (suggestion) {
    $.ajax({
      url         : "{% url 'producers-api-settings-add-biocarburant' %}",
      data        : {'site': $(this).attr('data-siteid'), 'biocarburant': suggestion.data, 
                      'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
        // Callback code
        window.location.reload()
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
          console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
        } else {
          alert("Server error. Please contact an administrator")
          console.log(`server error ${JSON.stringify(e)}`)
        }
      }
    })
  }
})
$(".autocomplete_mp").autocomplete({
  serviceUrl: "{% url 'api-matiere-premiere-autocomplete' %}",
  dataType: 'json',
  minChars: 0,
  formatResult: function(suggestion, currentValue) {
    return `<span title="${suggestion.description}">${suggestion.value}</span>`
  },  
  onSelect: function (suggestion) {
    $.ajax({
      url         : "{% url 'producers-api-settings-add-mp' %}",
      data        : {'site': $(this).attr('data-siteid'), 'matiere_premiere': suggestion.data, 
                      'csrfmiddlewaretoken':document.getElementsByName('csrfmiddlewaretoken')[0].value},
      type        : 'POST',
      success     : function(data, textStatus, jqXHR){
        // Callback code
        window.location.reload()
      },
      error       : function(e) {
        if (e.status === 400) {
          alert(e.responseJSON.message)
          console.log(`server error ${JSON.stringify(e.responseJSON.extra)}`)
        } else {
          alert("Server error. Please contact an administrator")
          console.log(`server error ${JSON.stringify(e)}`)
        }
      }
    })
  }  
});

</script>
{% endblock %}