{% extends "producers/index.html" %}

{% block producer  %}
<div class="main">
  <div class="panel">
   <div class="panel__header">
    <h3>Paramètres</h3>
    <small class="panel__header-extra">Vos préférences</small>
  </div>
  <div class="form__group">
    <fieldset>
      <legend>Annuaire</legend>
      <input type="checkbox" checked="checked" name="checkbox" id="checkbox-annuaire-societe" value="1"><label for="checkbox-annuaire-societe" class="label-inline">Je souhaite faire apparaître ma société dans l'annuaire</label>
      <input type="checkbox" name="checkbox" id="checkbox-annuaire-contact" value="1"><label for="checkbox-annuaire-contact" class="label-inline">Je souhaite faire apparaître mes coordonnées de contact dans l'annuaire</label>
    </fieldset>
  </div>   
</div>
</div>
{% endblock %}