.operation--rejected {
  text-decoration: line-through;
}

.operation-debit {
  color: var(--text-default-error);
}

.operation-credit {
  color: var(--text-default-success);
}

.operation-table__sector {
  color: var(--info-425-625);
  padding: 0;
}

.operation-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operation-detail-fields {
  --grid-cell-width: 350px;
  grid-template-columns: repeat(2, minmax(var(--grid-cell-width), 1fr));
  row-gap: var(--spacing-3v);
  column-gap: var(--spacing-3w);
}

.operation-detail-fields-depot {
  grid-column: 1 / -1;
}

.field-label {
  color: var(--text-mention-grey);
}

.field-value {
  color: var(--text-label-grey);
}
