{% extends "common/base_private.html" %}

{% block content %}
<div class="main">
  <div class="panel">
    <div class="panel__header">
      <h3>Nouveau Mot de Passe</h3>
    </div>

    {% if form.errors %}
    <p>{% for key, value in form.errors.items %} {% if key != "__all__" %} {{key}} : {% endif %} {{value}} {% endfor %}</p>
    {% endif %}
    <form method="post" id="new_password_form">
      {% csrf_token %}
      <div class="form-group">
        <div class="col"></div>
        <div class="col">
          <input type="password" id="id_new_password1" name="new_password1" placeholder="Nouveau mot de passe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New Password'" required class="single-input">
          <input type="password" id="id_new_password2" name="new_password2" hidden />
        </div>
        <div class="col"></div>
      </div>
      <div class="form-group">
        <div class='col'></div>
        <div class='col'>
          <a id="new_password_button" class="button primary">Ok</a>
        </div>
        <div class='col'></div>
      </div>
    </form>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function () {
    "use strict";
    $("#new_password_button").click(function () {
      $("#id_new_password2").val($("#id_new_password1").val())
      $("#new_password_form").submit()
    });
  });
</script>

{% endblock %}